<%= if @alerts && @alerts != [] do %>
  <div class="col-xs-12">
    <p>
      <span class="alert-severe">
        <%= display_alert_effects(@alerts, if(length(@alerts) == 1, do: @suffix <> ":", else: @suffix)) %>
      </span>
      <%= if length(@alerts) == 1 do %>
        <%= (hd @alerts).header %>
      <% end %>
    </p>
  </div>
<% end %>
