<div class="row">
  <div class="col-xs-12">
    <h5>
      <%= render "_mode_image.html", forward_assigns(@conn) %>
      <%= @route.name %>: Service Alerts & Notices</strong>
    </h5>
  </div>
</div>
