<small class="pull-sm-right">
  <%= direction(@direction_id, @route.id) %>
  <%= if @conn.assigns[:to] && not Enum.all?(@to, &(&1 == "")) do %>
    to: <%= @to |> Enum.join("/")%>
  <% end %>
  <br class="hidden-sm-down">
  <a href="<%= update_url @conn, trip: "", direction_id: @reverse_direction_id, dest: @destination && @origin, origin: @destination || @origin %>">Switch&nbsp;to&nbsp;<%= direction(@reverse_direction_id, @route.id) %> <%= fa "arrow-circle-right" %></i></a>
</small>
