<small class="pull-sm-right">
  <%= direction(@direction_id, @route.id) %>
  <%= if @conn.assigns[:to] && not Enum.all?(@to, &(&1 == "")) do %>
    to: <%= @to |> Enum.join("/")%>
  <% end %>
  <br class="hidden-sm-down">
  <a href="<%= update_url @conn, reverse_direction_opts(@origin, @destination, @route.id, @reverse_direction_id) %>">Switch&nbsp;to&nbsp;<%= direction(@reverse_direction_id, @route.id) %> <%= fa "arrow-circle-right" %></a>
</small>
