<div class="p-b-1 p-x-0">
  <div class="col-xs-12 col-md-5 p-x-0">
    <%= if @conn.assigns[:route] != nil do %>
      <h4><%= render "_route.html", forward_assigns(@conn) %></h4>
    <% end %>
    <%= render "_date.html", date: @date, conn: @conn %>
  </div>
  <div class="col-xs-12 col-md-7 p-x-0 schedule-direction">
    <%= render "_direction.html", forward_assigns(@conn) %>
  </div>
</div>
