<div class="schedule-route-name">
  <div class="schedule-route-name-container">
    <h1>
      <span class="<%= @route.id |> String.downcase %>">
        <%= svg_icon_with_circle(%SvgIconWithCircle{icon: Routes.Route.type_atom(@route)}) %>
      </span>
      <%= route_header_text(@route) %>
    </h1>
    <%= render "_date_picker.html", date: @date, date_select: @date_select, conn: @conn %>
  </div>
</div>
