<%= case TimeGroup.frequency(@schedules) do %>
  <%= {min, max} -> %>Every <%= min %>-<%= max %> <span class="sr-only">minutes</span><span aria-hidden="true">mins</span>
  <%= nil -> %>At <%= @schedules |> (fn [schedule] -> schedule.time end).() |> Timex.format!("{kitchen}") %>
  <%= value -> %>Every <%= value %> <span class="sr-only">minutes</span><span aria-hidden="true">mins</span>
<% end %>
