<p class="schedule-empty">
  Currently, there are no scheduled trips
  <%= case Enum.find(@all_stops, &(&1.id == @origin)) do
      nil -> ""
      %{name: name} -> "from #{name}"
      end %>
  <%= case Enum.find(@all_stops, &(&1.id == @destination)) do
      nil -> ""
      %{name: name} -> "to #{name}"
      end %>
  on <%= @date |> Timex.format!("{Mfull} {D}, {YYYY}") %>.
</p>
