<div class="pre-container-wrapper">
  <div class="container">
    <div class="pre-container-header">
    </div>
    <%= render Site.TransitNearMeView, "_input.html", tnm_address: @tnm_address, conn: @conn %>
    <%= render Site.TransitNearMeView, "_results.html", class: "transit-near-me-white", stops_with_routes: @stops_with_routes, stop_groups: @stop_groups, conn: @conn %>
  </div>
</div>
