<div class="index">
  <%= render Site.ModeView, "index.html", conn: @conn, grouped_routes: @grouped_routes, include_ride: false, card_class: "page-section-narrow", alerts: @alerts, date: @date %>
</div>
