<div class="route-holiday-container">
  <h2>Upcoming Holidays</h2>

  <ul class="route-holiday-info">
    <%= for holiday <- @holidays do %>
      <li>
        <%= holiday.name %> (<%= format_full_date(holiday.date) %>)
      </li>
    <% end %>
  </ul>
  <%= link to: cms_static_page_path(@conn, "/holidays") do %>
    View holiday schedules <%= fa "arrow-right" %>
  <% end %>
</div>
