<%= tab_list(%TabList{
  links: [
    {"Time Table", update_schedule_url(@conn, tab: "timetable"), tab_selected?("timetable", @tab)},
    {"Trip View", update_schedule_url(@conn, tab: "trip-view"), tab_selected?("trip-view", @tab)}
  ]
}) %>
<%= render template_for_tab(@tab), forward_assigns(@conn) %>
