<p>
  Schedules For <%= Timex.format!(@date, "%b %e", :strftime) %> -
  <%= link to: update_schedule_url(@conn, date_select: (if @show_date_select?, do: nil, else: true)) do %>
    <% icon_class = if @show_date_select?, do: "angle-up", else: "angle-down" %>
    Change date <%= fa icon_class %>
  <% end %>
</p>
