<h3>Holiday Schedule Information</h3>

<strong>Upcoming Holidays:</strong>

<ul class="route-holiday-info">
  <%= for holiday <- @holidays do %>
    <li>
      <%= holiday.name %> (<%= format_full_date(holiday.date) %>)
    </li>
  <% end %>
</ul>
