<div class="row page-section trip-filters">
    <%= render "_direction_select.html", conn: @conn, headsigns: @headsigns, direction_id: @direction_id, route: @route, origin: @origin, destination: @destination, show_date_select?: @show_date_select?, force_six_column: true %>
    <%= if length(@route_shapes) > 1 && @route.type == 3 do %>
      <%= render "_variant_select.html", conn: @conn, shapes: @route_shapes, active_shape: @active_shape %>
    <% end %>
</div>
