<%= if @add_expand_link? && @direction_id == 0, do: render "_stop_list_expand_link.html", assigns %>
<div class="route-branch-stop">
  <%= render "_stop_list_row_bubbles.html", assigns %>
  <div class="route-branch-stop-info">
    <%= render @row_content_template, assigns %>
  </div>
</div>
<%= if @add_expand_link? && @direction_id == 1, do: render "_stop_list_expand_link.html", assigns %>
