<div class="route-branch-stop">
  <%= render Site.StopBubblesView,"list.html", Map.put(assigns, :is_expand_link?, true) %>
  <div class="route-branch-stop-info expand">
    <div class="expand-branch-link">
      <%= view_branch_link(@conn, @expanded, @stop.branch) %>
    </div>
  </div>
</div>
