<div class="schedule-list-group-item">
  <div class="col-xs-6">
    <%= display_scheduled_prediction(@departure) %>
  </div>
  <div class="col-xs-6">
    <%= if @arrival do %>
      <%= display_scheduled_prediction(@arrival)%>
    <% else %>
      <%= if assigns[:trip] do %>
        <%= @trip.headsign %>
      <% end %>
    <% end %>
    <%= if @alerts != [] do %>
      <%= svg_icon(%SvgIcon{icon: :alert, class: "icon-small"}) %>
    <% end %>
  </div>
</div>
