<div class="schedule-filter-row">
  <%= render "_date_filter.html", forward_assigns(@conn) %>
  <%= render "_direction_filter.html", forward_assigns(@conn) %>
</div>
<%= if @show_date_select? do %>
  <%= Site.ScheduleV2View.render "_date_picker.html", date: @date, show_date_select?: @show_date_select?, conn: @conn, calendar: @calendar %>
<% end %>
