<%= Site.ScheduleV2View.render "_route.html", forward_assigns(@conn) %>
<%= Site.ScheduleV2View.render "_direction.html", forward_assigns(@conn) %>
<%= render @schedule_template, forward_assigns(@conn) %>
