<div class="multi-column-wrapper">
  <div class="row">
    <% grid = round(12/Enum.count(@paragraph.columns)) %>
    <%= for {column, i} <- Enum.with_index(@paragraph.columns) do %>
      <div class="col-md-<%= grid %> col-<%= i+1 %>">
        <%= render "_column.html", columns: column %>
      </div>
    <% end %>
  </div>
</div>
