<div class="card card-section">
  <div class="row">
    <div class="col-xs-12">
      <h1 class="h2 station-list-heading">Name</h1>
    </div>
  </div>
  <div class="row">
    <ul class="station-list">
      <%= for station <- @stations do %>
        <li class="col-xs-12">
          <%= link station.name, to: station_path(@conn, :show, station) %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
