<h1>
  <%= @station.name %>

  <%= for accessibility <- @station.accessibility do %>
  <img src="<%= static_path(@conn, "/images/access_#{accessibility}.gif") %>" />
  <% end %>
</h1>

<h4><%= @station.address %></h4>

<pre><%= inspect @station, pretty: true %></pre>

<%= link "Back", to: station_path(@conn, :index) %>
