<div class="post-container-wrapper">

  <%= render SiteWeb.PageView, "_whats_happening.html", conn: @conn, whats_happening_items: @whats_happening_items %>

  <%= render SiteWeb.PageView, "_news_and_updates.html", conn: @conn, news: @news %>
  <%= render SiteWeb.PageView, "_fares_passes.html", conn: @conn, common_fare_summaries: @common_fare_summaries %>
  <%= render SiteWeb.PageView, "_important_links.html", conn: @conn %>
</div>
