<div class="index">
  <%= if Laboratory.enabled?(@conn, :homepage_redesign) do shortcut_icons() end %>
  <%= render(SiteWeb.ModeView, "index.html", conn: @conn, grouped_routes: @grouped_routes, include_ride: false, card_class: "page-section-narrow", all_alerts: @all_alerts, date: @date) %>
</div>
