<div class="error-card">
  <h1><strong>500</strong></h1>
  <h2>It looks like we have our signals crossed. Sorry about that. Try refreshing the page in a few minutes.</h2>
  <img src="<%= static_url(Site.Endpoint, "/images/error-bus.gif") %>" />
</div>
