<div class="error-card">
  <h1><strong>500</strong></h1>
  <h2>We are sorry. It looks like we have our signals crossed.  Our developers have been notified, and they will fix this error as soon as possible.</h2>
  <p><a href="/">Return to the homepage.</a></p>
  <img src="<%= static_url(Site.Endpoint, "/images/error-bus.gif") %>" />
</div>
