<div class="error-page">
  <div class="error-card">
    <h1><strong>404</strong></h1>
    <p>Your stop cannot be found. This page is no longer in service.</p>
    <p><a href="/">Return to the homepage.</a></p>
    <div class="error-image">
      <%= img_tag static_url(Site.Endpoint, "/images/error-bus.gif"), alt: "", aria: [hidden: true] %>
    </div>
  </div>
</div>
