<% old_search_url = "#{@former_site}/search?q=#{URI.encode(@query)}" %>
<a class="search-archive" href="<%= old_search_url %>">
  <div>Not finding what you are looking for? It may still be on our legacy site.</div>
  <div>Search the old website <%= fa "arrow-right" %></div>
</a>
