*~
Mnesia*
_build
deps
node_modules
test
cache
rel
erl_crash.dump
build.sh
deploy.sh

# Elastic Beanstalk Files
.elasticbeanstalk/*
.git
.gitignore
.dockerignore
.semaphore-cache
apps/site/node_modules
apps/site/vendor/nodep-date-input-polyfill/node_modules
apps/site/test/backstop_data
aws
site-build.zip
