/_build
/cover
/deps
erl_crash.dump
*.ez
/apps/site/.sass-cache/

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
/site-build.zip
/apps/site/backstop_data/bitmaps_test
