/_build
/cover
/deps
erl_crash.dump
*.ez
/apps/site/.sass-cache/
.DS_Store
.ruby-version

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/config.yml
/site-build.zip
/apps/site/backstop_data/bitmaps_test
/apps/site/backstop_data/html_report
npm-debug.log
/log
*.log
/apps/news/posts.zip
bin
excoveralls.json
doc/
