<% former_site_name = @former_site |> String.replace("https://", "") %>
<a class="search-archive" href="<%= @former_site %>">
  <div>Not finding what you are looking for? It may still be on our legacy site.</div>
  <div>Search the old <%= former_site_name %> <%= fa "arrow-right" %></div>
</a>
