<div class="how-to-pay-sub-section col-md-6 col-xs-12">
  <h3>Fare Vending Machines</h3>
  <p>You can load any amount of money for One Way fares or a pass (1-Day, 7-Day, Monthly) onto a CharlieCard or CharlieTicket at fare vending machines found at all Subway stations and the following Commuter Rail stations:</p>
  <p><%= Site.FareView.vending_machine_stations() %></p>
</div>
