<div class="col-md-6 col-xs-12 how-to-pay-sub-section">
  <h3>Retail Sales Locations</h3>
  <p>
    You can get blank CharlieCards and load any amount of money for One Way fares or a pass (1-Day, 7-Day, Monthly) at stores located throughout the Greater Boston and Providence areas.
  </p>
  <p>
    <%= link to: redirect_path(@conn, "fares_and_passes/sales_locations/"), target: "_blank" do %>
      Find a store near you <%= fa "arrow-right" %>
    <% end %>
  </p>
</div>
