<div class="page-section">
  <div class="page-block row">
    <div class="col-xs-12">
      <h1>How to Pay</h1>
      <%= mode_tab_list %ModeTabList{
        links: for mode <- [:subway, :bus, :commuter_rail, :ferry, :the_ride] do
          {mode, how_to_pay_path(@conn, :show, mode)}
        end,
        selected_mode: @mode
      } %>
    </div>
    <div class="clearfix"></div>
    <%= render mode_template(@mode), conn: @conn %>
  </div>
</div>
