<div class="button-group">
  <%= for detailed_stop <- @detailed_stops do %>
    <div class="detailed-stop-list">
      <%= render "_detailed_stop.html", conn: @conn, detailed_stop: detailed_stop %>
    </div>
  <% end %>
</div>
