<div class="button-group">
  <div class="detailed-stop-list">
    <%= for detailed_stop <- @detailed_stops do %>
        <%= render "_detailed_stop.html", conn: @conn, detailed_stop: detailed_stop %>
    <% end %>
  </div>
</div>
