<div class="page-section station">
  <p class="stations-address">
  <%= if @stop.address && @stop.address != "" do %>
    <%= @stop.address %>
    <span class="no-wrap">
      <%= link to: "https://maps.google.com/?q=#{location(@stop)}", target: "_blank" do %>
        Get directions <%= fa "arrow-right" %>
      <% end %>
    </span>
  <% end %>
  </p>

  <%= render template_for_tab(@tab), forward_assigns(@conn) %>
</div>
