.m-cms--with-sidebar {
  @include media-breakpoint-down(sm) {
    display: flex;
    flex-direction: column;
  }
}

.m-cms__sidebar,
.m-cms__content--with-sidebar {
  @include make-col();
}

.m-cms__sidebar {
  @include media-breakpoint-down(sm) {
    order: 2;
  }

  @include media-breakpoint-only(md) {
    @include make-col-span(4);
  }

  @include media-breakpoint-up(lg) {
    @include make-col-span(3);
  }

  &.fixedsticky-on {
    // We use a vendor plugin that applies position: fixed in browsers
    // that don't support position: sticky, and this class indicates that
    // it is active. However, it appears that position: fixed
    // affects sidebar's width context somehow, & makes it so that 25%
    // means 25% of the whole page, instead of the container.
    // So when that class is applied, we define the width using pixels
    // instead of %.  -kh
    @each $breakpoint in md, lg, xxl {
      @include media-breakpoint-only($breakpoint) {
        width: map-get($container-max-widths, $breakpoint) / 4;
      }
    }
  }
}

.m-cms__sidebar-title {
  margin-bottom: $base-spacing-sm;
  margin-top: $base-spacing-lg;

  @include media-breakpoint-up(md) {
    @include h3();
  }
}

.m-cms__sidebar-blurb {
  @include media-breakpoint-up(md) {
    display: none;
  }
}

.m-cms__sidebar-links {
  padding-left: 0;

  li {
    list-style-type: none;
  }

  > :last-child {
    border-bottom: $border;
  }
}

.m-cms__sidebar-link {
  border-left: $border;
  border-right: $border;
  border-top: $border;
  display: block;
  padding: $base-spacing-sm $base-spacing;
  text-decoration: none;

  @include hover-focus-active {
    background-color: $brand-primary;
    color: $white;
    text-decoration: none;
  }
}

.m-cms__sidebar-link--is-current {
  background-color: $brand-primary;
  color: $white;
}

.m-cms__content--with-sidebar {
  @include make-col();

  @include media-breakpoint-only(md) {
    @include make-col-span(8);
  }

  @include media-breakpoint-up(lg) {
    @include make-col-span(9);
  }

  .fixedsticky-on ~ & {
    float: right;
  }
}

.news-content,
.content-page-content,
.landing-page-content {
  img {
    @include img-fluid();
    margin-bottom: $base-spacing;
  }
}

.landing-page-hero {
  background-color: $gray;
  background-position: center;
  background-size: cover;
  color: $white;
  text-align: center;

  @include media-breakpoint-up(md) {
    min-height: $hero-height-desktop;
  }

  @include media-breakpoint-down(sm) {
    // scss-lint:disable PropertySortOrder

    min-height: $hero-height-mobile;

    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.landing-page-titles {
  @include media-breakpoint-down(sm) {
    width: 80%;
  }
}

.landing-page-title {
  border: 0;
  margin-bottom: 0;

  @include media-breakpoint-up(md) {
    font-size: $font-size-hero-desktop;
    line-height: $headings-line-height;
    padding-top: ($hero-height-desktop / 2) - ((($font-size-hero-desktop / 1rem) * $headings-line-height * 16px) / 2);
  }

  @include media-breakpoint-down(sm) {
    font-size: $font-size-hero-mobile;
    margin-bottom: $base-spacing;
  }
}

.landing-page-subtitle {
  font-size: 1rem;
}

.landing-page-stripe-bar {
  margin-bottom: $base-spacing-lg;
}

.landing-page-content h2 {
  // scss-lint:disable PlaceholderInExtend
  @extend .h1;
}

.landing-page-content h3 {
  font-size: $font-size-h2;

  @include media-breakpoint-up(xxl) {
    font-size: $font-size-h2-xxl;
  }
}

.landing-page-content h4 {
  font-size: $font-size-h3;

  @include media-breakpoint-up(xxl) {
    font-size: $font-size-h3-xxl;
  }
}

.content-person-sidebar-img {
  float: left;
}

.content-person-body {
  @include media-breakpoint-up(sm) {
    margin-left: 170px;
  }
}

.content-file-grid-row {
  margin-bottom: $base-spacing-sm;
}

.call-to-action-paragraph {
  margin-bottom: $base-spacing;
}

.row-lined {
  @include media-breakpoint-up(md) {
    @include column-lines(md);
  }
}

.iframe-container {
  @include media-breakpoint-down(sm) {
    height: 0;
    overflow: hidden;
    padding-bottom: 56.25%; // 16x9 Aspect Ratio
    position: relative;
  }
}

.iframe {
  border: 0;
  display: block;

  @include media-breakpoint-up(md) {
    height: $base-spacing * 19;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  @include media-breakpoint-down(sm) {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
}

.iframe-full-width {
  @include media-breakpoint-up(md) {
    width: 100%;
  }
}

.l-content-files {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: $base-spacing;
  margin-top: -($base-spacing);
}

.c-content-file {
  flex: 0 1 33%;

  @include media-breakpoint-down(sm) {
    flex: 0 1 50%;
  }

  @include media-breakpoint-down(xs) {
    flex: 0 1 100%;
  }
}

.c-content-file__link {
  display: flex;
  justify-content: space-around;
  margin-bottom: $base-spacing;
}

.c-content-file__icon {
  flex: 0 1 auto;
  margin-right: $base-spacing / 2;
}

.c-content-file__description {
  flex: 1 1 auto;
  margin-right: $base-spacing;
}

.file-grid-section-title {
  margin-bottom: $base-spacing;
  margin-top: -($base-spacing / 2);
}
