@import 'variables';

.support-section {
  margin-bottom: $base-spacing / 2;
  ul {
    @include list-unstyled();
    margin: 0;
  }

  li {
    margin: $base-spacing / 2 0;
  }
}

.support-success,
.support-error {
  margin-top: .5em;
  padding: .5em;
}

.support-form {
  .error-container {
    margin: 0 0 .5em;
  }
}

.support-success {
  background-color: $form-success-message;
}

.support-error {
  background-color: $form-error-message;
}

.photo-preview-container {
  .photo-preview {
    display: inline-block;
    margin-left: $base-spacing / 2;
    margin-top: $base-spacing / 2;

    img {
      // Polyfill for IE object-fit support
      font-family: 'object-fit: cover;';
      object-fit: contain;
    }

    p {
      margin: 0;
    }
  }

  .clear-photo {
    padding-left: $base-spacing / 8;
  }
}

.upload-photo-link {
  cursor: pointer;

  + input {
    padding: $base-spacing / 2 0;
  }
}

.support-text-entered-container {
  background-color: $gray-lightest;
  padding: .5em;
}

body {
  &.no-js {
    .upload-photo-link {
      display: none;
    }
  }

  &.js {
    .support-form-expanded {
      display: none;
    }

    // scss-lint:disable IdSelector
    #photo {
      display: none;
    }
  }
}

.support-comment-success {
  color: $brand-success;
}

.support-tel-number:nth-child(2) {
  margin-left: 1rem;
}

.support-form-control {
  border-color: $gray-light;
}

.has-success .support-form-control + span::before {
  @include fa-icon();
  color: $brand-success;
  content: $fa-var-check-circle;
  float: right;
  left: -.5rem;
  position: relative;
  top: -1.75rem;
}

.submit-button {
  margin-top: $base-spacing / 2;
}

button .waiting {
  margin: 5%;
}

.contrast {
  background-color: $gray-bordered-background;
  margin-left: $base-spacing * .75;

  &.form-group {
    margin-bottom: $base-spacing / 8;
    padding: $base-spacing * .75;
  }
}

.service-radio {
  margin: 0 $base-spacing 0 0;

  input {
    display: inline-block;
    width: $base-spacing;
  }
}

.phone-description {
  margin-bottom: $base-spacing / 4;
}

.support-check-container {
  &.form-group {
    padding-bottom: $base-spacing / 4;
  }
}

.response-time-disclaimer {
  margin-top: $base-spacing / 2;
}

.support-section-row {
  @include media-breakpoint-up(sm) {
    margin-bottom: $base-spacing;
  }
}

.support-phone-text {
  font-weight: bold;
}

.support-header {
  margin-bottom: $base-spacing / 2;
}

.support-lift-updates {
  font-style: italic;
}

.support-link {
  display: block;
  margin-bottom: $base-spacing / 2;
}

.support-link-inline {
  display: inline-block;
}


.support-text {
  margin-bottom: $base-spacing / 2;
}
