.c-fare-card {
  border: 2px solid;
  line-height: normal;
  margin: 1.375rem 0 1rem;
  padding: 1.375rem 1rem 1rem;
  position: relative;
  text-align: center;
  width: 100%;

  @include media-breakpoint-down(sm) {
    max-width: 20rem;
  }

  // When columns break and are stacked add extra spacing between cards
  div ~ div > &:first-child {
    @include media-breakpoint-down(sm) {
      margin-top: 2.375rem;
    }
  }

  &--subway {
    border-color: $brand-subway;
  }

  &--bus {
    border-color: $brand-bus;
  }

  &--commuter-rail {
    border-color: $brand-commuter-rail;
  }

  &--ferry {
    border-color: $brand-ferry;
  }

  &--the-ride {
    border-color: $brand-the-ride;
  }
}

.c-fare-card__icon {
  @include icon-size(2.75rem);
  left: 50%;
  margin-left: -1.375rem;
  position: absolute;
  top: -1.375rem;

  span {
    height: 100%;
    width: 100%;
  }
}

.c-fare-card__name {
  margin-top: .6rem;
}

.c-fare-card__name-duration {
  white-space: nowrap;
}

.c-fare-card__fare {
  margin-top: .8rem;
}

.c-fare-card__note {
  font-size: .875rem;
  min-height: 2.4em;
}

.c-fare-card--grouped {
  padding: 0;

  .c-fare-card__header {
    border-bottom: 2px solid;
    padding-top: 1.375rem;
  }

  .row {
    margin: 0;
    width: 100%;
  }

  .col-md-6 {
    padding: 1.375rem 1rem 1rem;

    &:first-child {
      border-right: 2px solid;

      @include media-breakpoint-down(sm) {
        border-bottom: 2px solid;
        border-right: 0;
      }
    }
  }

  &.c-fare-card--subway .c-fare-card__header,
  &.c-fare-card--subway .row .col-md-6 {
    border-color: $brand-subway;
  }

  &.c-fare-card--bus .c-fare-card__header,
  &.c-fare-card--bus .row .col-md-6 {
    border-color: $brand-bus;
  }

  &.c-fare-card--commuter-rail .c-fare-card__header,
  &.c-fare-card--commuter-rail .row .col-md-6 {
    border-color: $brand-commuter-rail;
  }

  &.c-fare-card--ferry .c-fare-card__header,
  &.c-fare-card--ferry .row .col-md-6 {
    border-color: $brand-ferry;
  }

  &.c-fare-card--the-ride .c-fare-card__header,
  &.c-fare-card--the-ride .row .col-md-6 {
    border-color: $brand-the-ride;
  }

  .c-fare-card__fare {
    margin-top: 0;
  }
}
