html,
body {
  @include media-breakpoint-up(xxl) {
    font-size: $font-size-base-xxl;
  }

  @media print {
    // override the base font size.  Since everything (should) be defined in
    // rems, this makes all the text bigger.
    font-size: $font-size-base-print;
  }
}

h1,
.h1 {
  @include h1();
}

h2,
.h2 {
  @include h2();
}

h3,
.h3 {
  @include h3();
}

h4,
.h4 {
  @include h4();
}

h5,
.h5 {
  @include h5();
}

h6,
.h6 {
  @include h6();
}

.h1--new {
  border-bottom: 0;

  @include media-breakpoint-down(xs) {
    font-size: 1.625rem;
    line-height: 2rem;
    margin-top: 2rem;
  }

  @include media-breakpoint-up(sm) {
    font-size: 2.625rem;
    line-height: 2.625rem;
    margin-top: 2.625rem;
  }

  @include media-breakpoint-up(lg) {
    font-size: 3rem;
    line-height: 3.25rem;
    margin-top: 2rem;
  }
}

.h2--new {
  @include media-breakpoint-down(xs) {
    font-size: 1.3rem;
    line-height: 1.8rem;
  }

  @include media-breakpoint-up(sm) {
    font-size: 1.625rem;
    line-height: 2rem;
  }

  @include media-breakpoint-up(lg) {
    font-size: 2rem;
    line-height: 3rem;
  }
}
