// Refactored styles for homepage.

.m-homepage__shortcuts {
  @include make-row();
  padding-bottom: $base-spacing * 2;
  padding-top: $base-spacing * 2;
  text-align: center;
}

.m-homepage__shortcut-row {
  @include make-col();
  @include make-col-span(6);
  @include media-breakpoint-down(sm) {
    @include make-col-span(12);
  }

  @include media-breakpoint-up(md) {
    &:first-child {
      padding-right: 0;
      text-align: right;
    }

    &:last-child {
      padding-left: 0;
      text-align: left;
    }
  }
}

.m-homepage__shortcut {
  color: $gray-dark;
  display: inline-block;
  font-size: $font-size-h3;
  font-weight: bold;
  line-height: $base-spacing * 1.5;
  padding: $base-spacing;
  text-align: center;
  width: 33%;

  @include hover-focus-active {
    background-color: $brand-primary-lightest;
    color: $gray-dark;
    text-decoration: none;
  }

  @include media-breakpoint-up(sm) {
    @include icon-size($base-spacing * 5);
  }

  @include media-breakpoint-down(xs) {
    @include icon-size($base-spacing * 3);
  }
}

.index-template {
  // Override 2rem padding-bottom on .page-container class.
  // Putting this here until the template classes are refactored
  // to follow our new class naming style.
  padding-bottom: 0;
}
