@mixin truncate($margin-right: 1em, $fallback-width: 95%) {
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  // scss-lint:disable DuplicateProperty
  width: $fallback-width; // fallback for browsers which don't support calc()
  width: calc(100% - #{$margin-right});
}

@mixin no-wrap($display: inline-block) {
  display: $display;
  text-decoration: inherit;
  white-space: nowrap;
}

@mixin column-lines($breakpoint) {
  $gap: $grid-gutter-width / 2;
  margin: $gap #{-$gap};

  & > [class*="col-#{$breakpoint}-"] {
    border-left: $border;
    left: $gap;
    padding: 0 ($gap * 2) 0 $gap;

    > *:first-child {
      margin-top: 0;
      padding-top: 0;
    }

    > *:last-child {
      margin-bottom: 0;
      padding-bottom: 0;
    }
  }
}

@mixin not-last-child {
  > :not(:last-child) {
    @content;
  }
}

@mixin h1 {
  font-size: $font-size-h1;
  font-weight: bold;
  line-height: 2.75rem;
  margin-bottom: 1rem;
  margin-top: 2.625rem;

  @include media-breakpoint-down(xs) {
    font-size: $font-size-h1-xs;
    line-height: 2rem;
    margin-bottom: .25rem;
    margin-top: 1.875rem;
  }

  @include media-breakpoint-up(xxl) {
    font-size: $font-size-h1-xxl;
    line-height: 3.25rem;
    margin-top: 2rem;
  }
}

@mixin h2 {
  $bottom-space: .25rem;

  font-size: $font-size-h2;
  font-weight: bold;
  line-height: 2rem;
  margin-bottom: $base-headings-space + $bottom-space;
  margin-top: 2rem;

  @include media-breakpoint-down(xs) {
    font-size: $font-size-h2-xs;
    line-height: 1.625rem;
    margin-bottom: $base-headings-space-xs + $bottom-space;
    margin-top: 1.625rem;
  }

  @include media-breakpoint-up(xxl) {
    font-size: $font-size-h2-xxl;
    line-height: 2.125rem;
    margin-bottom: $base-headings-space-xxl + $bottom-space;
    margin-top: 2.325rem;
  }
}

@mixin h3 {
  $bottom-space: .125rem;

  font-size: $font-size-h3;
  font-weight: bold;
  line-height: 1.375rem;
  margin-bottom: $base-headings-space + $bottom-space;
  margin-top: 1.125rem;

  @include media-breakpoint-down(xs) {
    font-size: $font-size-h3-xs;
    line-height: 1.375rem;
    margin-bottom: $base-headings-space-xs + $bottom-space;
    margin-top: 1rem;
  }

  @include media-breakpoint-up(xxl) {
    font-size: $font-size-h3-xxl;
    line-height: 1.675rem;
    margin-bottom: $base-headings-space-xxl + $bottom-space;
    margin-top: 1.325rem;
  }

  // H3s before H4s create too large a gap, since H4's top margin
  // is much smaller and doesn't collapse the way H2 + H3 does.
  // This nullifies the h3's additional $base-headings-space.
  + h4 {
    margin-top: -.25rem;

    @include media-breakpoint-up(xxl) {
      margin-top: -.555rem;
    }
  }
}

@mixin h4 {
  color: $gray-light;
  font-size: $font-size-h4;
  font-weight: bold;
  line-height: 1.25rem;
  margin-top: .625rem;

  @include media-breakpoint-down(xs) {
    line-height: 1.375rem;
    margin-top: .625rem;
  }

  @include media-breakpoint-up(xxl) {
    font-size: $font-size-h4-xxl;
    line-height: 1.375rem;
    margin-top: .555rem;
  }
}

@mixin h5 {
  @include h4;
  color: inherit;
}

@mixin h6 {
  font-size: 1.05em;
  font-weight: bold;
  line-height: 1.25em;
}

@mixin after-heading-space {
  // Paragraph copy directly following headlines have their own
  // built-in spacing (line-height), so we undo the global
  // after-heading spacing when paragraphs directly follow headings.
  + p {
    margin-top: -$base-headings-space;

    @include media-breakpoint-up(xs) {
      margin-top: -$base-headings-space-xs;
    }

    @include media-breakpoint-up(xxl) {
      margin-top: -$base-headings-space-xxl;
    }
  }

  // When images are visually directly after a headline, they should
  // get the same gap non-paragraphs get by default (undo negative margin).
  + p > img:first-child,
  + p > a:first-child > img:first-child {
    margin-top: $base-headings-space;

    @include media-breakpoint-up(xs) {
      margin-top: $base-headings-space-xs;
    }

    @include media-breakpoint-up(xxl) {
      margin-top: $base-headings-space-xxl;
    }
  }
}

@mixin icon-size($width-height) {
  [class^=c-svg__icon] {
    height: $width-height;
    width: $width-height;
  }
}
