@import 'variables';

.mode-hub-header {
  @include icon-size(1.5em);
}

.system-map {
  @include img-fluid();
  margin-bottom: $base-spacing;
}

.hub-system-map {
  display: inline-block;
  max-width: 100%;
  position: relative;
}

.route-filter-form {
  margin-bottom: $base-spacing;
}

.route-filter-container {
  width: 50%;

  @include media-breakpoint-down(xs) {
    width: 100%;
  }
}

.filter-btn-disabled {
  background-color: $gray-lighter;
  border-color: $gray-lighter;

  &.btn-primary:hover {
    background-color: $gray-lighter;
    border-color: $gray-lighter;
  }
}

.route-filter-label {
  font-weight: bold;
  margin-bottom: $space-8;
}

.filter-error-container {
  border-radius: $border-radius;
  display: none;
  margin-top: $space-8;
  padding: $space-8;
  width: 50%;

  @include media-breakpoint-down(xs) {
    width: 100%;
  }
}
