.c-photo-gallery__main-container {
  margin: auto;
  max-width: 716px;
  width: 100%;
}

.c-photo-gallery__main-image {
  font-family: 'object-fit: contain;';  // IE polyfill
  height: 395px;
  object-fit: contain;
  width: 100%;
}

.c-photo-gallery__main-title {
  border-bottom: $border;
  margin-bottom: $base-spacing;
  padding: $base-spacing-sm 0;
}

.c-photo-gallery__thumbnails {
  text-align: center;

  @include media-breakpoint-down(sm) {
    display: none;
  }

  a {
    display: inline-block;
    margin: 0 4px 4px 0;

    &:nth-child(5n+0) {
      margin: 0 0 4px;
    }
  }
}

.c-photo-gallery__thumbnail {
  font-family: 'object-fit: cover;';  // IE polyfill
  height: 99px;
  object-fit: cover;
  pointer-events: none;
  width: 99px;

  @include media-breakpoint-up(lg) {
    height: 124px;
    width: 124px;
  }

  @include media-breakpoint-only(xxl) {
    height: 140px;
    width: 140px;
  }
}

.c-photo-gallery__nav-btns {
  height: $base-spacing-xl;
  margin-top: $base-spacing-sm;
  position: relative;

  a {
    border: $border;
    padding: $base-spacing-sm;
    position: absolute;
    text-transform: uppercase;

    &:last-child {
      right: 0;
    }
  }
}
