.c-cms__sidebar {

  // Any paragraph in the sidebar == a "right-rail" paragraph
  .c-paragraph {
    background-color: $brand-primary-lightest-contrast;
    margin-bottom: 1rem;
    padding: 1rem;

    // Right sidebar paragraphs are cloned from their sources
    // located in .c-cms__body. They switch visibility with
    // one another at the SM breakpoint.
    @include media-breakpoint-down(sm) {
      display: none;
    }

    // Adjust the top margin of the first direct child header,
    // or the first header in the first column of a multi-column.
    // scss-lint:disable SelectorDepth
    > h1:first-child,
    > .h1:first-child,
    > h2:first-child,
    > .h2:first-child,
    > h3:first-child,
    > .h3:first-child,
    > h4:first-child,
    > .h4:first-child,
    > h5:first-child,
    > .h5:first-child,
    > h6:first-child,
    > .h6:first-child,
    .c-multi-column__column:first-of-type h1:first-child,
    .c-multi-column__column:first-of-type .h1:first-child,
    .c-multi-column__column:first-of-type h2:first-child,
    .c-multi-column__column:first-of-type .h2:first-child,
    .c-multi-column__column:first-of-type h3:first-child,
    .c-multi-column__column:first-of-type .h3:first-child,
    .c-multi-column__column:first-of-type h4:first-child,
    .c-multi-column__column:first-of-type .h4:first-child,
    .c-multi-column__column:first-of-type h5:first-child,
    .c-multi-column__column:first-of-type .h5:first-child,
    .c-multi-column__column:first-of-type h6:first-child,
    .c-multi-column__column:first-of-type .h6:first-child {
      @include reduce-adjacent-heading-space();
    }

    .c-multi-column__row,
    .c-multi-column__column {
      float: none;
      margin: 0;
      padding: 0;
      width: 100%;
    }

    .c-inline-buttons {
      margin: 1em 0;
    }

    .btn {
      display: block;
      margin: 0;
    }
  }
}

.c-cms__body {
  // Any "right-rail" paragraph in the body should be hidden above SM
  .c-paragraph--right-rail {

    // Right sidebar paragraphs are cloned from their sources
    // located in .c-cms__body. They switch visibility with
    // one another at the SM breakpoint.
    @include media-breakpoint-up(md) {
      display: none;
    }
  }
}
