.m-schedule-line--bus {
  .trip-filters,
  .line-map-container {
    margin-bottom: $base-spacing;
  }
}

.m-schedule-line__info {
  margin-bottom: 0;
}

.m-schedule-line__info:last-child {
  margin-bottom: $base-spacing;
}
