.c-searchv2__filter-label {
  @include media-breakpoint-down(sm) {
    font-size: $font-size-h3-xxl;
    padding-left: $base-spacing;
  }
}

.c-searchv2__filter-button {
  display: none;
  margin-bottom: $base-spacing;
  margin-top: $base-spacing;
  width: 100%;

  @include media-breakpoint-down(sm) {
    display: block;
  }
}

.c-searchv2__results-header {
  padding-top: $base-spacing * 2;

  @include media-breakpoint-up(md) {
    padding-bottom: $base-spacing * 5;
  }
}

.c-searchv2__results-input {
  border: 3px solid $brand-primary-dark;
  border-radius: $border-radius;
  font-size: $font-size-h4;
  font-weight: bold;
  padding: $base-spacing / 2;
  width: 100%;
}

.c-searchv2__facets-container {
  background-color: $white;
  display: block;

  @include media-breakpoint-down(sm) {
    bottom: 0;
    display: none;
    height: 100%;
    left: 0;
    overflow-y: scroll;
    padding: $base-spacing 0 0;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 1;
  }
}

.c-searchv2__open-modal {
  overflow-y: hidden;
}

.c-searchv2__close-modal-button {
  color: $brand-primary;
  cursor: pointer;
  display: none;
  float: right;
  padding-right: $base-spacing;
  text-align: right;

  @include media-breakpoint-down(sm) {
    display: block;
  }
}

.c-searchv2__facets-container--open,
.c-searchv2__close-modal-button--open {
  @include media-breakpoint-down(sm) {
    display: block;
  }
}

.c-search-result__hit {
  border: 1px solid $gray-bordered-background;
  border-top: 0;
  padding: $space-4 $space-8;
}

.c-search-result__header {
  background-color: $gray-bordered-background;
  padding: $space-4 $space-8;
}

.c-search-result__footer {
  padding: $space-4 $space-8;
}

.c-search-result__content-icon {
  color: $brand-primary;
  margin-right: $space-4;
}
