.ap-name {
  font-weight: bold;
}

.ap-suggestion-icon {
  margin-right: $base-spacing / 4;
}

.ap-address {
  overflow: hidden;
  text-overflow: ellipsis;
}

.c-search-bar {
  margin-bottom: $base-spacing;
  position: relative;
}

.c-search-bar__empty,
.c-search-bar__results-header {
  display: flex;
  justify-content: space-between;
  padding: $base-spacing / 2;
}

// This can be removed when the homepage redesign feature flag is removed
.c-search-bar__header {
  color: $white;
  font-weight: bold;
}

.c-search-bar__go-btn {
  @include icon-size($base-spacing * 1.5);
  background: $brand-primary;
  border-radius: $base-spacing / 4;
  color: $white;
  cursor: pointer;
  margin: 0 $space-2;
  padding: $base-spacing / 2 $base-spacing;

  .c-svg__icon-search-reverse-default {
    vertical-align: top;
  }
}

.c-search-bar__go-btn--new-homepage {
  border: 0;
  padding: $space-8;
}

.c-search-bar__results {
  background: $white;
  position: absolute;
  top: $base-spacing * 4;
  width: 100%;
  z-index: $z-index-search-bar-results;
}

.c-search-bar__results-header {
  background-color: $gray-bordered-background;
  border-top: $border;
  font-weight: normal;
  margin: 0;
  text-align: left;
}

.c-search-bar__result {
  display: block;
}

.c-search-bar__result-name {
  font-weight: bold;
}

.c-search-bar__empty {
  border-bottom: $border;
  border-left: $border;
  border-right: $border;
  margin-bottom: 0;
}

.c-search-bar--hidden,
.c-search-bar__results--hidden,
.c-search-bar__results-header--hidden,
.c-search-bar__autocomplete-results--hidden,
.c-search-bar__result--hidden {
  display: none;
}

.c-search-bar__autocomplete {
  border-radius: $base-spacing / 4;
  width: 100%;
}

.c-search-bar__-dropdown-menu {
  background-color: $white;
  border: $border;
  border-top: 0;
  box-shadow: $drop-shadow;
  width: 100%;
}

.c-search-bar__my-location-container {
  background-color: $white;
  border: $border;
  position: absolute;
  width: 100%;
  z-index: $z-index-search-bar-results;
}

.c-search-bar__-suggestion {
  @include icon-size($base-spacing);
  border-bottom: $border;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  padding: $base-spacing / 2 $base-spacing;
  text-align: left;

  em {
    font-style: normal;
    font-weight: bold;
  }
}

.c-search-bar__-cursor {
  background-color: $brand-primary-lightest;
}

.c-search-bar__cards {
  margin-left: -$base-spacing / 2;
  padding: 0;
}

.c-search-bar__stop-name {
  font-weight: bold;
}

.c-search-bar__input {
  display: flex;
  position: relative;
}

.c-search-bar__input--new-homepage {
  border: 3px $brand-primary solid;
  border-radius: $base-spacing / 4;
}

.c-search-bar__input--half {
  @include media-breakpoint-up(md) {
    width: 50%;
  }
}

.c-search-bar__my-location {
  color: $brand-primary;
  text-decoration: none;
}

.c-search-bar__loading-indicator {
  margin-bottom: auto;
  margin-top: auto;
  position: relative;
  right: $base-spacing / 2;
  visibility: hidden;
}

.c-search-bar__autocomplete--show-more {
  color: $brand-primary;
  cursor: pointer;
  text-align: center;

  &:hover {
    text-decoration: underline;
  }
}
