$map-height: $base-spacing * 30;

.transitnearmeview {
  @include media-breakpoint-down(sm) {
    padding-bottom: 0;
  }
}

.m-transit-near-me__input {
  @include media-breakpoint-up(md) {
    width: 60%;
  }
}

.m-tnm {
  margin-top: 1.5 * $base-spacing;
  position: relative;

  @include media-breakpoint-only(md) {
    display: flex;
  }
}

.m-tnm__map {
  height: $map-height;

  @include media-breakpoint-only(md) {
    flex: 1 0 60%;
    order: 2;
  }

  @include media-breakpoint-down(sm) {
    box-shadow: 0 $space-2 $space-4 $drop-shadow-color;
  }
}

.m-tnm-sidebar {
  background-color: $gray-lightest;
  padding-bottom: $base-spacing * 2;
  padding-top: $base-spacing * 2;

  @include media-breakpoint-down(xs) {
    padding-left: $base-spacing;
    padding-right: $base-spacing;
  }

  @include media-breakpoint-up(md) {
    // left is set by RoutesSidebar react component
    height: $map-height;
    overflow: scroll;
    padding: $base-spacing / 2;
    width: 21 * $base-spacing;
  }

  @include media-breakpoint-up(lg) {
    position: absolute;
    top: 0;
  }

  @include media-breakpoint-only(md) {
    flex: 1 1 40%;
    order: 1;
  }
}

.m-tnm-sidebar__header {
  margin-bottom: $base-spacing / 2;

  h2 {
    margin-top: 1.8125 * $base-spacing;
  }
}

.m-tnm-sidebar__pill {
  border: 1px solid $brand-primary;
  border-radius: 17px;
  color: $brand-primary;
  cursor: pointer;
  padding: .2 * $base-spacing .7 * $base-spacing;
}

.m-tnm-sidebar__pill-close {
  margin-left: $base-spacing / 2;
}

.m-tnm-sidebar__route {
  background-color: $white;

  @include media-breakpoint-only(sm) {
    @include make-col-span(8);
    margin-left: auto;
    margin-right: auto;
  }

  & + & {
    margin-top: $base-spacing / 2;
  }
}

.m-tnm-sidebar__route-name {
  align-items: center;
  border-top-left-radius: $default-border-radius;
  border-top-right-radius: $default-border-radius;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: $base-spacing / 2;
  text-transform: uppercase;
}

.m-tnm-sidebar__route-alert {
  display: block;
  height: $base-spacing * 1.25;
  width: $base-spacing * 1.25;
}

.m-tnm-sidebar__stop {
  cursor: pointer;
  padding: $base-spacing / 2;

  & + & {
    border-top: 5px solid $gray-lightest;
  }
}

.m-tnm-sidebar__stop-info {
  display: flex;
  font-size: .875 * $base-spacing;
  justify-content: space-between;
  margin-bottom: $base-spacing / 2;
}

.m-tnm-sidebar__direction {
  margin-bottom: $base-spacing / 4;
  margin-top: $base-spacing;
}

.m-tnm-sidebar__direction-name {
  font-weight: bold;
}

.m-tnm-sidebar__direction-destination {
  @include h3();
  margin: 0;
}

.m-tnm-sidebar__headsign-schedule {
  border-top: $border;
  display: flex;
  justify-content: space-between;
}

.m-tnm-sidebar__headsign-schedule--condensed {
  border-top: 0;
}

.m-tnm-sidebar__headsign-name--large {
  @include h3();
  margin: 0;
}

.m-tnm-sidebar__via {
  font-weight: $font-weight-medium;
}

.m-tnm-sidebar__schedules {
  display: flex;
}

.m-tnm-sidebar__schedule {
  font-size: .875 * $base-spacing;
  padding-left: $base-spacing;
}

.m-tnm-sidebar__time {
  text-align: center;

  &--commuter-rail {
    text-align: right;
  }
}

.m-tnm-sidebar__time-number {
  @include h3();
  line-height: 1em;
  margin: 0;
}

.m-tnm-sidebar__time-mins {
  font-weight: bold;
  line-height: 1em;
}

.m-tnm-sidebar__stop-marker,
.m-tnm-sidebar__stop-accessible {
  svg {
    @include center-icon(1rem);
  }
}
.m-tnm-sidebar__stop-marker {
  margin-right: .5rem;
}

.m-tnm-sidebar__stop-accessible {
  margin-left: .5rem;
}
