.trip-planner-form {
  @include media-breakpoint-up(sm) {
    &.collapse {
      display: block;
    }
  }
}

.m-trip-plan__sidebar {
  @include make-col();
  width: 100%;
  padding: 0;
  margin: 0;

  @include media-breakpoint-up(md) {
    @include make-col-span(4);
    padding-right: .9375rem;
  }

  @media print {
    width: 100%;
  }
}

.m-trip-plan__submit {
  padding: $base-spacing / 2;
  width: 100%;
}

.plan-date-container {
  background: $white;
  border: $border;
  display: none;

  input {
    border: 0;
    display: inline;
    text-align: center;
    width: $base-spacing * 2;

    &:focus {
      border: 1px solid $gray-light;
      outline: none;
    }
  }
}

.plan-datetime-link {
  background: transparent;
  border: 0;
  color: $brand-primary;
  text-decoration: underline;
}

.plan-time-input-select {
  display: inline-block;
}

.plan-time {
  display: inline-block;
}

.m-trip-plan__form-container {
  @include media-breakpoint-up(md) {
    height: $base-spacing * 42;
    margin-bottom: 0;
    margin-top: 0;
    position: sticky;
    top: 0;
    z-index: $z-index-datepicker-content; // required so that a new stacking context is defined;
                                          // without setting z-index, the footer's stacking context
                                          // is higher than this sidebar so the datepicker popup
                                          // is covered by the footer. -kh
                                          // https://philipwalton.com/articles/what-no-one-told-you-about-z-index/
  }
}

.date-time-select {
  select {
    background-color: $white;
    border: $border;
    border-radius: $space-4;
    display: inline;
  }
}

.plan-date-select,
.plan-time-select {
  display: inline-block;
}

.planner-location-box-location {
  padding-bottom: $space-8;
}

.m-trip-plan__accessible-trip {
  @include icon-size-inline(1.5em);

  margin-top: $base-spacing;
}

.m-trip-plan__accordion-last {
  .form-group {
    margin-bottom: 0;
  }
}
