.u-bg--orange-line {
  background-color: $brand-orange-line;
}

.u-bg--green-line {
  background-color: $brand-green-line;
}

.u-bg--red-line {
  background-color: $brand-red-line;
}

.u-bg--blue-line {
  background-color: $brand-blue-line;
}

.u-bg--silver-line {
  background-color: $brand-silver-line;
}

.u-bg--mattapan-line {
  background-color: $brand-red-line;
}

.u-bg--commuter-rail {
  background-color: $brand-commuter-rail;
}

.u-bg--bus {
  background-color: $brand-bus;
}

.u-bg--ferry {
  background-color: $brand-ferry;
}

.u-bg--subway {
  background-color: $brand-subway;
}

.u-nowrap {
  white-space: nowrap;
}

.u-small-caps {
  font-size: $font-size-small-caps;
}
