<div class="m-cms__content<%= if @page.sidebar_menu, do: " m-cms__content--with-sidebar" %>">
  <div class="page-section">
    <h1><%= @page.title %></h1>
    <%= Site.ContentRewriter.rewrite(@page.body, @conn) %>

    <%= for paragraph <- @page.paragraphs do %>
      <%= render_paragraph(paragraph, @conn) %>
    <% end %>
  </div>
</div>
