<%= if @paragraph.link do %>
  <div class="call-to-action-paragraph">
    <%= link to: @paragraph.link.url do %>
      <%= @paragraph.link.title %>
      <%= fa "arrow-right" %>
    <% end %>
  </div>
<% end %>
