<%= if @paragraph.link do %>
  <div class="call-to-action-paragraph">
    <%= link to: cms_static_page_path(@conn, @paragraph.link.url) do %>
      <%= @paragraph.link.title %>
      <%= fa "arrow-right" %>
    <% end %>
  </div>
<% end %>
