<div class="title-card-container title-card-container-separate">
  <%= for title_card <- @paragraph.title_cards do %>
    <%= if title_card.link do %>
      <%= link to: title_card.link.url, class: "title-card" do %>
        <%= render "_title_card_body.html", title_card: title_card %>
      <% end %>
    <% else %>
      <div class="title-card title-card-link-type">
        <%= render "_title_card_body.html", title_card: title_card %>
      </div>
    <% end %>
  <% end %>
</div>
