<%= link to: alert_path(@conn, :index), class: "alert-announcement-header" do %>
  <%= render Site.AlertView, "_icon.html", alert: nil %>
  <strong><%= @alert_banner.title %></strong>
  <span class="alert-list-toggle">
    View
  </span>
<% end %>
