<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>MBTA - Massachusetts Bay Transportation Authority</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,500,700">
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
    <link rel="preload" href="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"
    <link rel="preload" href="<%= static_path(@conn, "/js/app.js") %>">
  </head>

  <body class="no-js">
    <header class="header">
      <div class="container">
        <div class="navbar">
          <button class="navbar-toggler hidden-md-up pull-right" type="button" data-toggle="collapse" data-target="#navbar">
            &#9776;
          </button>
          <a class="navbar-brand" href="/">
            <span class="navbar-logo">
              <%= svg "/images/t.svg" %>
            </span>
            Massachusetts Bay Transportation Authority
          </a>
        </div>
        <nav class="collapse navbar navbar-toggleable-sm" id="navbar">
          <ul class="nav navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="<%= schedule_path(@conn, :index, []) %>">
                Schedules &amp; Maps
                <i class="fa fa-angle-down" aria-hidden="true"></i>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="<%= redirect_path @conn, "fares_and_passes/" %>">
                Fares &amp; Passes
                <i class="fa fa-angle-down" aria-hidden="true"></i>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="<%= redirect_path @conn, "riding_the_t/" %>">
                Riding the T
              <i class="fa fa-angle-down" aria-hidden="true"></i>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="<%= redirect_path @conn, "rider_tools/transit_updates/" %>">
                Service Alerts
                <i class="fa fa-angle-down" aria-hidden="true"></i>
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </header>

    <div class="container">
      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>

      <main class="full-width">
        <%= render @view_module, @view_template, assigns %>
      </main>

      <footer class="footer">
        <ul class="footer-link-list">
          <li class="footer-link-list-item">
            <a class="footer-link" href="<%= redirect_path @conn, "customer_support/privacy_policy/" %>">Privacy Policy</a>
          </li>
          <li class="footer-link-list-item">
            <a class="footer-link" href="<%= redirect_path @conn, "customer_support/terms_of_use/" %>">Terms of Use</a>
          </li>
        </ul>
        <p>&copy; Massachusetts Bay Transportation Authority, all rights reserved.</p>
      </footer>
    </div> <!-- /container -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
