<strong>Holiday Schedule Information</strong>
<ul>
  <li>Saturday Service on President's Day, and 4th of July: train #1517 may be held for 30 mintues after the conclusion of the fireworks</li>
  <li>Sunday Service on New Year's Day, Memorial Day, Labor Day, Thanksgiving Day, Christmas Day</li>
  <li>All other holidays regular service is provided</li>
</ul>
