<%= for {stop, is_terminus?} <- EnumHelpers.with_first_last(@stops) do
  route_row(@conn, stop, @stop_features[stop.id], is_terminus?)
  #if assigns[:zones] && @zones[stop.id] do
    #<span class="pull-right">Zone <%= @zones[stop.id]
  #end
end %>
