<%= for stop <- @stops do %>
  <div class="route-row">
    <%= link stop.name, to: stop_path(@conn, :show, stop.id) %>
    <%= for icon <- @stop_features[stop.id] do %>
      <%= svg_icon_with_circle(%SvgIconWithCircle{icon: icon}) %>
    <% end %>
  </div>
<% end %>
