<% alias Site.Components.Icons %>
<%= link_tag(args) %>
  <%= if args.route.type in [0,1], do: svg_icon_with_circle(%Icons.SvgIconWithCircle{icon: "#{args.route.id}_line" |> String.downcase |> String.to_existing_atom, class: "icon-small"}) %>
  <%= Site.ViewHelpers.clean_route_name(args.route.name) %>
  <%= if has_alert?(args.alert) do %>
      <%= svg_icon(%Icons.SvgIcon{icon: :alert, class: "icon-small"}) %>
    </span>
  <% end %>
</a>
