<% search_icon = svg_icon(%SvgIcon{icon: :search, show_tooltip?: false}) %>
<% search_path = search_path(@conn, :index) %>
<li class="mobile-nav-item search-mobile">
  <%= Phoenix.HTML.Link.link to: search_path do %>
    <label class="sr-only" for="mobile-search-icon">Search</label>
    <button type="submit" id="mobile-search-icon" class="btn btn-primary" aria-label="submit search">
      <%= search_icon %><span class="mobile-search-text">Search</span>
    </button>
  <% end %>
</li>
