<div class="page-section">
  <div class="row">
    <div class="col-xs-12">
      <h1>Events</h1>
    </div>
  </div>
  <%= render "_event_list.html",
    events: @events,
    conn: @conn,
    title: month_navigation_header(@conn, @month),
    empty_placeholder_text: no_results_message(@month) %>
</div>
