<aside class="subpage-nav col-lg-2 col-sm-12">
  <nav>
    <ul class="subpage-nav-list row">
      <%= for subpage <- @all_subpages do %>
        <% active = if @subpage == subpage, do: "active", else: "inactive" %>
        <li class="col-sm-6 col-md-12 <%= active %>">
          <a href="/style_guide/<%= @section %>/<%= subpage %>"><%= page_title(subpage) %></a>
        </li>
      <% end %>
    </ul>
  </nav>
</aside>
