<div>
  <span class="event-info-label">Location:</span>
  <%= if location = content(@event.location) do %>
    <%= location %> • <%= @event.street_address %> • <%= city_and_state(@event) %>
  <% else %>
    <%= @event.imported_address %>
  <% end %>
</div>
