<div class="tab-list-group show-btn-group <%= args.class %>">
  <%= for {text, href, selected} <- args.links do %>
    <%= Phoenix.HTML.Link.link text, to: href, class: tab_class(selected) %>
  <% end %>
</div>
