<h2 id="transit-input" class="h5 transit-input-label">Find nearby stops and stations</h2>
<div class="transit-near-me">
  <%= form_for @conn, @conn.request_path<>"#transit-near-me-input", [as: :location, method: :get, class: "form"], fn _f -> %>
    <%= input_location(%InputLocation{id: "transit-near-me-input", name: :location, name_index: :address,
                                      address: @tnm_address, address_error: get_flash(@conn, :info), submit: true,
                                      required: true, placeholder: "Enter a location"}) %>
  <% end %>
</div>
