<div class="transit-near-me">
  <%= render "_input.html", tnm_address: @tnm_address, conn: @conn %>
  <%= render "_results.html", class: "transit-near-me-gray", stop_groups: @stop_groups, stops_with_routes: @stops_with_routes, conn: @conn %>
</div>
