<%= for {{step, distance}, data_attr} <- @steps do %>
  <div class="route-branch-stop-list route-branch-stop <%= [@mode_class] %>" <%= data_attr %>>
    <%= Site.PartialView.StopBubbles.render_stop_bubbles(@intermediate_params) %>
    <div class="itinerary-step"><%= step %></div>
    <%= if distance do %>
      <div class="itinerary-step-distance"><%= distance %></div>
    <% end %>
  </div>
<% end %>
