<div class="container">
  <div>
    <h2>Paying for The RIDE</h2>
    <p>You will need funds in your account before scheduling a trip with The RIDE.</p>
    <%= link to: "/accessibility/the-ride/ride-fares-and-adding-funds" do %>
      Learn more about fares and adding funds to your RIDE account <%= fa "arrow-right" %>
    <% end %>
  </div>
</div>
