// Show

.alert:empty {
  display: none;
}

.alert-show-btn-bus {
  .btn-selected-bottom {
    border-color: $brand-secondary;
  }
}

.alert-show-btn-commuter-rail {
  .btn-selected-bottom {
    border-color: $brand-commuter-rail;
  }
}

.alert-show-btn-subway {
  .btn-selected-bottom {
    border-color: $brand-silver-line;
  }
}

.alert-show-btn-ferry {
  .btn-selected-bottom {
    border-color: $brand-primary-light;
  }
}

.alert-show-title-container {
  margin-bottom: .75rem;
  position: relative;
  text-align: center;

  &::before {
    border-top: 1px solid $gray-lightest;
    content: '';
    left: 0;
    position: absolute;
    top: 50%;
    width: 100%;
  }
}

.alert-show-title {
  background: $white;
  display: inline-block;
  font-weight: bold;
  margin: 0 auto;
  padding-left: 1rem;
  padding-right: 1rem;
  position: relative;
  z-index: $z-index-alert-show-title;
}

.alert-show-title-subway {
  .fa-circle {
    margin-right: $space-6;
  }
}

.alert-show-title-background {
  background-color: $gray-lightest;
  display: block;
  height: $space-1;
  position: absolute;
  top: 40%;
  width: 100%;
  z-index: $z-index-alert-show-title-background;
}


.alert-show-row {
  margin: $space-12 * 2 auto $space-6;

  &:first-child {
    margin-top: 0;
  }
}

.alert-show-empty {
  border: $border;
  padding: $space-6;
}

.alert-show-body {
  margin-bottom: $space-12;
}

.alert-no-alerts {
  background-color: $gray-lightest;
  padding: $space-12;
}

.t-alert-container-big {
  background-color: $brand-primary;
  color: $white;
  margin-top: $space-12 * 2;
  padding: $space-12;
  text-align: center;

  p {
    margin-top: $space-12;
  }

  .btn {
    border-color: $white;
    color: $white;
  }
}

// Modal
.alert-link,
.alert-list {
  color: $gray-dark;
}

.alert-link {
  background-color: $alert-color-lighter;
  border: $border;
  display: block;
  padding: $space-12;
}

.alert-link-title {
  display: inline-block;
  max-width: 84%;

  @include media-breakpoint-up(sm) {
    max-width: 91%;
  }

}

.alert-list-header {
  background-color: $alert-color;
  border: 1px solid $alert-color;
  color: $gray-dark;
  display: block;
  padding: $space-12;
  position: sticky;
  top: 0;
  z-index: $z-index-alert-list-header;

  &.fixedsticky-on {
    width: calc(100% - 2.5rem + 2px);

    @include media-breakpoint-up(md) {
      width: map-get($container-max-widths, md) - 26px;
    }

    @include media-breakpoint-up(lg) {
      width: map-get($container-max-widths, lg) - 2px;
    }

    @include media-breakpoint-up(xxl) {
      width: map-get($container-max-widths, xxl) - 2px;
    }
  }
}

.alert-list-header-title {
  display: inline-block;
  font-weight: bold;
  margin-right: $space-12;
  max-width: 9em;

  @include media-breakpoint-up(sm) {
    max-width: 25rem;
  }

  @include media-breakpoint-up(md) {
  }
}

.alert-list {
  display: block;
  list-style: none;
  margin: 0;
  padding: 0;
}

.alert-list-item {
  @include clearfix();
  background-color: $alert-color-lighter;
  border-color: $gray-lightest;
  border-style: solid;
  border-width: $space-1 $space-2;
  padding: $space-12;

  &:last-child {
    border-bottom-width: $space-2;
  }
}

.alert-container .alert-list-item:first-child {
  border-top-width: 0;
}

.alert-list-toggle {
  color: $brand-primary;
  float: right;
  text-transform: uppercase;
}

.alert-item-icon {
  background-color: $gray-dark;
  border-radius: 50%;
  color: $alert-color;
  display: block;
  float: left;
  height: 1.5rem;
  margin-right: $space-12;
  margin-top: -$space-2;
  padding: .125rem;
  width: 1.5rem;
  z-index: $z-index-alert-item-icon;

  > .fa {
    display: block;
    margin: .0625rem .125rem;
  }
}

.alert-item-icon-notice {
  background-color: $alert-notice-color;
  color: $gray-dark;

  > .fa {
    left: .1rem;
    position: relative;
    top: .05rem;
  }
}

.alert-item-effect-container {
  display: block;
  float: left;
  line-height: 1.7;
  margin-top: -.3rem;
  width: 100%;

  > .alert-item-icon {
    margin-top: .1rem;
  }
}

.alert-item-body-container {
  @include media-breakpoint-up(lg) {
    width: 75%;
  }
}

.alert-item-body {
  &.collapsing,
  &.collapse.in {
    display: block;
  }

  &.collapse.in + .alert-body-toggle {
    display: none;
  }
}

.alert-body-toggle {
  color: $brand-primary-dark;
  display: block;
  padding: 0;
}

.no-js {
  .alert-item-body {
    display: block;
  }

  .alert-body-toggle {
    display: none;
  }
}

.alert-item-updated {
  display: block;
  font-size: $font-size-sm;
  margin-top: $space-12;
}

.alert-container.collapsing {
  display: block;
}

.alert-container,
.alert-container.collapse:target {
  display: none;

  + .alert-link {
    display: block;
  }
}

.alert-container:target,
.alert-container.collapse.in {
  display: block;

  + .alert-link {
    display: none;
  }
}

.alert-modal-container {
  margin-bottom: $space-16;
}
