@import "variables";
// Show

.alert-show-btn-group {
  @include media-breakpoint-up(sm) {
    border-collapse: collapse;
    display: table;
    width: 100%;

    > .btn {
      display: table-cell;
      float: none;
    }
  }
}

.alert-show-title-container {
  text-align: center;
}

.alert-show-title {
  background: $white;
  display: block;
  font-weight: bold;
  margin-bottom: $space-6;
  padding: $space-12;
  z-index: 5;
}

.alert-show-row {
  margin: $space-12 auto;

  &:first-child {
    margin-top: 0;
  }
}

.alert-show-empty {
  border: $space-1 solid $gray-lightest;
  padding: $space-6;
}

.alert-show-body {
  margin-bottom: $space-12;
}

.t-alert-container-big {
  background-color: $brand-primary;
  color: $white;
  margin-top: $space-12 * 2;
  padding: $space-12;
  text-align: center;

  p {
    margin-top: $space-12;
  }

  .btn {
    border-color: $white;
    color: $white;
  }
}

// Modal
.alert-link,
.alert-list {
  color: $gray-dark;
}

.alert-link {
  background-color: $alert-color-lighter;
  border: 1px solid $gray-lightest;
  display: block;
  padding: $space-12;
}

.alert-list-header {
  background-color: $alert-color;
  border: 1px solid $alert-color;
  color: $gray-dark;
  display: block;
  padding: $space-12;
  position: sticky;
  top: 0;
  z-index: 1;

  &.fixedsticky-on {
    width: calc(100% - 1.5rem - 2px);

    // could calculate these... -ps
    @include media-breakpoint-up(sm) {
      width: 550px;
    }

    @include media-breakpoint-up(md) {
      width: 706px;
    }
  }
}

.alert-list-header-title {
  display: inline-block;
  font-weight: bold;
  max-width: 13rem;
  margin-right: $space-12;

  @include media-breakpoint-up(sm) {
    max-width: 25rem;
  }
}

.alert-list {
  display: block;
  list-style: none;
  margin: 0;
  padding: 0;
}

.alert-list-item {
  @include clearfix();
  background-color: $alert-color-lighter;
  border-color: $gray-lightest;
  border-style: solid;
  border-width: $space-1 $space-2;
  padding: $space-12;

  &:first-child {
    border-top-width: 0;
  }

  &:last-child {
    border-bottom-width: $space-2;
  }
}

.alert-list-toggle {
  color: $brand-primary;
  float: right;
  text-transform: uppercase;
}

.alert-item-icon {
  background-color: $gray-dark;
  border-radius: 50%;
  color: $alert-color;
  display: block;
  float: left;
  height: 1.5rem;
  margin-right: $space-12;
  margin-top: -$space-2;
  padding: .125rem;
  width: 1.5rem;
  z-index: 1;

  > .fa {
    display: block;
    margin: .0625rem .125rem;
  }
}

.alert-item-icon-notice {
  background-color: $alert-notice-color;
  color: $gray-dark;

  > .fa {
    left: .1rem;
    position: relative;
    top: .05rem;
  }
}

.alert-item-content {
  display: block;
  float: left;
  line-height: 1.7;
  margin-top: -.3rem;
  width: calc(100% - 2.25rem);
}

.alert-item-body {
  &.collapsing,
  &.collapse.in {
    display: block;
  }

  &.collapse.in + .alert-body-toggle {
    display: none;
  }
}

.alert-body-toggle {
  display: block;
  padding: 0;
}

.no-js {
  .alert-item-body {
    display: block;
  }

  .alert-body-toggle {
    display: none;
  }
}

.alert-item-updated {
  display: block;
  font-size: $font-size-sm;
  margin-top: $space-12;
}

.alert-container.collapsing {
  display: block;
}

.alert-container:target,
.alert-container.collapse.in {
  display: block;

  + .alert-link {
    display: none;
  }
}
