@import "variables";

.alert-moderate {
  color: $gray-light;
}

.alert-severe {
  color: $alert-severe;
}

.alert-modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  z-index: 1;
}

.alert-modal .btn {
  border: none;
  padding: 0;
}

.alert-list {
  padding: 0;
  list-style: none;

  li {
    margin-top: 10px;

    &:first-child {
      margin-top: 0;

      &.m-t-0 {
        border-top: none;
      }
    }

    &.m-t-0 {
      border-top: 1px solid white;
    }
  }
}

.alert-list-header {
}

.alert-card {
  padding: 0;
}

.alert-card-body, .alert-card-footer {
  margin: 5px;
}

.alert-card-header {
  background-color: $brand-secondary;
  color: $body-color;
  padding: 10px;
}

.notice-card {
  padding: 0;
  border: 1px solid $gray-lightest;
}

.notice-card-header {
  background-color: $alert-notice;
  padding: 1rem;
}

.notice-card-body {
  border-bottom: 1px solid $gray-lightest;
  padding-top: 1rem;
  padding-bottom: 1rem;
  // margin on the sides so that the border is narrower as well
  margin-left: 1rem;
  margin-right: 1rem;
}

.notice-card-footer {
  padding: 1rem;
}

.card-description-first {
  display: inline;
}

.card-description-rest.in,
.card-description-rest.collapsing {
  display: inline;
  margin-left: -2px;
}

.collapse ~ .btn.show-alert:before {
  content: "View More";
}

.in.collapse ~ .btn.show-alert:before,
.collapsing ~ .btn.show-alert:before {
  content: "View Less";
}

.in.collapse ~ .card-description-ellipsis,
.collapsing ~ .card-description-ellipsis {
  display: none;
}
