@import 'variables';

$tab-border: $border-width solid $btn-primary-bg;

.tab-select-btn-group {
  width: 100%;
  display: table;
  table-layout: fixed;
  border-collapse: collapse;

  border-bottom: $space-4 solid $btn-primary-bg;

  .btn {
    display: table-cell;
    border: $tab-border;
    border-radius: 0;
    border-bottom: 0;
    text-align: center;
    padding: $base-spacing * .875;;

    @include media-breakpoint-down(xs) {
      padding: $base-spacing-sm $space-6;
      font-size: .875rem;
    }

    @include hover-focus-active {
      background-color: $btn-primary-focus-bg;
      color: $btn-primary-focus-color;
    }
  }

  .tab-select-btn-selected {
    background-color: $btn-primary-bg;
    color: $btn-primary-color;
    font-weight: bold;

    @include hover-focus-active {
      background-color: $btn-primary-bg;
      color: $btn-primary-color;
    }
  }

  .stacked-tab-label {
    display: none;
  }
}

.tab-select-btn-group-stacked {
  @include media-breakpoint-down(xs) {
    display: inline-block;
    border-bottom: 0;

    .btn {
      display: inline-block;
      width: 100%;
      padding: $base-spacing * .75;
      font-size: 1rem;
      text-align: left;

      &:last-child {
        border-bottom: $tab-border;
      }
    }

    .stacked-tab-label {
      display: inline-block;
      padding-bottom: $base-spacing * .875;
    }
  }
}

.tab-select-btn-group-partial {
  @include media-breakpoint-up(md) {
    .btn {
      float: left;
      width: 30%;

      border-right: 0;
      &:last-child {
        border-right: $tab-border;
      }
    }
  }
}

.collapse.in,
.collapse:target {
  + .show-mode-toggle-btn {
    display: none;
  }
}

.social-button-block {
  a {
    text-decoration: none;
  }
}
