@import 'variables';

@mixin btn-selected-bottom-mode($color) {
  border-bottom: $space-6 solid $color;
  bottom: 0;
  left: 0;
  position: absolute;
  width: 100%;
}

.show-btn-group {
  margin-bottom: $base-spacing;
  width: 100%;

  @include media-breakpoint-up(sm) {
    border-collapse: collapse;
    display: table;

    > .btn {
      border-radius: 0;
      display: table-cell;
      float: none;
    }
  }

  .btn {
    padding: $space-12;
    border-color: $gray-lightest;
    position: relative;
  }

  .btn-selected-bottom-access {
    @include btn-selected-bottom-mode($brand-primary);
  }

  .btn-selected-bottom-bus {
    @include btn-selected-bottom-mode($brand-secondary);
  }

  .btn-selected-bottom-subway {
    @include btn-selected-bottom-mode($gray-light);
  }

  .btn-selected-bottom-commuter-rail {
    @include btn-selected-bottom-mode($brand-commuter);
  }

  .btn-selected-bottom-ferry {
    @include btn-selected-bottom-mode($brand-primary-light);
  }

  .btn-selected-bottom-the-ride {
    @include btn-selected-bottom-mode($brand-the-ride);
  }
}

.btn-selected-bottom {
  @include btn-selected-bottom-mode($brand-primary);
}

.show-btn {
  @include media-breakpoint-down(xs) {
    width: 100%;
  }

  .route-icon {
    @include route-icon($space-24, $space-4);
  }

  svg {
    height: $space-24;
    width: $space-24;
  }
}

.show-btn-selected {
  color: $gray-dark;
  font-weight: bold;
}

.collapse.in,
.collapse:target {
  + .show-mode-toggle-btn {
    display: none;
  }
}

.social-button-block {
  a {
    text-decoration: none;
  }
}
