@import 'variables';
@import 'colors';

.button,
%button {
  @extend %button-focus-color;
  border-color: $gray-lightest;
  border-radius: 0;
  border-style: solid;
  border-width: 1px;
  padding: $grid-gutter-width / 2;

  @include media-breakpoint-down(sm) {
    font-size: $font-size-sm;
    line-height: $line-height-sm;
  }

  > .icon-alert {
    margin-left: $base-spacing / 2;
  }
}

.button-primary,
%button-primary {
  @extend %button;
  background-color: $brand-primary;
  color: $white;
}

.button-primary-outline,
%button-primary-outline {
  @extend %button;
  background-color: transparent;
  background-image: none;
  border-color: $btn-primary-bg;
  color: $btn-primary-bg;
}

%button-focus-color {
  // helper to give an element the focus coloring of a button
  @include hover-focus-active {
    background-color: $btn-primary-focus-bg;
    color: $btn-primary-focus-color;
    text-decoration: none;

    * {
      color: $btn-primary-focus-color;
    }
  }
}

%button-selected-color {
  // helper to give an element the selected coloring
  @include plain-hover-focus {
    background-color: $btn-primary-bg;
    color: $btn-primary-color;

    * {
      color: $btn-primary-color;
    }

    .icon {
      // make the icon white
      @extend %icon-inverse;
    }
  }
}

.button-group,
%button-group {
  @include clearfix();
  margin: 0 auto $grid-gutter-width / 2;
  width: 100%;

  .button-container {
    background: $white;
    float: left;
    margin-top: 1px;
    outline: 1px solid $gray-lightest;
    padding: 0;

    .button {
      border-width: 0;
      width: 100%;
    }
  }
}
