@import 'variables';
@import 'colors';

%button {
  border: 1px solid transparent;
  border-radius: $border-radius;
  cursor: pointer;
  display: inline-block;
  font-weight: normal;
  line-height: $base-font-size * 1.5;
  padding: .375rem 1rem;
  text-align: center;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}

%button-primary {
  @extend %button;
  background-color: $brand-primary;
  color: $white;
}

%button-primary-outline {
  @extend %button;
  background-color: transparent;
  background-image: none;
  border-color: $brand-primary;
  color: $brand-primary;

  &:hover {
    background-color: $brand-primary;

    a,
    div {
      color: $white;
    }
  }
}

%block-level-link {
  // Covers a block-level element with a clickable link so that the entire element appears to be clickable. The
  // <a> tag that is meant to cover the parent should be the last element in the block, and its text content should
  // be an empty string. These links are hidden from screen readers, so for accessibility purposes, there should be
  // at least one real link inside the parent block which points to the same target as the block-level link and
  // has useful text content.

  // EXAMPLE:
  //
  // <div class="block-element"> # <-- extend %block-level-link on this element
  //   <div>Here is some content inside of the parent element which will be covered by the block-level-link.</div>
  //   <%= link "This is a link that will look like a link and can be targeted by screen-readers", to:"link-target.html" %>
  //   <%= link "", to: "link-target.html", aria: [hidden: true] %>  <--- this is the link that will cover the parent and siblings
  // </div>


  @include clearfix();
  @include force-width;
  position: relative;

  > a:last-of-type {
    @include force-width;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
}
