$card-section-padding-sm: 0.75rem;
$card-section-padding-md: 0;
$card-section-padding-xxl: 0;

.card-section {
  background-color: white;
  border-color: white;
  &.card {
    border-radius: 0;
  }

  &:empty {
    // don't show anything for empty sections
    border: none;
  }

  @include media-breakpoint-up(md) {
    &:first-child {
      margin-top: $card-section-padding-sm;
    }
  }

  &.card-narrow {
    margin-left: $card-section-padding-sm;
    margin-right: $card-section-padding-sm;
  }

  .card-header {
    background-color: white;
    border-color: white;
    padding-left: $card-section-padding-sm;
    padding-right: $card-section-padding-sm;
    padding-top: $card-section-padding-sm;

    p {
      margin-bottom: 0;
    }
  }

  .card-block {
    margin-top: $card-section-padding-sm;
    padding-left: $card-section-padding-sm;
    padding-right: $card-section-padding-sm;
    padding-bottom: $card-section-padding-sm;
  }

  .card-block-no-header {
    //  we don't want to undo the margin
    margin-top: 0;
    padding-top: $card-section-padding-sm;
  }

  @include media-breakpoint-up(md) {
    &.card-narrow {
      // only narrow on mobile
      margin-left: inherit;
      margin-right: inherit;
    }

    .card-header {
      padding-left: $card-section-padding-md;
      padding-right: $card-section-padding-md;
      padding-top: $card-section-padding-md;
    }

    .card-block {
      padding-bottom: $card-section-padding-md;
      padding-left: $card-section-padding-md;
      padding-right: $card-section-padding-md;
    }

    .card-block-no-header {
      padding-top: $card-section-padding-md;
    }
  }

  @include media-breakpoint-up(xxl) {
    .card-header {
      padding-left: $card-section-padding-xxl;
      padding-right: $card-section-padding-xxl;
      padding-top: $card-section-padding-xxl;
    }

    .card-block {
      padding-bottom: $card-section-padding-xxl;
      padding-left: $card-section-padding-xxl;
      padding-right: $card-section-padding-xxl;
    }

    .card-block-no-header {
      padding-top: $card-section-padding-xxl;
    }
  }
}
