// Primary Colors
$brand-primary: #1c77c3;
$brand-primary-darkest: #0b2f4c;
$brand-primary-dark: #165c96;
$brand-primary-light: #5da9e8;
$brand-primary-lightest: #b6d8f5;

// Secondary Colors
$brand-secondary: #ffce0c;
$brand-secondary-dark: #d8ac00;
$brand-secondary-light: #ffe372;

// Background Colors
$brand-navy-dark: #071d2e;
$brand-purple: #3324ae;

// Grays
$gray: #494f5c;
$gray-dark: #1c1e23;
$gray-light: #788093;
$gray-lighter: #b0b5c0;
$gray-lightest: #e9eaed;

// Modes and Lines
$brand-blue-line: #0064c8;
$brand-green-line: #428608;
$brand-orange-line: #ff8200;
$brand-red-line: #ff1428;
$brand-silver-line: #788093;
$brand-commuter: #a00a78;
$brand-the-ride: #52bbc5;

// Alerts
$alert-color: $brand-secondary;
$alert-color-lighter: #fff7d8;
$alert-notice-color: #dcd3e8;
$brand-danger: #ff1428;
$brand-success: #428608;

// Social Media
$instagram: #1c1e23;
$twitter: #55acee;
$youtube: #cd201f;

// General
$homepage-bg-color: #fff;
$footer-color: $brand-navy-dark;
$input-color: $gray-dark;
$list-group-link-color: $gray-dark;
$nav-mobile-link-color: #fff;
$form-error-message: #f2dede;
$form-success-message: #dff0d8;
$white: #fff;
