.project-update-featured-image {
  @include img-fluid();
  width: 100%;
}

.project-update-metadata {
  @include list-unstyled();

  > li {
    padding-top: $space-12;
  }
}

.content-page-block {
  img {
    @include img-fluid();
    margin-bottom: $base-spacing;
  }
}

.landing-page-hero {
  background-color: $gray;
  background-position: center;
  background-size: cover;
  color: $white;
  text-align: center;

  @include media-breakpoint-up(md) {
    height: $hero-height-desktop;
  }

  @include media-breakpoint-down(sm) {
    // scss-lint:disable PropertySortOrder

    height: $hero-height-mobile;

    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.landing-page-titles {
  @include media-breakpoint-down(sm) {
    width: 80%;
  }
}

.landing-page-title {
  border: 0;
  margin-bottom: 0;

  @include media-breakpoint-up(md) {
    font-size: $font-size-hero-desktop;
    line-height: $headings-line-height;
    padding-top: ($hero-height-desktop / 2) - ((($font-size-hero-desktop / 1rem) * $headings-line-height * 16px) / 2);
  }

  @include media-breakpoint-down(sm) {
    font-size: $font-size-hero-mobile;
    margin-bottom: $base-spacing;
  }
}

.landing-page-subtitle {
  font-size: 1rem;
}

.landing-page-stripe-bar {
  margin-bottom: $base-spacing-lg;
}

.landing-page-content h2 {
  border-bottom-color: $brand-purple;
  border-bottom-style: solid;
  border-bottom-width: $base-spacing / 4;
  font-size: $font-size-h1;

  @include media-breakpoint-up(xxl) {
    font-size: $font-size-h1-xxl;
  }
}

.landing-page-content h3 {
  font-size: $font-size-h2;

  @include media-breakpoint-up(xxl) {
    font-size: $font-size-h2-xxl;
  }
}

.landing-page-content h4 {
  font-size: $font-size-h3;

  @include media-breakpoint-up(xxl) {
    font-size: $font-size-h3-xxl;
  }
}
