.project-update-featured-image {
  @include img-fluid();
  width: 100%;
}

.project-update-metadata {
  @include list-unstyled();

  > li {
    padding-top: $space-12;
  }
}

.content-page-block {
  img {
    @include img-fluid();
    margin-bottom: $base-spacing;
  }
}
