.sidebar-menu-title {
  margin-bottom: $base-spacing-sm;
  margin-top: $base-spacing-lg;
}

.sidebar-menu {
  padding-left: 0;

  li {
    list-style-type: none;
  }

  > :last-child {
    border-bottom: $border;
  }
}

.sidebar-menu-item {
  border-left: $border;
  border-right: $border;
  border-top: $border;
  display: block;
  padding: $base-spacing-sm $base-spacing;
  text-decoration: none;

  @include hover-focus-active {
    background-color: $brand-primary;
    color: $white;
    text-decoration: none;
  }
}

.sidebar-menu-current {
  background-color: $brand-primary;
  color: $white;
}

.content-page-block {
  img {
    @include img-fluid();
    margin-bottom: $base-spacing;
  }
}

.landing-page-hero {
  background-color: $gray;
  background-position: center;
  background-size: cover;
  color: $white;
  text-align: center;

  @include media-breakpoint-up(md) {
    min-height: $hero-height-desktop;
  }

  @include media-breakpoint-down(sm) {
    // scss-lint:disable PropertySortOrder

    min-height: $hero-height-mobile;

    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.landing-page-titles {
  @include media-breakpoint-down(sm) {
    width: 80%;
  }
}

.landing-page-title {
  border: 0;
  margin-bottom: 0;

  @include media-breakpoint-up(md) {
    font-size: $font-size-hero-desktop;
    line-height: $headings-line-height;
    padding-top: ($hero-height-desktop / 2) - ((($font-size-hero-desktop / 1rem) * $headings-line-height * 16px) / 2);
  }

  @include media-breakpoint-down(sm) {
    font-size: $font-size-hero-mobile;
    margin-bottom: $base-spacing;
  }
}

.landing-page-subtitle {
  font-size: 1rem;
}

.landing-page-stripe-bar {
  margin-bottom: $base-spacing-lg;
}

.landing-page-content h2 {
  border-bottom-color: $brand-purple;
  border-bottom-style: solid;
  border-bottom-width: $base-spacing / 4;
  font-size: $font-size-h1;

  @include media-breakpoint-up(xxl) {
    font-size: $font-size-h1-xxl;
  }
}

.landing-page-content h3 {
  font-size: $font-size-h2;

  @include media-breakpoint-up(xxl) {
    font-size: $font-size-h2-xxl;
  }
}

.landing-page-content h4 {
  font-size: $font-size-h3;

  @include media-breakpoint-up(xxl) {
    font-size: $font-size-h3-xxl;
  }
}

.content-person-sidebar-img {
  float: left;
}

.content-person-body {
  @include media-breakpoint-up(sm) {
    margin-left: 150px;
  }
}

.content-file-icon {
  margin-right: $space-4;
}

.content-file-grid-row {
  margin-bottom: $base-spacing-sm;
}

.call-to-action-paragraph {
  margin-bottom: $base-spacing;
}
