@import 'variables';

.support-section {
  ul {
    @include list-unstyled();
    margin: 0;
  }

  li {
    margin: $space-8 0;
  }
}

.support-error-container {
  background-color: $form-error-message;
  margin-top: .5em;

  span {
    display: inline-block;
    margin: .5em;

    // NB this should use the single-colon syntax (i.e. :before); it's
    // older CSS2 syntax but FA uses it and due to the way SCSS @extend
    // works we need to match selector syntax.
    // scss-lint:disable PlaceholderInExtend
    // scss-lint:disable PseudoElement
    &:before {
      @extend .fa;
      @extend .fa-exclamation-circle;
      margin-right: .25em;
    }
  }
}

.support-success,
.support-error {
  margin-top: .5em;
  padding: .5em;
}

.support-success {
  background-color: $form-success-message;
}

.support-error {
  background-color: $form-error-message;
}

.photo-preview-container {
  .photo-preview {
    border-bottom: 1px solid $gray-lightest;
    border-top: 1px solid $gray-lightest;
    margin-top: .5em;
    padding: .5em 0;

    img {
      // Polyfill for IE object-fit support
      font-family: 'object-fit: cover;';
      object-fit: contain;
    }
  }
}

.upload-photo-button {
  background-color: $gray-light;
  color: $white;

  label {
    margin: 0;
  }

  + input {
    padding: $space-8 0;
  }
}

.support-text-entered-container {
  background-color: $gray-lightest;
  padding: .5em;
}

body {
  &.no-js {
    .upload-photo-button {
      display: none;
    }
  }

  &.js {
    .support-form-expanded {
      display: none;
    }

    // scss-lint:disable IdSelector
    #photo {
      display: none;
    }
  }
}

.support-comment-success {
  color: $brand-success;
}

.support-tel-number:nth-child(2) {
  margin-left: 1rem;
}

.support-twitter {
  background-color: $twitter;
  border-radius: 100%;
  color: $white;
  margin-right: .5rem;
  padding: .25rem .4rem;
}

.support-form-control {
  border-color: $gray-light;
}

// NB this should use the single-colon syntax (i.e. :before); it's
// older CSS2 syntax but FA uses it and due to the way SCSS @extend
// works we need to match selector syntax.
// scss-lint:disable PlaceholderInExtend
// scss-lint:disable PseudoElement
.has-success .support-form-control + span:before {
  @extend .fa;
  @extend .fa-check-circle;
  color: $brand-success;
  float: right;
  left: -.5rem;
  position: relative;
  top: -1.75rem;
}
