@import 'variables';

.support-section {
  ul {
    @include list-unstyled();
    margin: 0;
  }

  li {
    margin: $space-8 0;
  }
}

.support-error-container {
  background-color: $form-error-message;
  margin-top: .5em;

  span {
    display: inline-block;
    margin: .5em;

    // NB this should use the single-colon syntax (i.e. :before); it's
    // older CSS2 syntax but FA uses it and due to the way SCSS @extend
    // works we need to match selector syntax.
    // scss-lint:disable PseudoElement
    &:before {
      @include fa-icon();
      content: $fa-var-exclamation-circle;
      margin-right: .25em;
    }
  }
}

.support-success,
.support-error {
  margin-top: .5em;
  padding: .5em;
}

.support-success {
  background-color: $form-success-message;
}

.support-error {
  background-color: $form-error-message;
}

.photo-preview-container {
  .photo-preview {
    display: inline-block;
    margin-left: $space-8;
    margin-top: $space-8;

    img {
      // Polyfill for IE object-fit support
      font-family: 'object-fit: cover;';
      object-fit: contain;
    }

    p {
      margin: 0;
    }
  }

  .clear-photo {
    padding-left: $space-2;
  }
}

.upload-photo-link {
  cursor: pointer;

  + input {
    padding: $space-8 0;
  }
}

.support-text-entered-container {
  background-color: $gray-lightest;
  padding: .5em;
}

body {
  &.no-js {
    .upload-photo-link {
      display: none;
    }
  }

  &.js {
    .support-form-expanded {
      display: none;
    }

    // scss-lint:disable IdSelector
    #photo {
      display: none;
    }
  }
}

.support-comment-success {
  color: $brand-success;
}

.support-tel-number:nth-child(2) {
  margin-left: 1rem;
}

.support-twitter {
  background-color: $twitter;
  border-radius: 100%;
  color: $white;
  margin-right: .5rem;
  padding: .25rem .4rem;
}

.support-form-control {
  border-color: $gray-light;
}

.has-success .support-form-control + span::before {
  @include fa-icon();
  color: $brand-success;
  content: $fa-var-check-circle;
  float: right;
  left: -.5rem;
  position: relative;
  top: -1.75rem;
}

.submit-button {
  margin-top: $space-8;
}

button .waiting {
  margin: 5%;
}

.contrast {
  background-color: $gray-bordered-background;
  margin-left: $space-12;

  &.form-group {
    margin-bottom: $space-2;
    padding: $space-12;
  }
}
