@import 'variables';

.error-card {
  background: $white;
  color: $gray-dark;
  padding: 1em .5em 0;
  text-align: center;

  @include media-breakpoint-down(md) {
    img {
      width: 300px;
    }
  }

  @include media-breakpoint-up(md) {
    margin: 4rem auto 0;
  }

  h1 {
    border-bottom: 0;
    font-size: 4rem;
  }

  h2 {
    margin-bottom: 3rem;
  }
}

%error-message {
  background-color: $form-error-message;
  color: $error-text;
  padding: .375rem .75rem;
}
