@import 'variables';

.error-card {
  background: $white;
  color: $gray-dark;
  padding: 1em .5em 1.75em;
  text-align: center;

  @include media-breakpoint-up(sm) {
    margin: 5rem;
    padding-bottom: 1em;
  }
  @include media-breakpoint-up(md) {
    margin: 5rem 5rem 15rem;
  }

  h1,
  h2 {
    font-size: 1.25rem;
    line-height: 1.25em;
  }
}
