.event-title {
  padding-top: $base-spacing-lg;
}

.event-hr-row {
  border-top: $border;
  margin-top: $base-spacing-lg;
  padding-top: $base-spacing-lg;
}

.arrow-icon:hover {
  color: $brand-primary-lightest;
  text-decoration: none;
}

.event-list-empty {
  margin-bottom: 0;
  padding: $base-spacing;
}

.event-list li:first-child {
  border-top: 0;
}

.event-info-label {
  font-weight: bold;

  @include media-breakpoint-down(sm) {
    display: block;
  }
}

.events-paragraph {
  margin: $base-spacing-lg 0;
}

.event-paragraph-title {
  font-weight: bold;
}
