.fares-tab-group {
  border-bottom: 2px solid $brand-primary;
  margin: 1em 0 0;
}

.fares-tab {
  text-align: center;

  &.fares-tab-selected {
    background-color: $brand-primary;
    color: $white;
  }
}

.fares-description-tab {
  background-color: $brand-primary;
  color: $white;
}

.fares-box {
  border: solid 3px $brand-primary;
  padding: .75rem;

  @include media-breakpoint-up(md) {
    .row > .fares-box-column:first-child {
      border-right: 1px solid $gray-lightest;
    }
  }
}

.fares-row {
  border-top: 1px solid $gray-lightest;

  &:first-child {
    border-top: 0;
  }
}

.fare-name {
  display: inline-block;
  padding: .5rem 0;
  width: 50%;
}

.fare-price {
  background-color: $gray-lightest;
  display: inline-block;
  float: right;
  padding: .5em;
  text-align: center;
}

.fares-box-column {
  padding: .5rem;

  @include media-breakpoint-down(sm) {
    border-top: 1px solid $gray-lightest;

    &:first-child {
      border-top: 0;
    }
  }
}

.fares-mode-icon {
  margin-top: .5rem;
  text-align: center;
  width: 100%;

  .route-icon {
    float: none;
  }
}

.fares-ticket-type {
  clear: both;
}

.fare-duration {
  color: $gray-light;
  font-size: 18px;
  line-height: 1.5;
}

.fares-mode-icon-group {
  margin-left: -30px;
  position: relative;
}

.fare-qualifications {
  background-color: $gray-lightest;
  padding: .5rem;
}

.adult-fares-tab {
  padding: .5rem;
}

.fare-route {
  background-color: $gray-lightest;
  padding: .5rem;
}

.fares-google-play {
  display: inline-block;
  vertical-align: baseline;
}

.fares-callout-row {
  display: flex;
  flex-wrap: wrap;
}

.fares-callout-container {
  display: flex;
  flex-direction: column;

  @include media-breakpoint-down(sm) {
    &:first-child {
      margin-bottom: .5em;
    }
  }
}

.fares-callout {
  color: $white;
  font-weight: lighter;
  height: 100%;
  padding: 1.5em;
  text-align: center;

  .btn {
    background-color: initial;
    border-color: $white;
    color: $white;
  }

  h3 {
    font-weight: initial;
  }

  .line {
    border-color: $white;
    width: 150px;
  }

  &.fares-callout-corporate {
    background-color: $gray-light;
  }

  &.fares-callout-reduced {
    background-color: $brand-primary-dark;
  }
}
