.fare-summary-container {
  @extend %title-card-container;
  @extend %title-card-container-table;
}

.fare-summary-entry {
  @extend %title-card;
}

.fare-summary-name {
  @extend %title-card-title;
}

.fare-summary-mode-icons {
  padding-left: $base-spacing-sm;
}

.fare-summary-fare {
  padding: $base-spacing-sm 0;
}

.fare-summary-fare-price {
  float: right;
  font-weight: normal;
}
