.fare-summary-container {
  @include clearfix();
  margin-bottom: $base-spacing;

  + .fare-summary-container {
    margin-top: -$base-spacing;
  }
}

.fare-summary-entry {
  @extend %block-level-link;
  @extend %button-focus-color;
  border: $space-1 solid $gray-lightest;
  display: table-cell;
  float: left;
  margin-top: -$space-1;
  padding: $base-spacing;
  width: 100%;
}

.the-ride-summary-entry {
  padding-bottom: $base-spacing;
}

div:not(.col-md-6) > .fare-summary-container {
  // only make it smaller if we're not inside a shrinking column already
  @include media-breakpoint-up(sm) {
    border-collapse: collapse;
    display: table;
    width: 100%;

    + .fare-summary-container {
      margin-top: -$base-spacing - $space-1;
    }

    .fare-summary-entry {
      display: table-cell;
      float: none;
      width: 50%;
    }
  }
}

.fare-summary-name {
  font-weight: bold;
  margin-bottom: $base-spacing-sm;
}

.fare-summary-mode-icons {
  padding-left: $base-spacing-sm;
}

.fare-summary-fare {
  padding: $base-spacing-sm 0;
}

.fare-summary-fare-price {
  float: right;
  font-weight: normal;
}
