.fares-tab-group {
  border-bottom: .25rem solid $brand-primary;

  &:empty {
    border-bottom-width: 1px;
  }
}

@include media-breakpoint-only(xs) {
  .fares-tab-group.show-btn-group {
    border: 0;
  }
}

.fares-filter-list {
  .tab-list-group {
    margin-bottom: 0;
  }

  &:empty {
    border-bottom: 1px solid $brand-primary;
  }
}

.fares-tab-selected {
  background-color: $brand-primary;
  color: $white;

  @include media-breakpoint-down(xs) {
    &:only-child {
      display: block;
    }
  }
}

a {
  &.fares-tab-selected {
    @include hover-focus-active {
      color: $white;
      text-decoration: underline;
    }
  }
}

.fares-box {
  border: solid $space-1 $brand-primary;
  border-top: 0;
  margin: 0 0 $base-spacing;
  padding-left: ($grid-gutter-width / 2);
  padding-right: ($grid-gutter-width / 2);
}

.fares-row {
  @include make-row();

  &:not(:first-child) {
    border-top: 1px solid $gray-lightest;
  }
}

.fare-price {
  float: right;

  @include media-breakpoint-only(sm) {
    display: block;
    float: none;
    margin: 0;
    padding: 0;
  }
}

.fares-box-column {
  //scss-lint:disable PlaceholderInExtend
  @extend .col-xs-12;
  @extend .col-sm-6;

  padding-bottom: $grid-gutter-width / 2;
  padding-top: $grid-gutter-width / 2;

  @include media-breakpoint-down(xs) {
    border-top: 1px solid $gray-lightest;

    &:first-child {
      border-top: 0;
    }
  }

  @include media-breakpoint-up(sm) {
    &:nth-child(1) {
      border-right: 1px solid $gray-lightest;
    }

    &:nth-child(2) {
      border-left: 1px solid $gray-lightest;
      left: -1px;
    }
  }
}

.fare-mode-row {
  background-color: $gray-lightest;
  padding: $base-spacing;

  > * {
    display: inline-block;
    max-width: 75%;
  }
}

.fare-callout-box {
  @extend %callout;
}

.fare-travel-routes {
  margin-bottom: 1rem;
}

.fares-google-play {
  display: inline-block;
  vertical-align: baseline;
}

.fares-callout-row {
  display: flex;
  flex-wrap: wrap;
}

.fares-callout-container {
  display: flex;
  flex-direction: column;

  @include media-breakpoint-down(sm) {
    &:first-child {
      margin-bottom: .5em;
    }
  }
}

//scss-lint:disable SelectorFormat
.charlie_card-template {
  .h4 {
    margin-top: 1.5rem;
  }

  .page-section {
    margin-bottom: 2rem;
  }
}
//scss-lint:enable SelectorFormat

.charlie-card-hours,
.charlie-store-info,
.expired-address {
  p {
    margin-bottom: 0;
  }
}

.charlie-card-stations {
  margin-top: $base-spacing;
}

.charlie-card-link {
  //scss-lint:disable PlaceholderInExtend
  @extend .mode-group-btn;

  .charlie-card-truncate {
    @include truncate();
  }
}

.charlie-ticket-method {
  margin-bottom: $base-spacing;
}

.payment-image {
  margin-bottom: $base-spacing;

  @include media-breakpoint-only(xs) {
    &:not(:first-child) {
      margin-top: $base-spacing;
    }
  }

  img {
    width: 100%;
  }

}

.fare-card-image {
  display: inline-block;
  text-align: center;

  + .fare-card-image {
    margin-left: $grid-gutter-width;
  }
}

.reduced-image {
  width: 100%;
}

@include media-breakpoint-down(sm) {
  .fare-selector-container {
    padding-bottom: .75rem;
  }
}

.the-ride-column {
  @include media-breakpoint-up(sm) {
    &:nth-child(odd) {
      padding-right: 1.5rem;
    }

    &:nth-child(even) {
      padding-left: 1.5rem;
    }
  }
}

.common-fare {
  > p {
    font-weight: bold;
    margin-bottom: $space-8;
  }

  .common-fare-type {
    color: $brand-primary;
  }

  &.commuter-fare {
    @include media-breakpoint-only(sm) {
      margin-bottom: $space-24;
    }
  }

  li {
    border-top: 1px solid $gray-lightest;
    color: $gray-dark;
    padding: $space-8;

    @include media-breakpoint-only(md) {
      font-size: .85rem;
    }

    &:first-child {
      border-top: 0;
    }
  }
}

.common-fare-dark-row {
  &:first-child {
    margin-bottom: $space-8;
  }
}

.common-fare-dark-column {
  &:hover {
    text-decoration: none;
  }
}

.common-fare-column {
  border-right: $border;

  @include media-breakpoint-down(xs) {
    border-right: 0;
  }

  &:hover {
    background-color: $brand-primary-lightest;
    text-decoration: none;

    @include media-breakpoint-down(xs) {
      background-color: $white;
    }
  }
}

.common-fare-dark {
  @extend %button-focus-color;
  border: 1px solid $brand-primary-dark;
  border-left: 6px solid $brand-primary-light;
  color: $white;
  padding: $space-8;

  @include hover-focus-active() {
    text-decoration: none;
  }

  ul {
    margin-bottom: $space-8;
  }

  li {
    border-top: 0;
    padding: $space-4;
  }

  .charlie-card-block {
    @include media-breakpoint-only(md) {
      max-width: 75%;
    }
  }

  &.commuter-fare {
    @include media-breakpoint-only(md) {
      padding-bottom: ($space-16 * 2);
    }
  }
}

.common-fare-type {
  color: $brand-primary-light;
  font-weight: bold;
}

.charlie-card-block {
  display: inline-block;

  @include media-breakpoint-only(sm) {
    max-width: 55%;
  }
}
