.reduced-fare-note {
  background-color: $gray-lightest;
}

.fares-tab-group {
  border-bottom: 2px solid $brand-primary;
  margin: 1em 0 0;
}

.fares-tab {
  display: inline-block;
  text-align: center;
  padding: 1rem 2rem;
}

.fares-tab-selected {
    background-color: $brand-primary;
    color: $white;
}

.fares-box {
  border: solid 3px $brand-primary;
  padding: .75rem;

  @include media-breakpoint-up(md) {
    .row > .fares-box-column:first-child {
      border-right: 1px solid $gray-lightest;
    }
  }
}

.fares-row {
  border-top: 1px solid $gray-lightest;

  &:first-child {
    border-top: 0;
  }
}

.fare-name {
  display: inline-block;
  padding: .5rem 0;
}

.fare-price {
  background-color: $gray-lightest;
  display: inline-block;
  float: right;
  padding: .5em;
  text-align: center;
}

.fares-box-column {
  padding: .5rem;

  @include media-breakpoint-down(sm) {
    border-top: 1px solid $gray-lightest;

    &:first-child {
      border-top: 0;
    }
  }
}

.fares-mode-icon {
  padding: 1rem;
  text-align: center;
  width: 100%;

  .route-icon {
    float: none;
  }
}

.fares-ticket-type {
  padding: .5rem .25rem;
}

.fare-duration {
  color: $gray-light;
  font-size: 18px;
  line-height: 1.5;
}

.fares-mode-icon-group {
  margin-left: -30px;
  position: relative;
}

.adult-fares-tab {
  padding: .5rem;
}

.fare-callout-box {
  background-color: $gray-lightest;
  padding: .5rem;
}

.fares-google-play {
  display: inline-block;
  vertical-align: baseline;
}

.fares-callout-row {
  display: flex;
  flex-wrap: wrap;
}

.fares-callout-container {
  display: flex;
  flex-direction: column;

  @include media-breakpoint-down(sm) {
    &:first-child {
      margin-bottom: .5em;
    }
  }
}

.fares-callout {
  color: $white;
  font-weight: lighter;
  height: 100%;
  padding: 1.5em;
  text-align: center;

  .btn {
    background-color: initial;
    border-color: $white;
    color: $white;
  }

  h3 {
    font-weight: initial;
  }

  .line {
    border-color: $white;
    width: 150px;
  }

  &.fares-callout-corporate {
    background-color: $gray-light;
  }

  &.fares-callout-reduced {
    background-color: $brand-primary-dark;
  }
}

.fares-zone-map-link {
  padding: .5rem .125rem 0;
}

.fares-purchasing-option {
  padding: 1rem 0;
}

.charlie-card-hours {
  border: 1px solid $gray-lightest;
  padding: 0;

  .hours-header {
    background-color: $gray-lightest;
    font-weight: bold;
    padding: .5em;
  }

  .hours-body {
    padding: .5em .5em 0;
  }
}

.charlie-card-link {
  border-top: 1px solid $gray-lightest;
  display: block;
  padding: .75em .5em;

  @include media-breakpoint-up(md) {
    &:last-child {
      border-bottom: 1px solid $gray-lightest;
    }
  }
}

@include media-breakpoint-down(sm) {
  .charlie-card-link-container ~ .charlie-card-link-container {
    margin-bottom: 1em;

    .charlie-card-link:last-child {
      border-bottom: 1px solid $gray-lightest;
    }
  }
}

@include media-breakpoint-up(md) {
  .charlie-card-link-container {
    padding-right: 1.5em;
  }

  .charlie-card-link-container ~ .charlie-card-link-container {
    padding-left: 1.5em;
    padding-right: .375em;
  }
}
