@import 'variables';

.footer {
  background-color: $footer-color;
  font-size: $font-size-sm;
  min-width: 20rem;
  padding-bottom: $base-spacing * 2;
  padding-top: $base-spacing * 2;
  text-align: center;

  @include media-breakpoint-up(md) {
    color: $white;
    text-align: inherit;
  }
}

.footer-link-list {
  @include list-unstyled;
  clear: both;
  float: left;
  width: 100%;

  @include media-breakpoint-down(sm) {
    display: none;
  }
}

.footer-link-list-large {
  &:nth-child(2n) {
    margin-bottom: $base-spacing * 3;
  }
}

.footer-link-list-small {
  display: none;

  @include media-breakpoint-down(sm) {
    display: block;
  }
}

.footer-link-sublist {
  @include list-unstyled;
 }

.footer-link-list-item {
  float: left;
  font-weight: bold;
  list-style: none;
  text-align: left;
  width: 25%;
}

.footer-link-item-small {
  display: inline;

  &:not(:last-child)::after {
    color: $white;
    content: 'â—';
    margin: 0 .25em;
  }

  a {
    color: $brand-primary-light-contrast;
  }
}

.footer-link-sublist-item {
  margin: .25rem 0;

  > a {
    color: $brand-primary-light-contrast;
    font-weight: normal;
  }
}

.footer-copyright,
.footer-photo-credits {
  font-size: $font-size-xs;

  @include media-breakpoint-down(sm) {
    color: $white;
    padding-top: 0;
    text-align: center;
  }
}

.footer-photo-credits {
  p,
  a {
    color: $gray-light;
    margin-bottom: 0;
  }
}

.social-nav {
  padding: .5rem 0 0;
  margin-bottom: $base-spacing;

  a {
    border-radius: 100%;
    color: $white;
    display: inline-block;
    height: 1.5em;
    text-align: center;
    width: 1.5em;
  }

  .nav-item {
    display: inline-block;
    margin-left: 0;

    + .nav-item {
      margin-left: .5rem;
    }
  }

  .social-nav-instagram {
    background-color: $white;

    .fa {
      color: $instagram;
    }
  }

  .social-nav-youtube {
    background-color: $youtube;
  }

  .social-nav-twitter {
    background-color: $twitter;
  }
}
