@import 'variables';

$footer-padding-top: $base-spacing * 2;
$footer-padding-bottom: $base-spacing * 2;
$small-footer-container-height: 4.5rem;
$large-footer-container-height: 25rem;
$credit-height: $base-spacing * 4;

.body-wrapper {
  @include media-breakpoint-up(xs) {
    margin-bottom: $small-footer-container-height + $footer-padding-top + $footer-padding-bottom;

    &.with-photo-credits {
      margin-bottom: $small-footer-container-height + $footer-padding-top + $footer-padding-bottom + $credit-height;
    }
  }

  @include media-breakpoint-up(md) {
    margin-bottom: $large-footer-container-height + $footer-padding-top + $footer-padding-bottom;

    &.with-photo-credits {
      margin-bottom: $large-footer-container-height + $footer-padding-top + $footer-padding-bottom + $credit-height;
    }
  }
}

.footer {
  background-color: $footer-color;
  bottom: 0;
  font-size: $font-size-sm;
  padding-bottom: $footer-padding-bottom;
  padding-top: $footer-padding-top;
  position: absolute;
  width: 100%;
  text-align: center;

  @include media-breakpoint-up(md) {
    color: $white;
    text-align: inherit;
  }
}

.footer-link-list {
  @include list-unstyled;
  clear: both;
  float: left;
  width: 100%;

  @include media-breakpoint-down(sm) {
    display: none;
  }
}

.footer-link-list-large {
  &:nth-child(2n) {
    margin-bottom: $base-spacing * 3;
  }
}

.footer-link-list-small {
  display: none;

  @include media-breakpoint-down(sm) {
    display: block;
  }
}

.footer-link-sublist {
  @include list-unstyled;
 }

.footer-link-list-item {
  float: left;
  list-style: none;
  text-align: left;
  width: 25%;
}

.footer-link-item-small {
  display: inline;

  &:not(:last-child)::after {
    color: $white;
    content: 'â—';
    margin: 0 .25em;
  }
}

.footer-link-sublist-item {
  margin: .25rem 0;

  > a {
    color: $brand-primary-light;
  }
}

.footer-copyright,
.footer-photo-credits {
  font-size: $font-size-xs;

  @include media-breakpoint-down(sm) {
    color: $white;
    padding-top: 0;
    text-align: center;
  }
}

.footer-photo-credits {
  p,
  a {
    color: $gray-light;
    margin-bottom: 0;
  }
}

.social-nav {
  padding: .5rem 0 0;

  a {
    border-radius: 100%;
    color: $white;
    height: 1.5em;
    text-align: center;
    width: 1.5em;
  }

  .nav-item {
    margin-left: 0;

    + .nav-item {
      margin-left: .5rem;
    }
  }

  .social-nav-instagram {
    background-color: $white;

    .fa {
      color: $instagram;
    }
  }

  .social-nav-youtube {
    background-color: $youtube;
  }

  .social-nav-twitter {
    background-color: $twitter;
  }
}
