@import 'variables';

$footer-xs: 145px;
$footer-sm: 117px;
$footer-md-up: 428px;

.body-wrapper {
  @include media-breakpoint-only(xs) {
    margin-bottom: $footer-xs;
  }

  @include media-breakpoint-only(sm) {
    margin-bottom: $footer-sm;
  }

  @include media-breakpoint-up(md) {
    margin-bottom: $footer-md-up;
  }
}

.footer {
  background-color: $footer-color;
  bottom: 0;
  font-size: $font-size-sm;
  padding-top: $base-spacing;
  position: absolute;
  width: 100%;
  text-align: center;

  @include media-breakpoint-only(xs) {
    height: $footer-xs;
  }

  @include media-breakpoint-only(sm) {
    height: $footer-sm;
  }

  @include media-breakpoint-up(md) {
    color: $white;
    height: $footer-md-up;
    text-align: inherit;
  }
}

.footer-link-list {
  @include list-unstyled;
  clear: both;
  float: left;
  width: 100%;

  @include media-breakpoint-down(sm) {
    display: none;
  }
}

.footer-link-list-small {
  display: none;

  @include media-breakpoint-down(sm) {
    display: block;
  }
}

.footer-link-sublist {
  @include list-unstyled;
 }

.footer-link-list-item {
  float: left;
  list-style: none;
  text-align: left;
  width: 25%;
}

.footer-link-item-small {
  display: inline;

  &:not(:last-child)::after {
    color: $white;
    content: 'â—';
    margin: 0 .25em;
  }
}

.footer-link-sublist-item {
  margin: .25rem 0;

  > a {
    color: $brand-primary-light;
  }
}

.footer-copyright {
  display: inline-block;
  font-size: $font-size-xs;
  margin-bottom: 1rem;

  @include media-breakpoint-down(md) {
    color: $white;
    padding-top: 0;
    text-align: center;
  }
}

.social-nav {
  padding: .5rem 0 0;

  a {
    border-radius: 100%;
    color: $white;
    height: 1.5em;
    text-align: center;
    width: 1.5em;
  }

  .nav-item {
    margin-left: 0;

    + .nav-item {
      margin-left: .5rem;
    }
  }

  .social-nav-instagram {
    background-color: $white;

    .fa {
      color: $instagram;
    }
  }

  .social-nav-youtube {
    background-color: $youtube;
  }

  .social-nav-twitter {
    background-color: $twitter;
  }
}
