@import 'variables';

.desktop-menu-nav {
  float: right;

  @include media-breakpoint-down(sm) {
    display: none;
  }

  .nav-item {
    float: left;
    height: $header-navbar-height;
    padding-left: $grid-gutter-width / 2.5;
    padding-right: $grid-gutter-width / 2.5;
    text-align: right;

    &:first-child,
    &:last-child {
      padding-left: 0;
    }

    > a {
      line-height: $header-navbar-height-multiplier;
      vertical-align: middle;
      text-decoration: none;
    }
  }

  .nav-pull-right {
    float: right;
  }
}

.desktop-nav-link {
  // scss-lint:disable DuplicateProperty
  color: $link-color;
  display: inline-block;
  display: flex;
  font-weight: bold;
  justify-content: space-between;
  position: relative;

  &::before {
    border-bottom-color: $brand-secondary;
    border-bottom-style: solid;
    border-bottom-width: $space-6;
    bottom: 0;
    content: ' ';
    position: absolute;
    width: 100%;
  }

  &.collapsed {
    color: $gray-dark;
    font-weight: normal;

    &::before {
      border-bottom-width: 0;
    }
  }
}

.nav-link-content {
  display: inline-block;
  flex: 0 0 auto;

  &.nav-link-icon {
    // scss-lint:disable DuplicateProperty
    align-items: center;
    display: inline-block;
    display: flex;
    margin-right: $base-spacing / 4;
  }
}

.toggle-up-down {
  .nav-link-content {
    > .down {
      display: none;
    }

    > .up {
      display: inline;
    }
  }

  &.collapsed .nav-link-content {
    > .down {
      display: inline;
    }

    > .up {
      display: none;
    }
  }

}

.desktop-menu {
  // The same pattern repeated thrice upon the y-axis and infinitely along the x-axis
  background-color: $gray-lightest;
  background-image: $gray-stripe-pattern, $gray-stripe-pattern, $gray-stripe-pattern;
  background-position: 0 0, 6px 6px, 12px 12px, 18px 18px;
  background-repeat: repeat no-repeat;
  padding: 0;
  position: absolute;
  left: 0;
  right: 0;
  margin-bottom: 0;
  text-align: left;
  z-index: $z-index-above-main-container-content;

  @include media-breakpoint-down(sm) {
    display: none;
  }

  ul {
    @include list-unstyled();
  }

  .desktop-menu-background-image {
    background-image: linear-gradient(to bottom, transparentize($white, .6), transparentize($gray, .7)), url('/images/map-abstract-bkg-overlay.png');
    background-size: 100%;
  }
}

// scss-lint:disable IdSelector
#more {
  .header-column {
    &:first-child {
      padding-left: $grid-gutter-width / 2;
    }

    &:last-child {
      padding-right: $grid-gutter-width / 2;
    }
  }
}

.menu-row {
  display: table;
  margin-bottom: $space-36;
  padding-top: $space-36;
  width: 100%;
}

.menu-link-row {
  padding-bottom: $space-24;
}

.header-column {
  border-left: 1px solid $brand-primary-darkest;
  display: table-cell;
  float: none;
  padding-left: $space-24;
  padding-right: $space-24;

  &:first-child {
    border-left-width: 0;
  }
}

.nav-title {
  font-weight: bold;
  margin-bottom: .5rem;
}

header {
  background-color: $brand-primary;
  color: $white;

  @include media-breakpoint-up(md) {
    background-color: $body-bg;
    color: $body-color;
  }
}

.header-border {
  @include media-breakpoint-up(md) {
    border-bottom: $border;
  }
}

.header-navbar {
  // required for the mobile button to be vertically centered
  height: $header-navbar-height;
}

.navbar-logo {
  display: block;
  float: left;

  svg {
    display: block;
    height: $header-navbar-height;
    width: $base-spacing * 12; // setting the width keeps the rendered logo proportional,
                               // while adding space above and below inside the svg.

    @include media-breakpoint-down(sm) {
      g {
        fill: $white;
      }
    }
  }
}

.navbar-toggle {
  background-color: $brand-primary;
  border: 0;
  font-size: $font-size-sm;
  height: 100%;
  padding-bottom: $base-spacing-sm;
  padding-top: $base-spacing-sm;
  text-align: center;
  vertical-align: middle;

  @include media-breakpoint-up(md) {
    display: none;
  }
}

.mobile-nav {
  @include list-unstyled();
  text-align: center;
  width: 100%;

  @include media-breakpoint-up(md) {
    display: none;

    a {
      height: 3rem;
    }
  }
}

.mobile-nav-link {
  color: $white;
  display: block;
  font-size: $font-size-base-xxl;
  margin-bottom: $base-spacing;

  @include hover-focus-active {
    color: $white;
  }

  &.old-site-mobile-link {
    background-color: $brand-primary-darkest;
    color: $gray-lightest;
    height: ($space-16 * 4);
    margin-bottom: -$space-16 * 2;
    margin-left: -$grid-gutter-width / 2;
    margin-right: -$grid-gutter-width / 2;
    padding-top: $space-12;
  }
}

.mobile-nav-description {
  color: $gray-lightest;
  font-size: $font-size-base;
}

.old-site-desktop-link {
  background-color: $brand-primary;
  border-radius: 3px;
  color: $white;
  padding: $space-6 0;
  text-align: center;
}

.icon-search {
  height: 30px;
  width: 30px;
}

.nav-item-search {
  @include media-breakpoint-up(lg) {
    margin-left: 20px;
  }
}

.search-no-js input {
  border: $border;
  border-radius: $border-radius;
  margin-top: $base-spacing * .75;

  &:active,
  &:focus {
    box-shadow: none;
    outline: none;
  }
}

.search-nav-link {
  color: $gray-dark;
  cursor: pointer;
  font-weight: 400;
  user-select: none;

  &::before {
    border-bottom-width: 0;
  }
}

.search-label {
  @include media-breakpoint-down(md) {
    display: none;
  }

  label {
    margin-bottom: 0;
  }
}

.search-dropdown {
  border-bottom: 4px solid $brand-secondary;
  position: relative;

  form {
    margin-top: $base-spacing;
  }

  input {
    background-color: transparent;
    border: 0;
    color: $gray-dark;
    font-size: $font-size-h1;
    width: 90%;

    &:active,
    &:focus {
      border: 0;
      box-shadow: none;
      outline: none;
    }
  }
}

.search-button {
  background-color: $brand-primary;
  border: 0;
  border-radius: $border-radius;

  g {
    fill: $white;
  }
}

.search-button-sm svg {
  width: $base-spacing;
}

.search-button-xl {
  bottom: 7px;
  height: 48px;
  position: absolute;
  right: 0;
  width: 48px;
}

.search-mobile {
  margin: $base-spacing 0;

  g {
    fill: $white;
  }

  .text-input-button-widget {
    margin: auto;
    width: 90%;
  }
}
