@import 'variables';
$icon-size: 1.75rem;

.header-image {
  background-color: $white;
  border-radius: 50%;
  color: $brand-navy-dark;
  display: inline-block;
  height: $icon-size;
  margin-right: .5rem;
  text-align: center;
  width: $icon-size;

  .fa {
    margin: .3rem;
  }
}

@include media-breakpoint-up(md) {
  .header > .container > .navbar {
    padding-bottom: 0;
  }
}

.desktop-menu-nav {
  margin-top: 1.75rem;
  padding: 0;

  .nav-link {
    border-bottom: 6px solid $brand-secondary;
    color: $link-color;
    font-weight: bold;

    .down {
      display: none;
    }

    .up {
      display: initial;
    }

    // scss-lint:disable NestingDepth
    &.collapsed {
      border-bottom: 6px solid $white;
      color: $gray-dark;
      font-weight: normal;

      .down {
        display: initial;
      }

      .up {
        display: none;
      }
    }
  }
}

.mobile-dropdown-menu {
  .down {
    display: none;
  }

  .up {
    display: initial;
  }

  &.collapsed {
    .down {
      display: initial;
    }

    .up {
      display: none;
    }
  }
}

.desktop-menu {
  background-color: $brand-navy-dark;
  padding: 0;

  a {
    color: $brand-primary-light;
  }

  .route-icon {
    @include route-icon(1.5rem);
    margin: 0 0 0 .25rem;
  }
}

.header-fares {
  li {
    background-color: $white;
    border-top: 1px solid $gray-lightest;
    color: $gray-dark;
    padding: .5rem;

    &:first-child {
      border-top: 0;
    }
  }
}

.menu-card {
  border: 0;
  color: $white;
  margin-bottom: 0;

  &.card {
    background-color: initial;
  }

  ul {
    list-style: none;
    padding: 0;
  }
}

// scss-lint:disable IdSelector
// scss-lint:disable SelectorFormat
#gettingAround,
#contactUs,
#more {
  .mbta-custom-icon {
    width: $icon-size;
  }

  .icon-circle {
    fill: $white;
  }

  .icon-image {
    fill: $brand-navy-dark;
  }

  .map-image {
    fill: $white;
    stroke: $brand-navy-dark;
    stroke-width: 1.5px;
  }

  .globe-image {
    fill: $white;
    stroke: $brand-navy-dark;
  }
}

#faresDrawer {
  .mbta-custom-icon {
    margin-right: 0;
    width: $icon-size * .8;
  }
}

.menu-row {
  padding: 2rem 0;
}

.header-column {
  border-left: 1px solid $white;
  border-right: 1px solid $white;
  display: inline-block;
  padding: 0 2.5rem;

  @include media-breakpoint-up(md) {
    width: 33%;
  }

  @include media-breakpoint-down(sm) {
    width: 100%;
  }

  > div {
    display: inline-block;
  }

  &:nth-child(2),
  &:nth-child(3) {
    margin-left: -1px;
  }

  &:first-child {
    border-left-width: 0;
  }

  &:last-child {
    border-right-width: 0;
  }
}

.nav-title {
  font-weight: bold;
  margin-bottom: .5rem;
}

.social-nav {
  padding-top: 7px;

  @include media-breakpoint-down(md) {
    // move social icons up on tablets
    bottom: 3rem;
    height: 0;
    padding: 0;
    position: relative;
  }

  a {
    border-radius: 100%;
    color: $white;
    height: 1.5em;
    text-align: center;
    width: 1.5em;
  }

  .nav-item {
    margin-left: 0;

    + .nav-item {
      margin-left: .5rem;
    }
  }

  .social-nav-instagram {
    background-color: $white;

    .fa {
      color: $instagram;
    }
  }

  .social-nav-youtube {
    background-color: $youtube;
  }

  .social-nav-twitter {
    background-color: $twitter;
  }
}

.header {
  background-color: $white;
}

@include media-breakpoint-up(md) {
  .navbar-brand,
  .nav-link {
    color: $gray-dark;
  }
}

@include media-breakpoint-down(sm) {
  .header {
    background-color: $brand-primary;
    color: $nav-mobile-link-color;
  }

  .navbar-brand,
  .nav-link {
    color: $nav-mobile-link-color;

    @include hover-focus-active {
      color: $nav-mobile-link-color;
      text-decoration: underline;
    }
  }

  .navbar-brand {
    max-width: 12rem;
  }

  .navbar-logo {
    svg {
      left: 4px;
      position: absolute;
      top: 4px;
      width: 150px;

      g {
        fill: $white;
      }
    }
  }


  .navbar-nav .nav-item {
    text-align: center;
    width: 100%;

    @include media-breakpoint-down(md) {
      padding-bottom: .75rem;
    }

    + .nav-item {
      margin-left: 0;
    }

    a {
      height: 3rem;
    }
  }

  .full-width {
    // removes the margins on the outside
    @include make-row();
  }
}

.navbar-logo {
  display: block;
  float: left;
  height: 36px;
  margin-right: .5rem;
  width: 36px;

  svg {
    fill: $gray-dark;
  }
}

.menu-description {
  color: $gray-lightest;
}
