.bg-white {
  background-color: white;
}

.bg-gray {
  color: white;
  background-color: $gray;
}
.list-group-item.bg-gray {
  color: white;
}

.list-group-item.bg-inverse {
  color: $gray-lighter;
}

.no-overflow {
  word-wrap: break-word;
  word-break: break-word;
}

@mixin truncate($margin-right: 1em, $fallback-width: 95%) {
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  // scss-lint:disable DuplicateProperty
  width: $fallback-width; // fallback for browsers which don't support calc()
  width: calc(100% - #{$margin-right});
}

.no-wrap {
  white-space: nowrap;
}
