.bg-white {
  background-color: white;
}

.bg-gray {
  color: white;
  background-color: $gray;
}
.list-group-item.bg-gray {
  color: white;
}

.white {
  color: white;
}

.brand-primary-dark {
  color: $brand-primary-dark;
}

.bg-brand-primary-dark {
  background-color: $brand-primary-dark;
}

.bg-brand-primary-darkest {
  background-color: $brand-primary-darkest;
}

.list-group-item.bg-inverse {
  color: $gray-lighter;
}

.no-overflow {
  word-wrap: break-word;
  word-break: break-word;
}
