.how-to-pay-steps {
  margin-left: 0;
  padding-right: 0;
  list-style-type: none;
}

.how-to-pay-steps li {
  counter-increment: step-counter;
  margin-top: -1rem;
}

.how-to-pay-steps li::before {
  content: counter(step-counter);
  margin-right: 5px;
  font-size: 80%;
  color: white;
  padding: 3px 8px;
  border-radius: 12px;
  background-color: $brand-primary-dark;
  position: relative;
  top: 1.5rem;
  right: 2rem;
}

.how-to-pay-callout {
  border-top: solid 1px $gray-lightest;
  border-bottom: solid 1px $gray-lightest;
  padding: .5rem 0;
  margin: .5rem 0;
}

.how-to-pay-callout-top {
  border-bottom: solid 1px $gray-lightest;
  padding: .5rem 0;
  margin: .5rem 0;
}

.how-to-pay-callout-bottom {
  border-top: solid 1px $gray-lightest;
  padding: .5rem 0;
  margin: .5rem .5rem;
}

.how-to-pay-block {
  border: 1px solid $gray-lightest;

  &:last-child {
    padding-right: 0;
  }
}

.how-to-pay-block-container {
  display: inline-block;
  padding: 0 1em;
}

.how-to-pay-block-tab {
  padding: 1em 0;
}

.how-to-pay-image {
  margin: 0 auto;
  display: block;
}

.how-to-pay-image-oversize {
  width: 100%;
}

.how-to-pay-image-caption {
  text-align: center;
  width: 100%;
}

.how-to-pay-ferry-box {
  @include media-breakpoint-up(sm) {
    border-left: 1px solid $gray-lightest;
  }
}

.how-to-pay-ferry-method {
  padding-left: 0;
  padding-right: .75rem;
}

.how-to-pay-step {
  padding: .75rem 0;
}
