@import 'variables';

.hub-divider {
  border: solid 2px $brand-primary;
}

.getting-around-card {
  background-image: linear-gradient(302deg, $getting-around-gradient-begin, $getting-around-gradient-end);
  color: $white;
  font-size: 1.25rem;
  margin-bottom: .75rem;
  padding: 4rem 0;
  text-align: center;
  text-transform: uppercase;
}
