@import 'variables';

.icon {
  display: inline-block;
  font-weight: normal;
  height: $icon-size;
  vertical-align: top;
  width: $icon-size;

  @include hover-focus-active {
    text-decoration: none;
  }
}

// Adjust icon position relative to headers
h1,
.h1 {
  .icon {
    margin-top: (($font-size-h1 * 1.5) - $icon-size) / 2;

    @include media-breakpoint-up(xxl) {
      margin-top: (($font-size-h1-xxl * 1.5) - $icon-size) / 2;
    }
  }
}

h2,
.h2 {
  .icon {
    margin-top: (($font-size-h2 * 1.5) - $icon-size) / 2;

    @include media-breakpoint-up(xxl) {
      margin-top: (($font-size-h2-xxl * 1.5) - $icon-size) / 2;
    }
  }
}

// Sizes
.icon-small {
  height: $icon-size-sm;
  margin-top: .25em;
  width: $icon-size-sm;
}

.icon-large {
  height: $icon-size-lg;
  width: $icon-size-lg;
}

// Groups
.icon-group {
  margin-left: -1 * $base-spacing-sm;
  margin-right: -1 * $base-spacing-sm;

  .icon {
    margin-left: $base-spacing-sm / 2;
    margin-right: $base-spacing-sm / 2;
  }
}

// Default colors
.icon-image {
  fill: $gray-dark;
}

.icon-circle {
  fill: $white;
}

// Icon-specifc colors
.icon-map-image,
.icon-globe-image {
  fill: transparent;
  stroke: $gray-dark;
}

a {
  .icon-map-image,
  .icon-globe-image {
    .icon-image {
      stroke: $link-color;
    }
  }
}

.icon-alert-circle {
  fill: $gray-dark;

  + .icon-alert-image {
    fill: $alert-color;
  }
}

.icon-bus-circle {
  fill: $brand-secondary;
}

.icon-commuter-rail-circle {
  fill: $brand-commuter-rail;

  + .icon-commuter-rail-image {
    fill: $white;
  }
}

.icon-subway-circle {
  fill: $brand-subway;

  + .icon-subway-image {
    fill: $white;
  }
}

.icon-ferry-circle {
  fill: $brand-ferry;

  + .icon-ferry-image {
    fill: $white;
  }
}

.icon-blue-line-circle {
  fill: $brand-blue-line;

  + .icon-blue-line-image {
    fill: $white;
  }
}

.icon-red-line-circle,
.icon-mattapan-line-circle {
  fill: $brand-red-line;

  + .icon-image {
    fill: $white;
  }
}

.icon-orange-line-circle {
  fill: $brand-orange-line;

  + .icon-orange-line-image {
    fill: $white;
  }
}

.icon-green-line-circle {
  fill: $brand-green-line;

  + .icon-green-line-image {
    fill: $white;
  }
}

.icon-access-circle {
  fill: $brand-primary;

  + .icon-access-image {
    fill: $white;
  }
}

.icon-the-ride-circle {
  fill: $brand-the-ride;

  + .icon-the-ride-image {
    fill: $white;
  }
}

.icon-twitter-circle {
  fill: $twitter;
}

.icon-facebook-circle {
  fill: $facebook;

  + .icon-facebook-image {
    fill: $white;
  }
}

// Overrides

.icon-boring {
  // normal fill for content, white circle with gray border
  .icon-circle {
    fill: $white;
    stroke: $gray-dark;
  }

  .icon-image {
    fill: $gray-dark;
  }

  // some overrides
  .icon-map-image,
  .icon-globe-image {
    fill: transparent;
    stroke: $gray-dark;
  }
}

.icon-inverse {
  // white fill, white border, transparent fill
  .icon-circle {
    fill: transparent;
    stroke: $white;
  }

  .icon-image {
    fill: $white;
    stroke: transparent;
  }

  // some overrides
  .icon-map-image,
  .icon-globe-image {
    fill: transparent;
    stroke: $white;
  }
}
