//scss-lint:disable SelectorFormat
.mbta-custom-icon {
  display: inline-block;

  @include hover-focus-active {
    text-decoration: none;
  }

  svg {
    height: 2rem;
    vertical-align: middle;
    width: 2rem;
  }

  &.icon-with-circle {
    margin-right: .5rem;
  }

  &.icon-small {
    svg {
      height: 1.5rem;
      width: 1.5rem;
    }
  }

  &.icon-with-circle.icon-small {
    margin-right: .375rem;
  }

  &.icon-large {
    svg {
      height: 1rem;
      width: 4rem;
    }
  }

  &.icon-blue-line,
  &.icon-red-line,
  &.icon-orange-line,
  &.icon-green-line,
  &.icon-mattapan-line {
    svg {
      height: 1.2rem;
      width: 1.2rem;
    }
  }
}

.icon-image {
  fill: $white;
}

.icon-alert {
  margin-right: 0;

  &.icon-with-circle {
    svg {
      height: 1.75rem;
      width: 1.75rem;
    }
  }

  svg {
    height: 1rem;
    width: 1rem;
  }

  .icon-image {
    fill: $brand-navy-dark;
  }
}

.icon-globe {
  .icon-image {
    fill: $white;
    stroke: $brand-navy-dark;
  }
}

.icon-bus {
  .icon-image {
    fill: $gray-dark;
  }

  .icon-circle {
    fill: $brand-secondary;
  }
}

.icon-subway {
  .icon-circle {
    fill: $gray;
  }
}

.icon-commuter-rail {
  .icon-circle {
    fill: $brand-commuter;
  }
}

.icon-ferry {
  .icon-circle {
    fill: $brand-primary-light;
  }
}

.icon-blue-line,
.blue {
  .icon-circle {
    fill: $brand-blue-line;
  }
}

.icon-red-line,
.icon-mattapan-line,
.red,
.mattapan {
  .icon-circle {
    fill: $brand-red-line;
  }
}

.icon-orange-line,
.orange {
  .icon-circle {
    fill: $brand-orange-line;
  }
}

.icon-green-line,
.green {
  .icon-circle {
    fill: $brand-green-line;
  }
}

.icon-access {
  .icon-circle {
    fill: $brand-primary;
  }
}

.icon-the-ride {
  svg {
    fill: $brand-the-ride;
  }
}

.icon-twitter {
  circle {
    fill: $twitter;
  }
}

.icon-facebook {
  circle {
    fill: $facebook;
  }
}
