.route-list {
  list-style: none;
  padding: 10px 0 0 0;
}

.schedule-route-list {
  border-top: 2px solid $gray-lightest;
}

.route-list-item-inline {
  display: inline;
  &:after {
    content: ", "
  }
  &:last-child:after {
    content: ""
  }
}

.index-news-group {
  @extend .list-group;
  @extend .list-group-flush;

  margin-top: -1rem;
}

.index-news-item {
  @extend .list-group-item;

  max-height: 4.5rem;
  overflow: hidden;
}

.header .navbar {
  padding-left: 0;
  padding-right: 0;
}

.list-group-item-flush {
  padding-left: 0;
}

@include media-breakpoint-down(sm) {
  .index {
    padding-bottom: 12px;
  }
}
