.index {
  .card, .card-header {
    background-color: white;
    border-color: white;
    border-radius: 0;
  }

  .card-block {
    margin-top: -1rem;
  }

  .card-block-no-header {
    //  we don't want to undo the margin
    margin-top: 0;
  }

  @include media-breakpoint-up(sm) {
    .card:first-child {
      margin-top: 12px;
    }
  }
}

.route-list {
  list-style: none;
  padding: 10px 0 0 0;
}

.schedule-route-list {
  border-top: 2px solid $gray-lightest;
}

.route-list-item-inline {
  display: inline;
  &:after {
    content: ", "
  }
  &:last-child:after {
    content: ""
  }
}

.index-news-group {
  @extend .list-group;
  @extend .list-group-flush;

  margin-top: -1rem;
}

.index-news-item {
  @extend .list-group-item;

  max-height: $line-height * 2;
  overflow: hidden;
}

.header .navbar {
  @include media-breakpoint-up(md) {
    padding-left: 0;
    padding-right: 0;
  }
}
