.index-news-item {
  @include truncate();

  background-color: initial;
  border-top: 0;
}

.list-group-item-flush {
  padding-left: 0;

  &:first-child {
    padding-top: 0;
  }

  &:last-child {
    padding-bottom: 0;
  }
}

@include media-breakpoint-down(sm) {
  .index {
    padding-bottom: $base-spacing;
  }
}
