.index {
  .card, .card-header {
    border-radius: 0;
  }

  .card:first-child {
    margin-top: 12px;
  }
}

.route-list {
  list-style: none;
  padding: 10px 0 0 0;
}

.schedule-route-list {
  border-top: 2px solid $gray-lightest;
}

.route-list-item-inline {
  display: inline;
  &:after {
    content: ", "
  }
  &:last-child:after {
    content: ""
  }
}
