.modal-transparent {
  .modal-content {
    background-color: transparent;
    border: none;
  }

  .modal-body {
    background-color: #fff;
  }

  .close {
    color: #fff;
    margin-right: -15px; // undo default header padding
  }
}

.modal-backdrop {
  &.in {
    opacity: 0.7;
  }
}
