.mode-button-group {
  margin-bottom: $base-spacing / 2;
  margin-top: $base-spacing / -2;
  padding: $grid-gutter-width / 2 1px;

  &:first-child {
    padding-top: 0;
  }

  .mode-group-block {
    margin-top: $grid-gutter-width / 2;
  }

  &.truncated {
    @include media-breakpoint-up(xs) {
      .button-container:last-child {
        width: 66.6%;
      }
    }

    @include media-breakpoint-up(md) {
      .button-container:last-child {
        width: 33.3%;
      }
    }
  }
}

.mode-group-btn {
  @include button-variant($link-color, white, $gray-lightest);
  @extend %button-focus-color;

  margin-bottom: $grid-gutter-width / 4;
  margin-top: $grid-gutter-width / 4;
  padding-bottom: $base-spacing-sm;
  padding-top: $base-spacing-sm;

  @include media-breakpoint-down(sm) {
    // small button
    @include button-size($btn-padding-y, $btn-padding-x, $font-size-sm, $line-height-sm, $btn-border-radius-sm);
  }

  > .icon-alert {
    margin-left: .375rem;
  }
}

@include media-breakpoint-only(xs) {
  // scss-lint:disable VendorPrefix
  // for commuter rail on homepage for mobile, special rules to guarantee nice two column formatting
  .mode-group.commuter-rail .button,
  .commuter-rail .mode-group .button {
    align-items: center;
    display: -ms-flexbox;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    height: 4rem;
    justify-content: center;
    white-space: normal;
  }

  .commuter-rail {
    .mode-button-text {
      display: inline-block;
      -ms-flex: 1 1 0%;
      -webkit-flex: 1;
      flex: 1;
    }

    .icon-alert {
      -ms-flex: 0 0 $icon-size-sm;
      -webkit-flex-basis: $icon-size-sm;
      flex-basis: $icon-size-sm;
      -webkit-flex-grow: 0;
      flex-grow: 0;
      -webkit-flex-shrink: 0;
      flex-shrink: 0;
    }
  }
}
