.fare-list {
  border: 1px solid $gray-lightest;
  list-style: none;
  padding: 0;

  li:first-child {
    background-color: $brand-primary-darkest;
    border-bottom: 0;
    border-left: 1px solid $brand-primary-darkest;
    border-right: 1px solid $brand-primary-darkest;
    color: $white;
  }

  li {
    border-bottom: 1px solid $gray-lightest;
    border-left: 1px solid $gray-lightest;
    border-right: 1px solid $gray-lightest;
    padding: 6px;
  }
}

.system-map {
  max-height: 240px;
  // Polyfill for IE object-fit support
  font-family: 'object-fit: cover; object-position: 50% 30%;';
  object-fit: cover;
  object-position: 50% 30%;
  width: 100%;

  @include media-breakpoint-up(sm) {
    cursor: pointer;
    transition: max-height 1s ease, object-position 1s ease;

    &.expanded {
      max-height: map-get($container-max-widths, md);
      object-position: initial;

      &.commuter {
        max-height: map-get($container-max-widths, md) + 30px;
      }
    }
  }

  // Leave the map fully expanded on mobile
  @include media-breakpoint-down(sm) {
    height: 100%;
    max-height: 100%;
  }
}

body {
  &.no-js .system-map {
    max-height: map-get($container-max-widths, md);
    object-position: initial;
  }
}
