.modal-content,
.modal-body {
  border-radius: $border-radius;
}

.modal-backdrop {
  &.in {
    opacity: .7;
  }
}

// Fix the max-width.  TODO check when we upgrade; this might be fixed in
// other versions of Bootstrap.
@include media-breakpoint-up(sm) {
  .modal-dialog {
    max-width: $modal-md;
    padding: 0 $space-8;
  }
}

.select-modal-label {
  font-weight: bold;
  margin-bottom: 0;
  padding: $space-12 0;
}

.select-modal-search {
  padding-bottom: $space-12;

  .form-control {
    margin-bottom: $base-spacing;
  }
}

.select-modal-option {
  font-weight: bold;

  &.disabled {
    background-color: $white;
    color: $gray-light;
    cursor: default;
    @include hover-focus-active {
      background-color: $white;
      cursor: default;
    }
  }

  &.key-option + &:not(.key-option) {
    border-top: 1px solid $gray-dark;
  }

  &:focus {
    outline: none;
  }
}

.select-modal-options > .select-modal-option:first-child {
  padding-top: $space-12;
}

.btn-select-modal {
  //scss-lint:disable PlaceholderInExtend
  @extend .btn;
  @extend .btn-link;
  margin-top: $space-8 * -1;
  padding: 0;
}
