.mode-button-group {
  margin-bottom: $base-spacing / 2;
  margin-top: $base-spacing / -2;
  padding: $grid-gutter-width / 2 1px;

  &:first-child {
    padding-top: 0;
  }

  .icon-alert {
    margin: .25em .25em;
  }

  .mode-group-block {
    margin-top: $grid-gutter-width / 2;
  }

  &.truncated {
    @include media-breakpoint-up(xs) {
      .button-container:last-child {
        width: 66.6%;
      }
    }

    @include media-breakpoint-up(md) {
      .button-container:last-child {
        width: 33.3%;
      }
    }
  }

  @include media-breakpoint-only(xs) {
    .icon-alert {
      height: $font-size-sm;
      width: $font-size-sm;
    }
  }
}

.mode-group-btn {
  @include button-variant($link-color, white, $gray-lightest);
  @extend %button-focus-color;

  margin-bottom: $grid-gutter-width / 4;
  margin-top: $grid-gutter-width / 4;
  padding-bottom: $base-spacing-sm;
  padding-top: $base-spacing-sm;

  @include media-breakpoint-down(sm) {
    // small button
    @include button-size($btn-padding-y, $btn-padding-x, $font-size-sm, $line-height-sm, $btn-border-radius-sm);
  }

  > .icon-alert {
    margin-left: .375rem;
  }
}

.mode-group-header {
  font-size: $font-size-base;
  font-weight: bold;
}

@include media-breakpoint-only(xs) {
  // for commuter rail on homepage for mobile, special rules to guarantee nice two column formatting
  .mode-group.commuter-rail .button,
  .commuter-rail .mode-group .button {
    font-size: $font-size-sm;
    line-height: 3rem;
    padding: 0 $btn-padding-x;
    text-align: center;
    white-space: normal;
  }

  .commuter-rail {
    .mode-button-text {
      display: inline-block;
      line-height: normal;
      vertical-align: middle;
    }
  }
}
