.modal-content, .modal-body {
  border-radius: 1rem;
}

.modal-transparent {
  &.modal-dialog {
    margin-top: 0;
    margin-bottom: 0;
  }

  .modal-header {
    border: none;
  }

  .modal-content {
    background-color: transparent;
    border: none;
  }

  .modal-body {
    background-color: #fff;
    max-height: calc(100vh - 41px - 2rem);
    overflow-y: auto;
    overflow-x: hidden;
  }

  .close {
    color: #fff;
    margin-right: -15px; // undo default header padding
    padding-left: 0;
  }
}

.modal-backdrop {
  &.in {
    opacity: .7;
  }
}

// Fix the max-width.  TODO check when we upgrade; this might be fixed in
// other versions of Bootstrap.
@include media-breakpoint-up(sm) {
  .modal-dialog {
    max-width: $modal-md;
    padding: 0 .5rem;
  }
}

.select-modal-search {
  padding-bottom: .75rem;
}

.select-modal-option {
  font-weight: bold;

  &.disabled {
    background-color: $white;
    color: $gray-light;
    cursor: default;

    @include hover-focus-active {
      background-color: $white;
      cursor: default;
    }
  }

  &.key-option + &:not(.key-option) {
    border-top: 1px solid $gray-dark;
  }

  &:focus {
    outline: none;
  }
}

.btn-select-modal {
  //scss-lint:disable PlaceholderInExtend
  @extend .btn;
  @extend .btn-link;
  margin-top: -.5rem;
  padding: 0;
}
