.news-content {
  padding-bottom: 1rem;
  padding-top: $base-spacing-lg;
}

.news-metadata {
  color: $gray-light;
  font-size: $font-size-h6;
  font-weight: bold;
  margin-bottom: 5px;
  padding-top: $base-spacing-sm;
}

.news-entry-body {
  margin-top: $base-spacing-xl;

  img {
    display: block;
    margin: 0 auto;
    padding-bottom: 1.5rem;
    padding-top: 1rem;
  }
}

.recent-news {
  padding-top: 2rem;
}

.recent-news-title {
  color: $gray-dark;
  font-weight: bold;
}

.news-entry-hr-row {
  @include media-breakpoint-up(md) {
    border-bottom: $border;
    margin-top: $base-spacing-lg;
    padding-bottom: $base-spacing;
    padding-top: $base-spacing;
  }
}

.news-entry-hr-col {
  @include media-breakpoint-down(sm) {
    border-bottom: $border;
    margin-top: $base-spacing-sm;
    padding-top: $base-spacing-sm;
  }
}

.news-entry-title {
  font-size: $font-size-h3;
  font-weight: bold;
}
