.page-section {
  margin-bottom: $base-spacing;
  margin-top: $base-spacing;

  &:last-child {
    margin-bottom: 0;
  }

  .homepage-link:last-child {
    .about-title {
      border-bottom-width: 0;
    }
  }
}

// used for two blocks side by side
.page-block-2 {
  @include media-breakpoint-down(sm) {
    + .page-block-2 {
      margin-top: $base-spacing;
    }
  }
}

.pre-container-tnm {
  color: $white;
}


.pre-container-header {
  @include media-breakpoint-only(xs) {
    display: none;
  }

  .route-type-icons {
    margin-bottom: 3rem;
  }

  p {
    text-align: center;
  }
}

.pre-container-welcome {
  border-bottom: 0;
  color: $white;
  margin-bottom: 0;
  padding-bottom: .5rem;
  padding-top: 3rem;
  text-align: center;
}

.pre-container-wrapper {
  // scss-lint:disable ColorVariable
  background-color: $brand-primary-darkest;
  background-image: $hp-hero-gradient, url('/images/td-garden-zakim.jpg');
  background-position-x: 50%;
  background-position-y: 0%;
  background-repeat: no-repeat;
  background-size: cover;
  padding: $base-spacing * 3;
  width: 100%;
  // scss-lint:enable ColorVariable

  @include media-breakpoint-only(xs) {
    padding: 0;
  }

  .transit-input-label {
    color: $white;
    margin-bottom: $base-spacing-sm;

    @include media-breakpoint-only(xs) {
      padding-top: $grid-gutter-width;
    }
  }
}

.post-container-wrapper {
  @include media-breakpoint-up(xs) {
    margin-bottom: $beta-announcement-height-xs;
  }

  @include media-breakpoint-up(sm) {
    margin-bottom: $beta-announcement-height-sm;
  }

  @include media-breakpoint-up(md) {
    margin-bottom: $beta-announcement-height-md;
  }

  @include media-breakpoint-up(lg) {
    margin-bottom: $beta-announcement-height-lg;
  }
}

.riding-the-t {
  background-color: $riding-the-t-bg;
  color: $white;
  margin-bottom: 0;
  margin-top: -$base-spacing;
  padding-bottom: $base-spacing;
  padding-top: $base-spacing * 2;

  @include media-breakpoint-up(md) {
    background-image: $riding-the-t-gradient, url('/images/riding-the-t-bg.jpg');
    background-size: cover;
  }

  @include media-breakpoint-down(md) {
    .get-directions {
      background-image: url('/images/directions.jpg');
    }

    .getting-to-logan {
      background-image: url('/images/getting-to-logan.jpg');
    }

    .accessibility-at-t {
      background-image: url('/images/accessibility-blue.jpg');
    }
  }

  @include media-breakpoint-up(lg) {
    .get-directions {
      background-image: url('/images/directions@2x.jpg');
    }

    .getting-to-logan {
      background-image: url('/images/getting-to-logan@2x.jpg');
    }

    .accessibility-at-t {
      background-image: url('/images/accessibility-blue@2x.jpg');
    }
  }

  .getting-to-logan {
    @include media-breakpoint-only(md) {
      // "Getting to and from Logan Airport" is ever so slightly too long at md,
      // and the line break messes up the layout
      font-size: .9rem;
      line-height: $line-height + .2;
    }
  }

  h1,
  h2 {
    color: $white;
  }

  h1 {
    border-bottom-color: $white;
  }

  img {
    width: 100%;
  }

  .common-fares {
    background-color: $white;

    p {
      color: initial;
    }

    ul {
      margin: 0;
      padding: 0;
    }

    li {
      border: 0;
      list-style-position: outside;
      list-style-type: none;
      padding-left: 0;
      padding-right: 0;
    }

    .row {
      border-bottom: $border;
      margin-left: 0;
      margin-right: 0;
    }
  }

  .all-fares-link {
    margin-bottom: $base-spacing;
    margin-left: 0;
    margin-right: 0;
    padding: .5rem 0;

    p {
      margin-bottom: $base-spacing / 2;
      margin-top: $base-spacing / 2;
    }
  }

  .plan-your-trip {
    @include clearfix();
    background-color: transparent;
    padding: 0;

    @include media-breakpoint-up(md) {
      margin-left: -($grid-gutter-width / 2);
      margin-right: -($grid-gutter-width / 2);
    }
  }

  .plan-trip-link {
    @include media-breakpoint-only(xs) {
      margin-bottom: $base-spacing-sm;

      &:last-child {
        margin-bottom: 0;
      }
    }

    @include media-breakpoint-only(sm) {
      float: left;
      padding-bottom: $base-spacing-sm / 2;
      width: 50%;

      &:first-child,
      &:last-child {
        padding-right: $base-spacing-sm / 2;
      }

      &:nth-child(2) {
        padding-left: $base-spacing-sm / 2;
      }

      &:last-child {
        clear: both;
        padding-top: $base-spacing-sm / 2;
      }
    }

    @include media-breakpoint-up(md) {
      float: left;
      padding-left: $base-spacing;
      padding-right: $base-spacing;
      width: 33.3%;
    }

    a {
      background-size: cover;
      display: block;
      padding-top: 50%;
      width: 100%;
    }

    span {
      background-color: transparentize($white, .15);
      display: block;
      padding: $base-spacing / 2;
      width: 100%;
    }
  }

  .common-fare {
    padding: $base-spacing;

    ul:last-child {
      // scss-lint:disable NestingDepth, SelectorDepth
      li:last-child {
        padding-bottom: 0;
      }
    }
  }

  .row {
    padding: 0;
  }

  .fare-summary-container {
    margin-bottom: 0;
  }
}

.whats-happening-section {
  background: $gray-lightest;
  padding: $base-spacing 0;
  width: 100%;

  @include media-breakpoint-up(sm) {
    background: linear-gradient(130deg, $whats-happening-gradient-end 0%, $whats-happening-gradient-end 10%, $gray-lightest 10%, $gray-lightest 90%, $whats-happening-gradient-end 90%, $whats-happening-gradient-end 100%);
  }
}

.important-whats-happening {
  background-color: $gray-lightest;
  margin: $space-24 0;
}

.important-whats-happening-text {
  font-size: $font-size-h3;
  padding: $space-24;

  @include media-breakpoint-down(sm) {
    padding: 0 $space-12;
  }
}

.important-whats-happening-image {
  padding-left: 0;
}

.homepage-link {
  @include hover-focus-active {
    .homepage-svg {
      background-color: $btn-primary-focus-bg;
    }
  }

  * {
    text-decoration: inherit;
  }

  &.light {
    color: $white;
  }

  .about-title {
    margin-bottom: 1rem;
    padding: $space-12 0;
  }

  img {
    width: 100%;
  }
}

.homepage-svg {
  background-color: $white;
  border: 1px solid $gray-lightest;
  border-radius: 4px;
  padding: 1.5rem;
  text-align: center;
}

.whats-happening-image {
  position: relative;

  img {
    max-height: 100%;
    max-width: 100%;
  }
}

.whats-happening-item {
  a {
    text-decoration: none;

    @include hover-focus-active {
      .about-link {
        text-decoration: inherit;
      }
    }
  }

  .about-description {
    color: $gray-dark;
  }
}
