.related-link {
  border: $border;
  border-left-width: 0;
  color: $gray-dark;
  display: block;
  margin-bottom: $base-spacing;
  padding: $space-8 $space-16;
  position: relative;

  @include media-breakpoint-up(sm) {
    min-height: $space-24 * 6;
  }

  @include hover-focus-active {
    background-color: $btn-primary-focus-bg;
    text-decoration: none;

    > * {
      color: $btn-primary-focus-color;
    }
  }

  &::before {
    border-left: 6px solid $brand-primary-dark;
    content: ' ';
    display: block;
    height: calc(100% + 2px);
    left: 0;
    position: absolute;
    top: -1px;
  }
}

.related-link-title {
  font-weight: bold;
  padding-bottom: $space-12;
  color: $link-color;
}

.related-link-group {
  @include make-row();

  display: table;
  width: 100%;

  .related-link {
    display: table-cell;

    @include media-breakpoint-up(md) {
      margin-left: $grid-gutter-width / 2;
      margin-right: $grid-gutter-width / 2;
      width: 50%;
    }
  }
}
