.route-stop-list {
  @include media-breakpoint-only(xs) {
    margin-bottom: $base-spacing;
  }

  &:not(.green-line) {
    .route-stop-name-icons {
      @extend %stop-name-and-time-column;
    }
  }

  &.green-line {
    .stop-bubble,
    .route-stop-name-icons {
      float: left;
      width: 50%;
    }

    .route-icons {
      height: $icon-size;
    }
  }
}

.route-stop {
  @extend %trip-stop;
  border: 0;

  &:first-child {
    @extend %stop-bubble-first;
  }

  &:last-child {
    @extend %stop-bubble-last;
  }
}

.branch-link {
  background-color: $gray-lightest;
  border-radius: $space-4;
  display: block;
  padding: .5rem 1rem;
}

.route-expand-branch {
  @extend %stop-bubble-collapsed;
}

.commuter-rail {
  .zone {
    padding-left: $base-spacing / 2;
  }
}

.route-icons {
  display: inline-block;
  float: right;
}
