.route-hours {
  p {
    margin-bottom: 0;
  }

  h3 {
    margin-bottom: $base-spacing / 2;
  }

  .col-xs-12 {
    margin-bottom: $base-spacing;
  }
}

.hours-directions {
  @include media-breakpoint-up(md) {
    width: 75%;
  }
}

.hours-direction-name {
  display: inline-block;
  width: 40%;
}

.hours-time {
  display: inline-block;
  text-align: right;
}
