.route-stop-list {
  @include media-breakpoint-only(xs) {
    margin-bottom: $base-spacing;
  }

  &:not(.green-line) {
    .route-stop-name-icons {
      @extend %stop-name-and-time-column;
    }
  }

  &.green-line {
    .stop-bubble,
    .route-stop-name-icons {
      float: left;
      width: 50%;
    }

    .route-icons {
      height: $icon-size;
    }
  }
}

.route-stop {
  @extend %trip-stop;
  border: 0;

  &:first-child {
    @extend %stop-bubble-first;
  }

  &:last-child {
    @extend %stop-bubble-last;
  }
}

.name-and-zone {
  float: left;
}

.branch-link {
  background-color: $gray-lightest;
  border-radius: $space-4;
  display: block;
  padding: .5rem 1rem;
}

.route-expand-branch {
  @extend %stop-bubble-collapsed;
}

.route-icons {
  float: right;
}

.route-hours {
  p {
    margin-bottom: 0;
  }

  h3 {
    margin-bottom: $base-spacing / 2;
  }

  .col-xs-12 {
    margin-bottom: $base-spacing;
  }
}

.hours-directions {
  @include media-breakpoint-up(md) {
    width: 75%;
  }
}

.hours-direction-name {
  display: inline-block;
  width: 40%;
}

.hours-time {
  display: inline-block;
  text-align: right;
}
