@import 'variables';

@mixin route-icon($diameter: $route-icon-diameter, $padding: .3125rem) {
  border-radius: 50%;
  display: inline-block;
  height: $diameter;
  margin-right: .75rem;
  position: relative;
  vertical-align: bottom;
  width: $diameter;

  svg {
    height: $diameter - ($padding * 2);
    left: $padding;
    position: absolute;
    top: $padding;
    width: $diameter - ($padding * 2);
  }
}

.route-icon {
  @include route-icon();
}

.route-icon-commuter {
  background-color: $brand-commuter;
}

.route-icon-bus {
  * {
    fill: black;
  }
  background-color: $brand-secondary;
}

.route-icon-green {
  background-color: $brand-green-line;
}

.route-icon-subway {
  background-color: $gray;
}

.route-icon-red, .route-icon-mattapan {
  background-color: $brand-red-line;
}

.route-icon-orange {
  background-color: $brand-orange-line;
}

.route-icon-blue {
  background-color: $brand-blue-line;
}

.route-icon-boat {
  background-color: $brand-primary-light;
}

.route-icon-the-ride {
  background-color: $brand-the-ride;

  svg {
    height: 100%;
    left: 0;
    top: 0;
    width: 100%;
  }
}

.route-icon-access {
  background-color: $brand-primary;
}

.fa-color-subway-blue {
  color: $brand-blue-line;
}

.fa-color-subway-orange {
  color: $brand-orange-line;
}

.fa-color-subway-red, .fa-color-subway-mattapan {
  color: $brand-red-line;
}

.fa-color-subway-green,
.fa-color-subway-green-b,
.fa-color-subway-green-c,
.fa-color-subway-green-d,
.fa-color-subway-green-e  {
  color: $brand-green-line;
}
