@import 'variables';

.route-icon {
  display: inline-block;
  width: $route-icon-diameter;
  height: $route-icon-diameter;
  padding: 5px;
  border-radius: 50%;
  float: left;
  margin: -0.5rem 12px 0 2px;

  svg {
    width: 26px;
    height: 26px;
  }
}

.route-icon-commuter-rail {
  background-color: $brand-commuter-rail;
}

.route-icon-bus {
  * {
    fill: black;
  }
  background-color: $brand-secondary;
}

.route-icon-green {
  background-color: $brand-green-line;
}

.route-icon-subway {
  background-color: $gray;
}

.route-icon-red, .route-icon-mattapan {
  background-color: $brand-red-line;
}

.route-icon-orange {
  background-color: $brand-orange-line;
}

.route-icon-blue {
  background-color: $brand-blue-line;
}

.route-icon-boat {
  background-color: $brand-primary-light;
}

.route-icon-the-ride {
  svg {
    width: 36px;
    height: 36px;
  }
  padding: 0;
  background-color: $brand-the-ride;
}

.fa-color-subway-blue {
  color: $brand-blue-line;
}

.fa-color-subway-orange {
  color: $brand-orange-line;
}

.fa-color-subway-red, .fa-color-subway-mattapan {
  color: $brand-red-line;
}

.fa-color-subway-green,
.fa-color-subway-green-b,
.fa-color-subway-green-c,
.fa-color-subway-green-d,
.fa-color-subway-green-e  {
  color: $brand-green-line;
}
