@import 'variables';

.schedule-v2 {
  .schedule-list-group-item {
    // left/right padding is reduced to account for the column padding
    padding: .75rem (.75rem - $grid-gutter-width / 2);
  }
}

.btn.schedule-v2-direction-btn {
  display: table-cell;
  float: none;
  font-size: 1rem;
  padding-bottom: 1rem;
  padding-top: .75rem;
  text-align: left;
  vertical-align: top;
  white-space: normal;
  width: 50%;
}

.schedule-v2-direction-btn-group {
  display: table;
  margin-bottom: .75rem;
  width: 100%;
}

.schedule-v2-direction-btn-selected-icon {
  @include pull-left();
  display: block;
  font-size: 1.7rem;
  padding-right: .333rem;
}

.schedule-v2-direction-btn-label {
  @include pull-left();
  display: block;
  max-width: 90%;
  padding-left: .5rem;

  @include media-breakpoint-up(xs) {
    max-width: 70%;
  }
}

.schedule-v2-direction-btn-label-selected {
  font-weight: bold;
}

.schedule-v2-frequency-header {
  background-color: $brand-primary-darkest;
  color: $white;
  padding: .5rem;
}

.schedule-v2-frequency-row {
  border: solid .5px $gray-lightest;
  padding: .5rem;
}

.schedule-v2-frequency-col {
  display: inline-block;
  width: 40%;
}

.schedule-v2-frequency-time {
  font-size: .875rem;
}

.schedule-v2-timetable {
  border-bottom: 2rem solid $brand-primary-darkest;
  max-width: 100%;
  width: 100%;

  td {
    padding: .5rem 1rem;

    &.time-column-header {
      padding: 0;
    }
  }

  thead {
    background-color: $brand-primary-darkest;
    color: $white;
    font-weight: bold;

    .icon-image {
      fill: $white;
    }

    a {
      color: $white;

      @include hover-focus-active {
        color: $white;
      }
    }
  }

  tbody {
    .icon-commuter-rail {
      left: .25rem;
      position: relative;
      top: .25rem;
    }

    .icon-image {
      fill: $gray-dark;
    }

    td {
      border-bottom: 1px solid $gray-lightest;
    }

    .time-column {
      background-color: $gray-lightest;
      border: 0;
    }
  }

  // scss-lint:disable SelectorDepth
  tbody tr:last-child td {
    border-bottom: 0;
  }
}
