.schedule-route-icon {
  margin: 5px;
}

.form-control.schedule-route-selector {
  // leave room for the route icon
  max-width: 80%;
  float: left;
}

.schedules-link {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 0;
  border-top: 1px solid $gray-lighter;
  border-bottom: 1px solid $gray-lighter;
  text-align: left;

  i {
    line-height: 24px;
  }
}

.alerts-modal-button,
.alerts-modal-button:hover,
.alerts-modal-button:active,
.alerts-modal-button:focus {
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: left;
  background-color: $alert-notice;
  color: inherit;

  p {
    margin: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  i {
    line-height: 24px;
  }
}

.schedule-header {
  padding: 1rem 1.25rem 0 1.25rem;

  .route-icon {
    margin-top: -5px;
  }
}

.fare-list {
  list-style: none;
  padding: 0;
  border: 1px solid $gray-lightest;

  li:first-child {
    background-color: $brand-primary-darkest;
    color: white;
    border-top: none;
  }

  li {
    padding: 6px;
    border-top: 1px solid $gray-lightest;
  }
}

.subway-map {
  width: 100%;
  max-height: 240px;
  object-fit: cover;
  object-position: 50% 30%;
  @include media-breakpoint-up(sm) {
    transition: max-height 1s ease, object-position 1s ease;
    -webkit-transition: max-height 1s ease, object-position 1s ease;
    cursor: nesw-resize;
    &.expanded {
      max-height: map-get($container-max-widths, md);
      object-position: initial;
    }
  }
  // Leave the map fully expanded on mobile
  @include media-breakpoint-down(sm) {
    height: 100%;
    max-height: 100%;
  }
}

body.no-js .subway-map {
  max-height: map-get($container-max-widths, md);
  object-position: initial;
}

.schedule-list-group {
  .list-group-item:first-child {
    border-radius: 0;
  }
  .list-group-item:last-child {
    border-radius: 0;
  }
}

.selected-header {
  background-color: $brand-primary-dark;
}

.selected-period {
  border: 4px solid $brand-primary-dark;
}

.selected-title {
  color: white;
}

.unselected-title {
  color: $brand-primary-dark;
}

.table.schedule-pairs {
  border-left: 1px solid $gray-lighter;
  border-right: 1px solid $gray-lighter;
  th {
    border-bottom: none;
  }
}

.schedule-pairs-header {
  color: white;
  background-color: $brand-primary-darkest;
}
