.schedule-route-icon {
  display: inline-block;
  width: 36px;
  height: 36px;
  padding: 5px;
  margin: 5px;
  border-radius: 50%;

  svg {
    width: 26px;
    height: 26px;
  }
}

.schedule-route-icon-commuter-rail {
  * {
    fill: white;
  }
  background-color: $brand-commuter-rail;
}

.schedule-route-icon-bus {
  background-color: $brand-secondary;
}

.schedule-route-icon-green {
  * {
    fill: white;
  }
  background-color: $brand-green-line;
}

.schedule-route-icon-red {
  * {
    fill: white;
  }
  background-color: $brand-red-line;
}

.schedule-route-icon-orange {
  * {
    fill: white;
  }
  background-color: $brand-orange-line;
}

.schedule-route-icon-blue {
  * {
    fill: white;
  }
  background-color: $brand-blue-line;
}

.schedules-link {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 0;
  border-top: 1px solid $gray-lighter;
  border-bottom: 1px solid $gray-lighter;
  text-align: left;

  i {
    line-height: 24px;
  }
}

.alerts-modal-button,
.alerts-modal-button:hover,
.alerts-modal-button:active,
.alerts-modal-button:focus {
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: left;
  background-color: $brand-secondary;
  color: inherit;

  p {
    margin: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  i {
    line-height: 24px;
  }
}
