.station-map-container {

  .btn:first-child {
    padding-left: 0;
  }
}

.mode-name-heading {
  display: inline-block;
}

.station-list-heading {
  margin: 1em .5em 0;
}

.stations-address {
  border-top: $space-4 solid $brand-primary;
  padding-top: .5rem;
}

.station-mode-icon {
  width: 100%;

  .route-icon {
    @include route-icon(1.5rem);
    float: none;
    margin-bottom: .375rem;
    margin-right: .5rem;

    &:first-child {
      margin-left: .5rem;
    }

  }
}

.stations-tab-group {
  border-bottom: $space-4 solid $brand-primary-dark;
  margin: 1em 0 0;

  @include media-breakpoint-down(xs) {
    border-bottom: 0;
  }
}

.stations-tab {
  border: 1px solid $brand-primary;
  display: inline-block;
  margin-bottom: -1 * $space-2;
  padding: .5rem  1.75rem;
  text-align: center;

  @include media-breakpoint-down(xs) {
    padding: .5rem;
    width: 50%;
  }
}

.stations-tab-selected {
  background-color: $brand-primary;
  color: $white;

  @include media-breakpoint-down(xs) {
    &:only-child {
      display: block;
    }
  }
}

a {
  &.stations-tab-selected {
    @include hover-focus-active {
      color: $white;
      text-decoration: underline;
    }
  }
}

.stations-access-icon {
  margin-bottom: .375rem;
}

.station-list {
  list-style: none;
  padding: .5em;

  li {
    border-bottom: 1px solid $gray-lightest;
    padding: .5em;

    &:last-child {
      border: 0;
    }
  }
}

.no-gutter > [class*='col-'] {
  padding-left: 0;
  padding-right: 0;
}

.station-callout-box {
  background-color: $gray-lightest;
  margin-bottom: 1.5rem;
  margin-left: .0375rem;
  margin-top: 1rem;
  padding: .5rem;

  &:empty {
    display: none;
  }
}

.station-info-section {
  border-bottom: 1px solid $gray-lightest;
  margin-top: 1.5rem;
}

.station-fare-subheader {
  margin-top: 1.5rem;
}

.parking-header {
  @include media-breakpoint-down(sm) {
    margin-top: .75rem;
  }
}

.commuter-fare-img {
  @include media-breakpoint-down(xs) {
    margin-top: .75rem;
  }
}

.commute-fare-charge {
  @include media-breakpoint-only(md) {
    margin-bottom: 1.75rem;
  }

  @include media-breakpoint-up(lg) {
    margin-bottom: 3rem;
  }
}

.payment-info {
  @include media-breakpoint-up(md) {
    padding-right: 1.5rem;
  }
}
