.station-mode-description {
  display: inline-block;
  font-size: 1rem;
  font-weight: normal;
  padding-top: .5rem;
  vertical-align: top;

  @include media-breakpoint-down(sm) {
    display: none;
  }
}

.station-mode-icon {
  white-space: nowrap;
}

.stations-access-icon {
  margin-bottom: .375rem;
}

.station-callout-box {
  @extend %callout;
}

.fare-agent-distance {
  color: $gray-light;
  text-align: right;
  float: right;
}

.station-schedule-icon {
  color: $gray-light;
}

.station-route-container {
  margin-bottom: $space-16;
}

.station-route-row {
  border-bottom: 1px solid $gray-lightest;
  border-left: 1px solid $gray-lightest;
  border-right: 1px solid $gray-lightest;
  padding-bottom: .5em;
  padding-top: .5em;

  .route-info {
    display: inline-block;
  }

  .column-name {
    font-weight: bold;
  }

  &.station-schedule-header {
    background-color: $gray-lightest;
    font-weight: bold;
    white-space: nowrap;
  }
}

@include media-breakpoint-down(md) {
  .station-route-name,
  .station-route-schedule-name,
  .station-route-schedule-times {
    padding-left: .5rem;
    padding-right: .5rem;
  }
}

@include media-breakpoint-up(lg) {
  .station-route-name,
  .station-route-schedule-name,
  .station-route-schedule-time {
    padding-left: 1rem;
  }
}

@include media-breakpoint-up(sm) {
  .station-route-schedule-name {
    display: inline-block;
    width: 40%;
  }

  .station-route-schedule-times {
    display: inline-block;
    width: 59%;
  }
}

.station-route-name {
  margin-bottom: 0;
}

.station-route-schedule-name {
  margin-bottom: 0;
  white-space: normal;

  .fa-arrow-right {
    margin: 0 .375rem;
  }
}

.station-route-schedule-times {
  white-space: nowrap;

  .time-column {
    display: inline-block;
    vertical-align: top;
    white-space: initial;
    width: 32%;
  }
}

.severe-delay {
  color: $brand-danger;
}

// scss-lint:disable PlaceholderInExtend
.station-schedules-empty {
  @extend .col-xs-12;

  display: none;

  &:nth-child(2) {
    &:last-child {
      display: initial;
    }
  }
}

.stop-link {
  white-space: normal;
}

.station-map-container {
  margin-bottom: 1rem;

  .google-map {
    height: 16.5rem;
    width: 100%;

    @include media-breakpoint-only(md) {
      height: 14.375rem;
    }

    @include media-breakpoint-down(sm) {
      height: 10rem;
    }
  }
}
