.station-mode-description {
  font-size: 1rem;
  font-weight: normal;
  vertical-align: middle;

  @include media-breakpoint-down(sm) {
    display: none;
  }
}

.station-mode-icon {
  white-space: nowrap;

  svg {
    margin-top: 0;
    vertical-align: middle;
  }
}

.station-info-zone {
  background-color: $gray-bordered-background;
  font-size: 1rem;
  font-weight: normal;
  padding: 0 .375rem;
  vertical-align: middle;
}

.mode-section {
  margin: $base-spacing 0;
}

.stations-access-icon {
  margin-bottom: .375rem;
}

.station-callout-box {
  @extend %callout;
}

.fare-agent-distance {
  color: $gray-light;
  float: right;
  text-align: right;
}

.station-schedule-icon {
  color: $gray-light;
}

.station-route-row {
  @extend %button-focus-color;
  border-bottom: 1px solid $gray-lightest;
  border-left: 1px solid $gray-lightest;
  border-right: 1px solid $gray-lightest;
  display: block;
  padding-bottom: .5em;
  padding-top: .5em;

  .column-name {
    font-weight: bold;
  }

  &.station-schedule-header {
    background-color: $gray-lightest;
    font-weight: bold;
    white-space: nowrap;
  }
}

.station-trip-headsign,
.station-trip-name,
.station-trip-status {
  color: $gray-dark;
}

.schedule-upcoming-departure {
  @include media-breakpoint-down(xs) {
    padding-left: $grid-gutter-width / 2;
  }

  &:first-child {
    padding-left: $grid-gutter-width / 2;
  }

  &:last-child {
    padding-right: $grid-gutter-width / 2;
  }
}

.severe-delay {
  color: $brand-danger;
}

.station-schedules-empty {
  @include make-col();
  @include make-col-span(12);
  display: none;

  &:first-child {
    &:last-child {
      display: initial;
    }
  }
}

.station-map-container {
  margin-bottom: 1rem;

  .google-map {
    height: 16.5rem;
    width: 100%;

    @include media-breakpoint-only(md) {
      height: 14.375rem;
    }

    @include media-breakpoint-down(sm) {
      height: 10rem;
    }
  }
}

.stop-features-list {
  float: right;
}

.stop-feature-green {
  padding-left: $space-4;

  @include media-breakpoint-only(md) {
    display: none;
  }
}

.hub-stop-link {
  align-items: center;
  display: flex;
  margin: $base-spacing 0;

  @include media-breakpoint-down(sm) {
    background-color: $white;
    padding: $space-12;
  }

  .stop-features-list {
    display: inline-block;
    flex-basis: auto;
    flex-grow: 0;
    flex-shrink: 0;
    float: none;
  }

  .commuter-rail-zone {
    margin-left: $base-spacing / 2;
  }
}

.hub-stop-container {
  @include media-breakpoint-down(sm) {
    padding: 0 $base-spacing;
  }
}

.hub-stop-list {
  margin-bottom: 0;
  padding: 0;

  @include media-breakpoint-down(sm) {
    background-color: $gray-lightest;
    margin-bottom: $base-spacing;
    padding: $space-6 0;
  }

  .hub-stop-name {
    display: inline-block;
    flex: 1 0 0%;
  }
}

.stops-view-all-btn {
  border: $border;
  display: inline-block;
  margin-top: -$base-spacing;
  padding: $base-spacing;
  text-align: center;
  width: 100%;

  button {
    background-color: $white;
    border: 0;
    color: $brand-primary;
    padding: 0;
  }
}

.stops-hide-all-btn {
  background-color: $gray-lightest;
  display: none;
  margin-top: $space-12;
  padding: $space-8;
}

.stops-for-route {
  .collapse {
    @include media-breakpoint-up(md) {
      display: block;
    }
  }
}

.no-schedules-message {
  padding-top: $base-spacing;

  @include media-breakpoint-down(xs) {
    padding-top: 0;
  }
}
