$location-line-width: $space-6;

@mixin stop-bubble-mode-color($class, $color) {
// scss-lint:disable NestingDepth
// scss-lint:disable SelectorDepth
// Changes the color for the stop bubble based on the route type
  .route-branch-stop-list,
  .schedule-trip-info,
  .schedule-v2-timetable {
    &#{$class} {
      .icon-boring,
      .icon-inverse,
      .stop-bubble-stop,
      .stop-bubble-terminus {
        circle {
          fill: $white;
          stroke: $color;
          stroke-width: $space-2;
        }
      }

      .icon-inverse,
      .stop-bubble-terminus {
        circle {
          fill: $color;
        }
      }

      .route-branch-stop-bubble-line,
      .route-branch-indent-start {
        background-color: $color;
      }

      .route-branch-stop-bubble-line.dotted {
        outline: 1px solid $color;
      }

      .stop-bubble::before {
        border-left-color: $color;
      }
    }
  }
}

.route-branch-stop-list {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
}

.route-branch-stop {
  // scss-lint:disable VendorPrefix
  align-items: stretch;
  display: flex;
  -ms-flex: 1 1 auto;
  flex: 1;
  overflow: hidden; // IE10 hack -- unless overflow:hidden is set, a gap appears in the line
                    // when you hover over one of the links or the icons. No idea why. -kh
  width: 100%;
}

.route-branch-stop-bubbles {
  align-items: stretch;
  display: flex;
  flex: 0 0 auto;
  justify-content: flex-start;
}

.route-branch-stop-bubble {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: $icon-size;

  &.stop {
    margin-top: -1px;
  }

  .route-branch-indent-start {
    height: $location-line-width;
    left: -$base-spacing;
    position: relative;
    top: $base-spacing;
    width: .75rem;
  }

  svg {
    overflow: visible;
  }

  text {
    font-weight: bold;
  }

  .stop-bubble-terminus {
    text {
      fill: $white;
    }
  }
}

.route-branch-stop-bubble-line {
  // scss-lint:disable VendorPrefix
  -ms-flex: 1 0 auto;
  flex: 1;
  min-height: 1rem;
  width: $location-line-width;

  &.hidden {
    display: none;
  }
}

.green-line {
  .route-branch-stop-bubble-line {
    &.dotted {
      background-color: transparent;
      margin-top: 1px;
      width: 0;
    }
  }
}

.route-branch-stop-info {
  // scss-lint:disable VendorPrefix
  border-bottom: $border;
  -ms-flex: 1 1 auto;
  flex: 1;
  margin-bottom: $base-spacing;
  margin-left: $base-spacing;
  padding-bottom: $base-spacing;
  width: 100%;

  &.expand {
    border-bottom: 0;
    padding-bottom: 0;
  }
}

.expand-branch-link {
  a {
    background: $gray-lightest;
    border-radius: $border-radius;
    display: inline-block;
    padding: $base-spacing / 2;
  }
}

@include media-breakpoint-only(xs) {
  .route-branch-stop-link {
    display: block;
  }
}

@include media-breakpoint-up(sm) {
  .route-branch-stop-name-icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .schedule-link {
    float: right;
  }
}

@include media-breakpoint-only(xs) {
  .route-branch-stop-icons {
    margin-bottom: $base-spacing / 2;
  }
}

.route-branch-stop-zone {
  background: $gray-lightest;
  border-radius: $border-radius;
  display: inline-block;
  font-size: $font-size-sm;
  margin-bottom: $base-spacing / 4;
  padding: $base-spacing / 4;
}

@mixin stop-bubble-first() {
  .stop-bubble::before {
    // NB: The seemingly magic number 98% keeps the lines long enough
    // to hit the next stop bubble without overlapping and causing
    // visual noise. This may require adjustment if the height of the
    // rows changes in the future
    height: 98%;
    top: $space-2;
  }
}

@mixin stop-bubble-last() {
  .stop-bubble::before {
    display: none;
  }
}

@mixin stop-bubble-collapsed() {
  .stop-bubble {
    &::before {
      border-left-style: dotted;
      border-left-width: $location-line-width;
      // taller and adjusted up so it moves up towards the previous stop
      height: 150%;
      top: -$base-spacing * .75;
    }
  }
}

@mixin stop-info-column() {
  @include unpadded-column;

  display: block;
  margin-left: $base-spacing + $icon-size;
  padding-left: 0;
  width: grid-width(10);

  > span:first-child,
  > span:last-child {
    float: left;
    width: 50%;
  }
}

@mixin stop-bubble-row() {
  @extend %unpadded-table-row;
  background-color: transparent;
  border-bottom: 0;
  border-top: 0;
  position: relative;

  .stop-info {
    @include stop-info-column();
    border-bottom: $border;
    padding-bottom: $base-spacing;
  }
}

@include stop-bubble-mode-color(".commuter-rail", $brand-commuter-rail);
@include stop-bubble-mode-color(".red-line", $brand-red-line);
@include stop-bubble-mode-color(".blue-line", $brand-blue-line);
@include stop-bubble-mode-color(".orange-line", $brand-orange-line);
@include stop-bubble-mode-color(".green-line", $brand-green-line);
@include stop-bubble-mode-color(".bus", $brand-bus);
@include stop-bubble-mode-color(".ferry", $brand-ferry);
