.tab-list-group {
  margin: 0 0 $space-16;

  @include media-breakpoint-up(sm) {
    border-bottom: $space-4 solid $brand-primary;
  }

  @include media-breakpoint-only(xs) {
    &.side-by-side {
      border: 1px solid $brand-primary;

      .tab-list-tab {
        border: 0;
        margin: 0;
        width: 50%;
      }
    }
  }
}

.tab-selector-container {
  @include media-breakpoint-down(xs) {
    margin-bottom: $base-spacing;
  }
}

.tab-select-dropdown {
  border-color: $btn-primary-bg;
  border-radius: $border-radius;
  color: $gray-dark;
  padding: $base-spacing-sm;

  @include hover-focus-active {
    background-color: $btn-primary-focus-bg;
    color: $btn-primary-focus-color;
  }
}

// Custom override for
.tab-toggleable {
  // scss-lint:disable ImportantRule
  &-xs {
    @include media-breakpoint-up(sm) {
      display: block !important;
    }
  }

  &-sm {
    @include media-breakpoint-up(md) {
      display: block !important;
    }
  }

  &-md {
    @include media-breakpoint-up(lg) {
      display: block !important;
    }
  }
}
