@import 'variables';

.transit-near-me-page {
  p {
    text-align: center;
  }
}

.transit-near-me-results {
  column-gap: $grid-gutter-width / 2;
  display: flex;
  flex-flow: row wrap;
  margin: 0 0 $base-spacing;
  padding: $base-spacing;

  &.empty {
    display: none;
  }
}

.transit-near-me-gray {
  background: $gray-lightest;
}

.transit-near-me-white {
  background: $white;
}

.transit-card {
  @extend %title-card;
  display: inline-block;
  margin: .5rem;
  padding: 1rem 0;
  width: 100%;

  @include media-breakpoint-only(xs) {
    flex: 1 1 100%;
    margin: .25rem;
    padding: .5rem 0;
  }

  @include media-breakpoint-only(sm) {
    flex: 1 1 33%;
    margin: .25rem;
    padding: .5rem 0;
  }

  @include media-breakpoint-only(md) {
    flex: 1 1 33%;
  }

  @include media-breakpoint-up(xl) {
    flex: 1 1 20%;
  }
}

.transit-route {
  clear: both;
  color: $gray-dark;
  font-size: $font-size-sm;

  &:not(:last-child) {
    margin-bottom: .25rem;
  }
}

.transit-route-icon {
  float: left;
  width: $space-24;
}

.transit-route-name {
  float: left;
  width: 83%;
}

.transit-card-name {
  @extend %title-card-title;
  float: left;
  width: 66%;
}

.transit-card-distance {
  color: $gray-light;
  float: left;
  text-align: right;
  width: 33.333%;
}

.tnm-mode-links {
  color: $white;
  margin-top: $base-spacing-sm;

  a {
    color: $white;
    text-decoration: underline;
  }

  > .no-wrap {
    @media (max-width: 280px) {
      white-space: normal;
    }
  }
}
