@import 'variables';

.transit-near-me-page {
  p {
    text-align: center;
  }
}

.tnm-mode-links {
  color: $white;
  margin-top: $base-spacing-sm;

  a {
    color: $white;
    text-decoration: underline;
  }

  > .no-wrap {
    @media (max-width: 280px) {
      white-space: normal;
    }
  }
}
