.no-trips {
  font-size: $font-size-h4;
  font-weight: 700;
}

.instructions {
  color: $gray-light;
}

.trip-plan-form-container {
  @include media-breakpoint-up(md) {
    position: sticky;
    top: 0;
  }
}

.date-time-select {
  select {
    background-color: $white;
    border: $border;
    border-radius: $space-4;
    display: inline;
    padding: $space-6 $space-12;
    width: initial;
  }
}
