.no-trips {
  font-size: $font-size-h4;
  font-weight: 700;
}

.instructions {
  color: $gray-light;

  &:empty {
    display: none;
  }
}

.plan-date-container {
  display: none;
}

.trip-plan-form-container {
  @include media-breakpoint-up(md) {
    margin-bottom: 0;
    margin-top: 0;
    position: sticky;
    top: 0;
  }
}

.date-time-select {
  select {
    background-color: $white;
    border: $border;
    border-radius: $space-4;
    display: inline;
  }
}

.trip-plan-itinerary-container {
  margin-top: $space-12;

  > * {
    padding: $base-spacing;
  }
}

.trip-plan-itinerary-header {
  border: $border-width solid $brand-primary;
  border-radius: $border-radius;
  display: flex;

  &:not(.collapsed) {
    background-color: $brand-primary-darkest;
    border-radius: $border-radius $border-radius 0 0;
    color: $white;
  }

  &:focus,
  &:hover {
    text-decoration: none;
    background-color: $brand-primary;
  }
}

.trip-plan-itinerary-summary {
  display: flex;
  flex-wrap: wrap;
  flex: 1 1 auto;
}

.trip-plan-itinerary-legs {
  flex: 1 1 auto;

  .collapsed & .fa-angle-right {
    color: $gray-light;
  }
}

.trip-plan-itinerary-length {
  flex: 0 1 auto;
}

.trip-plan-itinerary-length-time {
  font-weight: bold;
}

.trip-plan-itinerary-length-distance {
  .collapsed & {
    color: $gray-dark;
  }

  a:not(.collapsed) & g {
    fill: $white;
  }
}

.trip-plan-itinerary-expand {
  flex: 0 0 auto;
  margin-left: 4px;
}

.trip-plan-itinerary-body {
  border: $border;
  border-radius: 0 0 $border-radius $border-radius;
}

.trip-plan-map {
  height: $base-spacing * 31.5;
  margin-bottom: $base-spacing;

  @include media-breakpoint-down(sm) {
    height: $base-spacing * 20;
  }
}

.trip-plan-initial-map {
  height: $base-spacing * 18;
  margin-bottom: $base-spacing;
  width: 100%;

  @include media-breakpoint-down(sm) {
    height: $base-spacing * 20;
  }
}

.trip-plan-related-links {
  display: flex;
  flex-flow: wrap;
  margin: $base-spacing 0;
  padding: 0;

  > * {
    display: inline-block;
    flex: 1;
    margin: $space-8 0;
    min-width: 15 * $base-spacing;
  }

  strong {
    flex: 2 0 100%;
  }
}

.trip-planner-form {
  @include media-breakpoint-up(sm) {
    &.collapse {
      display: block;
    }
  }
}

.trip-planner-edit-btn {
  margin-top: $space-8;
  width: 100%;
}

.planner-location-box-location {
  padding-bottom: $space-8;
}

.itinerary-transfer-row {
  width: 100%;
}

.itinerary-instruction {
  display: inline-block;
  max-width: 75%;
  padding-right: $space-8;
}

.itinerary-step {
  border-bottom: $border;
  flex: 1 1 0%;
  margin-bottom: $space-6;
  padding-bottom: $space-6;
  width: 100%;
}

.itinerary-stop {
  width: 100%;
}

.trip-plan-additional-routes {
  background-color: $brand-primary-lightest;
  margin: $space-8 0;
  padding: $space-12;
}

.trip-plan-additional-routes-list {
  margin-bottom: 0;
}
