// for referencing Bootstrap CDN font files directly
$fa-font-path: "https://opensource.keycdn.com/fontawesome/4.6.3/";
$brand-primary: #1c77c3;
$brand-primary-darkest: #0b2f4c;
$brand-primary-dark: #165c96;
$brand-primary-light: #5da9e8;
$brand-primary-lightest: #b6d8f5;

$brand-secondary: #ffce0c;
$brand-secondary-dark: #d8ac00;
$brand-secondary-light: #ffe372;

$gray: #494f5c;
$gray-dark: #1c1e23;
$gray-light: #788093;
$gray-lighter: #b0b5c0;
$gray-lightest: #e9eaed;

$grid-breakpoints: (
  xs: 0,
  sm: 544px,
  md: 768px,
  lg: 992px
);

$container-max-widths: (
  sm: 576px,
  md: 720px,
  lg: 768px
);
@import "node_modules/bootstrap/scss/variables";
$grid-gutter-width: 0.75rem; // 12px
$spacers: (
  0: (
    x:   0,
    y:   0
  ),
  1: (
    x:   $spacer-x,
    y:   $spacer-y
  ),
  2: (
    x:   ($spacer-x * 1.5),
    y:   ($spacer-y * 1.5)
  ),
  3: (
    x:   ($spacer-x * 3),
    y:   ($spacer-y * 3)
  ),
  g: ( // for grid
    x: $grid-gutter-width,
    y: $grid-gutter-width
  )
);


/* Train colors */
$brand-blue-line: #0064c8;
$brand-green-line: #428608;
$brand-orange-line: #ff8200;
$brand-red-line: #ff1428;
$brand-silver-line: #788093;
$brand-commuter-rail: #a00a78;
$brand-the-ride: #52BBC5;

$homepage-bg-color: #0b2f4c;
$nav-mobile-link-color: #fff;

$alert-color: $brand-secondary;
$alert-notice-color: #dcd3e8;

$font-family-base: 'Lato', $font-family-sans-serif;

$input-color: $gray-dark;
$list-group-link-color: $gray-dark;
