@import 'colors';

// for referencing Bootstrap CDN font files directly
$fa-font-path: "https://opensource.keycdn.com/fontawesome/4.6.3/";

$container-max-widths: (
  md: 768px,
  lg: 960px,
  xxl: 1200px
);

$grid-breakpoints: (
  xs: 0,
  sm: 544px,
  md: map-get($container-max-widths, md) + (16px * 2),
  lg: map-get($container-max-widths, lg) + (16px * 8),
  xxl: map-get($container-max-widths, xxl) + (18px * 8),
);

$headings-margin-bottom: .375em;
$headings-font-weight: bold;
$headings-line-height: 1.5;


@import "node_modules/bootstrap/scss/variables";
$spacers: (
  0: (
    x:   0,
    y:   0
  ),
  1: (
    x:   $spacer-x,
    y:   $spacer-y
  ),
  2: (
    x:   ($spacer-x * 1.5),
    y:   ($spacer-y * 1.5)
  ),
  3: (
    x:   ($spacer-x * 3),
    y:   ($spacer-y * 3)
  ),
  g: ( // for grid
    x: $grid-gutter-width,
    y: $grid-gutter-width
  )
);

$space-16: 1rem;
$space-12: $space-16 * .75;
$space-18: $space-12 * 1.5;
$space-24: $space-12 * 2;
$space-36: $space-16 * 2.25;
$space-8: $space-16 / 2; // 8px real, 4px Zeplin
$space-6: $space-12 / 2; // 6px real, 3px Zeplin
$space-4: $space-12 / 4; // 3px real, 1.5px Zeplin
$space-2: $space-12 / 6; // 2px real, 1px Zeplin
$space-1: $space-12 / 12; // 1px real, 0.5px Zeplin

$base-spacing: $space-16;
$base-spacing-sm: $space-8;
$base-spacing-lg: $space-24;
$base-spacing-xl: $space-36;

$font-family-base: 'Lato', $font-family-sans-serif;

// Font Sizes
$base-font-size: 16px;
$base-font-size-xxl: 18px;
$font-size-h1: 1.625rem;
$font-size-h1-xxl: 1.875rem;
$font-size-h2: 1.375rem;
$font-size-h2-xxl: 1.625rem;
$font-size-h3: 1.125rem;
$font-size-h3-xxl: 1.375rem;
$font-size-h4: $font-size-h3;
$font-size-h4-xxl: 1.125rem;
$font-size-h5: 1rem;
$font-size-h5-xxl: $font-size-h5;
$font-size-h6: .875rem;
$font-size-h6-xxl: $font-size-h5;

$border-width: $space-1;
$border-color: $gray-lightest;
$border: $border-width solid $border-color;
$border-radius: $base-spacing / 4;

// parser_ignore
$headings-margin-bottom: $space-16;
$header-navbar-height-multiplier: 3;
$header-navbar-height: $base-spacing * $header-navbar-height-multiplier;
$navbar-padding-vertical: $base-spacing * .75;
$navbar-padding-horizontal: 0;
$default-border-radius: $space-4;
$icon-size: $space-16 * 1.5;
$icon-size-sm: $space-16;
$icon-size-lg: $space-16 * 3;

$desktop-header-pattern: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAGCAYAAADgzO9IAAAAM0lEQVQYV2Nkl9X7z4AGnIz0GBjRJUCC+85dQpWACYIMgOtAFoRLoAuCJTz9Y/6DzEQHAIosF48Uujm+AAAAAElFTkSuQmCC);
