.alert-list {
  list-style: none;
  padding-left: 0;
}

.alert-list-route-type {
  display: inline;
  font-weight: bold;
  padding-right: 1em;
}

.alert-list-routes {
  display: inline;
}

.alert-list-all {
  float: right;
}
