@import "variables";

.alert-list {
  list-style: none;
  padding-left: 0;
}

.alert-list-item {
  margin-bottom: 0.5em;
  border-bottom: 1px solid $gray-lightest;
}

.alert-list-route-type {
  display: inline-block;
  font-weight: bold;
  padding-right: 1em;
  width: 9em;
}

.alert-list-routes {
  display: inline;

  .route-list {
    display: inline;
  }
}

.alert-list-all {
  float: right;
}
