@import 'variables';
@import 'bootstrap';
@import 'vendor/font-awesome-4.6.3/scss/font-awesome';
@import 'vendor/fixedsticky';
@import 'helpers';
@import 'route-icon';
@import 'mode-group';
@import 'headings';
@import 'card';
@import 'index';
@import 'alerts';
@import 'schedule';
@import 'mode-hub';
@import 'date-toggle';
@import 'stations';
@import 'modal';
@import 'errors';
@import 'customer-support';
@import 'fares';
@import 'button-group';

body {
  background-color: $homepage-bg-color;

  &.no-js {
    .collapse:target {
      display: block;
    };

    .hidden-no-js {
      display: none;
    }
  }

  &.js {
    .hidden-js {
      display: none;
    }

    .sr-or-no-js {
      @include sr-only();
    }
  }
}

.header {
  background-color: $white;
}

.navbar-logo {
  display: block;
  float: left;
  height: 36px;
  margin-right: .5em;
  width: 36px;

  svg {
    fill: $gray-dark;
  }
}

.navbar-brand,
.nav-link {
  color: $gray-dark;
}

.main-container {
  @extend .bg-white;
  padding-bottom: 1em;
}

.alert:empty {
  display: none;
}

.bg-gray-light {
  background-color: $gray-light;
}

.d-block {
  display: block;
}

@include media-breakpoint-down(sm) {
  .header {
    background-color: $brand-primary;
    color: $nav-mobile-link-color;
  }

  .navbar-brand,
  .nav-link {
    color: $nav-mobile-link-color;

    @include hover-focus-active {
      color: $nav-mobile-link-color;
      text-decoration: underline;
    }
  }

  .navbar-brand {
    font-size: 0.75rem !important;
    max-width: 12rem;
  }

  .navbar-logo {
    svg {
      left: 4px;
      position: absolute;
      top: 4px;
      width: 150px;

      g {
        fill: $white;
      }
    }
  }

  .nav-item {
    margin-left: 0 !important;
    text-align: center;
    width: 100%;

    a {
      height: 3rem;
    }
  }

  .full-width {
    // removes the margins on the outside
    @include make-row();
  }
}

@include media-breakpoint-down(sm) {
  // hide SM down, but remain visible to screen readers
  .focusable-sm-down {
    @include sr-only();
    @include sr-only-focusable();
  }
}

.social-nav {
  padding-top: 7px;

  @include media-breakpoint-down(md) {
    // move social icons up on tablets
    bottom: 3rem;
    height: 0;
    padding: 0;
    position: relative;
  }

  a {
    border-radius: 100%;
    color: $white;
    height: 24px;
    text-align: center;
    width: 24px;
  }

  li {
    margin-left: 6px;
  }

  .social-nav-instagram {
    background-color: $instagram;
  }

  .social-nav-youtube {
    background-color: $youtube;
  }

  .social-nav-twitter {
    background-color: $twitter;
  }
}

.top-bar {
  padding: .5em 0;

  @include media-breakpoint-down(sm) {
    padding-left: .5em;
  }
}

.breadcrumb-container {
  @extend .top-bar;
  background-color: $gray-lightest;

  i {
    color: $gray-light;
    padding: 0 .25em;
  }
}

.announcement-container {
  @extend .top-bar;
  background-color: $brand-primary-dark;
  color: $white;
  font-weight: 300;

  a {
    color: $white;
    font-weight: initial;

    &.btn-link:hover {
      color: $white;
    }
  }
}

html {
  min-height: 100%;
  position: relative;
}

// For the sticky footer

$footer-xs: 145px;
$footer-sm: 117px;
$footer-md-up: 222px;

.body-wrapper {
  @include media-breakpoint-only(xs) {
    margin-bottom: $footer-xs;
  }

  @include media-breakpoint-only(sm) {
    margin-bottom: $footer-sm;
  }

  @include media-breakpoint-up(md) {
    margin-bottom: $footer-md-up;
  }
}

.footer {
  background-color: $footer-color;
  bottom: 0;
  font-size: $font-size-sm;
  padding-top: 1rem;
  position: absolute;
  text-align: center;
  width: 100%;

  @include media-breakpoint-only(xs) {
    height: $footer-xs;
  }

  @include media-breakpoint-only(sm) {
    height: $footer-sm;
  }

  @include media-breakpoint-up(md) {
    color: $white;
    height: $footer-md-up;
  }

  @include media-breakpoint-down(sm) {
    margin-top: -.75rem;
    padding-top: .75rem;
  }
}

.footer-link-list {
  margin-bottom: 0;
  padding: 0 0 1em;

  @include media-breakpoint-up(md) {
    border-bottom: 1px solid $gray-lightest;
  }
}

.footer-link-sublist {
  list-style: none;
  padding: 0;

 }

.footer-link-list-item {
  list-style: none;
  text-align: left;

  @include media-breakpoint-down(sm) {
    margin: .75em 0;
    text-align: center;
  }
}

.footer-link-sublist-item {
  margin: .25em 0;

  @include media-breakpoint-down(sm) {
    display: inline;
  }

  @include media-breakpoint-down(sm) {
    &:first-child::after,
    &:last-child::after {
      content: '';
    }

    &::after {
      color: $white;
      content: 'â—';
      font-size: .75em;
      margin: 0 .25em;
    }
  }

  > a {
    color: $brand-primary-light;
    font-weight: lighter;
  }

  &:first-child {
    display: list-item;

    > a {
      color: $white;
      font-weight: normal;
    }
  }
}

.footer-copyright {
  display: inline-block;
  font-weight: lighter;
  margin-bottom: 0;
  padding: 1em 0;

  @include media-breakpoint-down(sm) {
    color: $white;
    padding-top: 0;
  }
}

// To be removed once the smart banner is disabled
div {
  &.smartbanner {
    top: -80px;
  }
}
