@import 'variables';
@import 'bootstrap';
@import 'vendor/font-awesome-4.6.3/scss/font-awesome';
@import 'helpers';
@import 'route-icon';
@import 'mode-group';
@import 'card';
@import 'index';
@import 'alerts';
@import 'schedule';
@import 'mode-hub';
@import 'date-toggle';
@import 'stations';
@import 'modal';
@import 'errors';
@import 'customer-support';

body {
  background-color: $homepage-bg-color;

  &.no-js {
    .collapse {
      // don't hide collapsed elements if we can't re-open them
      display: block;
    };

    .hidden-no-js {
      display: none;
    }
  }

  &.js {
    .hidden-js {
      display: none;
    }

    .sr-or-no-js {
      @include sr-only();
    }
  }
}

@include media-breakpoint-up(md) {
  // we only need the BG image if the screen is big enough
  .not-found {
    background-image: url(/images/mbta-train-bkg-404.jpg);
  }
  body {
    background-image: url(/images/mbta-train-bkg.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
  }
}

.header {
  background-color: $white;
}

.navbar-logo {
  svg {
    fill: $gray-dark;
  }
}

.navbar-brand, .nav-link {
  color: $gray-dark;
}

.main-container {
  @extend .bg-white;
  padding-bottom: 1em;
}

.alert:empty {
  display: none;
}

.navbar-logo {
  float: left;
  display: block;
  height: 36px;
  width: 36px;
  margin-right: 0.5em;
}

@include media-breakpoint-down(sm) {
  .header {
    background-color: $brand-primary;
    color: $nav-mobile-link-color;
  }

  .navbar-brand, .nav-link {
    color: $nav-mobile-link-color;

    @include hover-focus-active {
      color: $nav-mobile-link-color;
      text-decoration: underline;
    }
  }

  .navbar-brand {
    font-size: 0.75rem !important;
    max-width: 12rem;
  }

  .navbar-logo {
    svg {
      position: absolute;
      width: 150px;
      left: 4px;
      top: 4px;

      g {
        fill: white;
      }
    }
  }

  .nav-item {
    margin-left: 0 !important;
    text-align: center;
    width: 100%;

    a {
      height: 3rem;
    }
  }

  .full-width {
    // removes the margins on the outside
    @include make-row();
  }
}

@include media-breakpoint-down(sm) {
  // hide SM down, but remain visible to screen readers
  .focusable-sm-down {
    @include sr-only();
    @include sr-only-focusable();
  }
}

#social-nav {
  padding-top: 7px;

  a {
    width: 24px;
    height: 24px;
    text-align: center;
    border-radius: 100%;
    color: white;
  }

  li {
    margin-left: 6px;
  }

  .social-nav-instagram {
    background-color: #1c1e23;
  }

  .social-nav-youtube {
    background-color: #cd201f;
  }

  .social-nav-twitter {
    background-color: #55acee;
  }

  @include media-breakpoint-down(md) {
    // move social icons up on tablets
    position: relative;
    bottom: 3rem;
    height: 0;
    padding: 0;
  }
}

.top-bar {
  padding: .5em 0;

  @include media-breakpoint-down(sm) {
    padding-left: .5em;
  }
}

.breadcrumb-container {
  @extend .top-bar;
  background-color: $gray-lightest;

  i {
    padding: 0 .25em;
    color: $gray-light;
  }
}

.alert-container {
  @extend .top-bar;
  background-color: $brand-primary-dark;
  color: white;
  font-weight: 300;

  a {
    color: white;
    font-weight: initial;

    &.btn-link:hover {
      color: white;
    }
  }
}

html {
  min-height: 100%;
  position: relative;
}

// For the sticky footer

$footer-xs: 426px;
$footer-sm: 342px;
$footer-md-up: 222px;

.body-wrapper {
  @include media-breakpoint-only(xs) {
    margin-bottom: $footer-xs;
  }

  @include media-breakpoint-only(sm) {
    margin-bottom: $footer-sm;
  }

  @include media-breakpoint-up(md) {
    margin-bottom: $footer-md-up;
  }
}

.footer {
  bottom: 0;
  font-size: $font-size-sm;
  padding-top: 1rem;
  position: absolute;
  text-align: center;
  width: 100%;
  background-color: $footer-color;

  @include media-breakpoint-only(xs) {
    height: $footer-xs;
  }

  @include media-breakpoint-only(sm) {
    height: $footer-sm;
  }

  @include media-breakpoint-up(md) {
    height: $footer-md-up;
    color: $white;
  }

  @include media-breakpoint-down(sm) {
    margin-top: -.75rem;
    padding-top: .75rem;
  }
}
.footer-link-list {
  padding: 0 0 1em 0;
  margin-bottom: 0;
  border-bottom: 1px solid $gray-lightest;
}

.footer-link-sublist {
  list-style: none;
  padding: 0;

 }

.footer-link-list-item {
  list-style: none;
  text-align: left;

  @include media-breakpoint-down(sm) {
    margin: .75em 0;
  }
}

.footer-link-sublist-item {
  margin: .25em 0;

  @include media-breakpoint-down(sm) {
    display: inline;
  }

  & > a {
    color: $white;
    font-weight: lighter;
  }

  &:first-child > a {
    font-weight: normal;
  }

  &:first-child {
    display: list-item;
  }

  @include media-breakpoint-down(sm) {
    &:first-child::after,
    &:last-child::after {
      content: "";
    }

    &::after {
      color: $white;
      content: "●";
      margin: 0 .25em;
    }
  }
}

.footer-copyright {
  display: inline-block;
  margin-bottom: 0;
  padding: 1em 0;
  font-weight: lighter;

  @include media-breakpoint-down(sm) {
    color: $white;
  }
}
