@import "variables";
@import "bootstrap";
@import "helpers";

@import "index";
@import "alerts";
@import "stations";
@import "schedule";
@import "date-toggle";

body {
  background-color: $homepage-bg-color;
  background-image: url(/images/mbta-train-bkg.jpg);
  background-repeat: no-repeat;
}

.header {
  background-color: white;
}

.footer {
  margin-top: 1em;
  color: white;
  text-align: center;
}

.footer-link-list {
  @include clearfix;
  padding: 0;
}

.footer-link-list-item {
  display: inline;
  list-style: none;

  &:before {
    content: " | ";
  }
  &:first-child:before {
    content: "";
  }
}

.footer-link {
  color: white;
}

.main-container {
  @extend .bg-white;
  padding-bottom: 1em;
}

.alert:empty {
  display: none;
}

.navbar-logo {
  float: left;
  margin-right: 0.5em;
}

@include media-breakpoint-down(sm) {
  .navbar-brand {
    font-size: 0.75rem !important;
    max-width: 12rem;
  }

  .nav-item {
    margin-left: 0 !important;
    text-align: center;
    width: 100%;

    a {
      height: 3rem;
    }
  }

  .full-width {
    // removes the margins on the outside
    @include make-row();
  }
}
