@import 'variables';
@import 'bootstrap';
@import 'lato';
@import 'footer';
@import 'header';
@import 'page';
@import 'font-sizes';
@import 'vendor/font-awesome-4.6.3/scss/font-awesome';
@import 'vendor/fixedsticky';

html {
  height: 100%;
  position: relative;
}

body {
  align-items: stretch;
  background-color: $homepage-bg-color;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: flex;
  height: 100%;
  justify-content: center;
  min-width: 20rem;
  text-rendering: optimizeLegibility;

  &.no-js {
    .collapse:target {
      display: block;
    };

    .hidden-no-js {
      display: none;
    }
  }

  &.js {
    .hidden-js {
      display: none;
    }

    .sr-or-no-js {
      @include sr-only();
    }
  }

  // Only show the main content on the mTicket app's view
  &.mticket {
    .announcement-container,
    .header,
    .footer,
    .smartbanner {
      display: none;
    }

    // Remove space reserved for the footer
    .body-wrapper {
      margin-bottom: 0;
      padding-bottom: 0;
    }
  }
}

.container {
  @include media-breakpoint-up(md) {
    padding-left: 0;
    padding-right: 0;
  }
}

.body-wrapper {
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  height: 100%;
  max-width: 100%;
  width: 100%;
}

.alert-announcement-container,
.header,
.breadcrumb-container,
.footer-announcement-container,
.footer {
  flex: 0 0 auto;
  max-width: 100%;
  width: 100%;
}

.alert-announcement-container,
.header,
.breadcrumb-container {
  align-self: flex-start;
}

.footer,
.footer-announcement-container {
  align-self: flex-end;
}

.pre-container-wrapper,
.post-container-wrapper,
.page-container {
  flex-basis: auto;
  flex-grow: 1;
  flex-shrink: 0;
}

.pre-container-wrapper,
.post-container-wrapper {
  max-width: 100%;
  width: 100%;
}

.post-container-wrapper {
  padding-top: $base-spacing;
}

.page-container {
  align-self: center;
  margin: 0 auto;
  padding: 0 0 $base-spacing * 2;
}

@each $breakpoint, $width in $container-max-widths {
  @include media-breakpoint-only($breakpoint) {
    .container,
    .page-container {
      max-width: $width;
    }

    .page-container {
      width: $width;
    }
  }
}

.main-container {
  background-color: $white;
  padding-bottom: $base-spacing;
}

@include media-breakpoint-down(sm) {
  // hide SM down, but remain visible to screen readers
  .focusable-sm-down {
    @include sr-only();
    @include sr-only-focusable();
  }
}

%top-bar {
  padding-bottom: $space-8;
  padding-top: $space-8;
}

.breadcrumb-container {
  @extend %top-bar;
  background-color: $gray-bordered-background;
  border: solid 1px $gray-lightest;
  color: $gray-dark;

  i {
    color: $gray-light;
    padding: 0 .25em;
  }
}

.announcement-container {
  background-color: $gray-bordered-background;
  border: solid 1px $gray-lightest;
  color: $gray-dark;
  padding-bottom: $base-spacing;
  padding-top: $base-spacing;

  @include media-breakpoint-down(sm) {
    padding-bottom: $base-spacing-sm;
    padding-top: $base-spacing-sm;
  }
}

.footer-announcement-container {
  min-width: 20rem;
}

.beta-announcement {
  float: left;
  font-size: $font-size-base;
  text-align: center;
}

.beta-announcement-link {
  font-weight: bold;
}

.alert-announcement-container {
  @extend %top-bar;
  background-color: $alert-color-lighter;
  color: $gray-dark;
  font-size: $font-size-base;
  padding-bottom: $space-16;
  padding-top: $space-16;

  a {
    @include hover-focus-active {
      text-decoration: none;
    }
  }
}

.alert-announcement-header {
  color: $gray-dark;

  @include hover-focus-active {
    color: $gray-dark;
  }

  .alert-item-icon {
    margin-top: 0;
  }
}

.alert-announcement-message {
  float: left;
  width: 90%;

  @include media-breakpoint-only(md) {
    width: 80%;
  }

  @include media-breakpoint-down(sm) {
    width: 70%;
  }
}

// To be removed once the smart banner is disabled
div {
  &.smartbanner {
    top: -80px;
  }
}

.d-inline {
  display: inline;
}

figcaption {
  font-size: $font-size-sm;
  padding-top: $space-12;
  text-align: center;
  width: 100%;
}

.error-container {
  background-color: $form-error-message;
  margin-top: .5em;

  span {
    display: inline-block;
    margin: .5em;

    // NB this should use the single-colon syntax (i.e. :before); it's
    // older CSS2 syntax but FA uses it and due to the way SCSS @extend
    // works we need to match selector syntax.
    // scss-lint:disable PseudoElement
    &:before {
      @include fa-icon();
      content: $fa-var-exclamation-circle;
      margin-right: .25em;
    }
  }
}
