.index {
  .card, .card-header {
    border-radius: 0;
  }
}

.route-list {
  list-style: none;
  padding: 0;
}

.route-list-item-inline {
  display: inline;
  &:after {
    content: ", "
  }
  &:last-child:after {
    content: ""
  }
}
