<%= link to: @href, class: "title-card", target: @target do %>
  <div class="title-card-title"><%= @title %></div>
  <ul>
    <%= for topic <- @body do %>
      <li><%= topic %></li>
    <% end %>
  </ul>
<% end %>
