<div class="row">
  <div class="col-xs-12">
    <%= if @route do %>
      <div class="p-a-1">
        <strong>
          <%= mode_icon @route %>
          <%= @route.name %>: Service Alerts & Notices</strong>
        </strong>
      </div>
    <% end %>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <%= render "_t-alerts.html", conn: @conn %>
  </div>
</div>
