<% is_notice? = !is_nil(@alert) && Alerts.Alert.is_notice?(@alert, @time) %>
<span class="alert-item-icon<%= if is_notice? do %> alert-item-icon-notice<% end %>">
  <%= if is_notice? do %>
    <%= fa "sticky-note" %>
  <% else %>
    <%= fa "exclamation-triangle" %>
  <% end %>
</span>
