<div class="t-alerts-container">
  <%= link to: redirect_path(Site.Endpoint, "rider_tools/t_alerts/"), target: "_blank" do %>
    Sign up for T-Alerts <%= fa "mobile" %> <%= fa "envelope" %>
  <% end %>
</div>
