<div class="t-alerts-container">
  <hr>
  <%= link to: redirect_path(@conn, "rider_tools/t_alerts/") do %>
    Sign up for T-Alerts <%= fa "mobile" %> <%= fa "envelope" %>
    <%= fa "angle-right fa-pull-right" %>
  <% end %>
  <hr>
</div>
