<div class="card card-section">
  <div class="card-header">
    <div class="row">
      <div class="col-xs-12">
        <strong class="text-center" >
          <%= @route.name |> clean_route_name %>
        </strong>
      </div>
    </div>
  </div>
  <div class="card-block">
    <%= Site.AlertView.modal alerts: @alerts ++ @upcoming_alerts, route: @route %>
  </div>
</div>
