<%= unique_id = :rand.uniform |> Float.to_string |> String.slice(2..10) %>
<ul class="alert-list">
  <%= for alert <- @alerts do %>
    <li class="alert-list-item">
      <%= render "_item.html", alert: alert, extra_id: unique_id %>
    </li>
  <% end %>
</ul>
