<%= Site.ScheduleV2View.render "_route.html", forward_assigns(@conn) %>
<%= Site.ScheduleV2View.render "_direction.html", forward_assigns(@conn) %>
<p>To view schedules for a specific stop, please enter your origin and destination</p>
<%= Site.ScheduleV2View.render "_stop_filters.html", forward_assigns(@conn) %>
