<%= Phoenix.HTML.Tag.content_tag :div, class: list_class(args) do %>
  <%= button_group(%Site.Components.Buttons.ButtonGroup{
    class: "#{args.class}",
    id: args.id,
    links: make_buttons(args)
  }) %>
<% end %>
