<div class="col-xs-12 col-md-6 fares-callout-container">
  <div class="fares-callout <%= @class %>">
    <h3><%= @title %></h3>
    <hr class="line" />
    <p>
      <%= @body %>
    </p>
    <a class="btn btn-secondary-outline" href="<%= @href %>" target="_blank">Learn More</a>
  </div>
</div>
