<div>
  <a class="fares-tab p-a-1 col-md-4 col-xs-12" href="<%= fare_path(@conn, :commuter, update_query(@conn, fare_type: "adult")) %>">Adult</a>
  <a class="fares-tab p-a-1 col-md-4 col-xs-12" href="<%= fare_path(@conn, :commuter, update_query(@conn, fare_type: "student")) %>">Student</a>
</div>
<%= render "_#{@fare_type}.html",  fares: filter_fares(@fares, @fare_type), conn: @conn %>
