<%= link to: @href, class: "related-link" do %>
  <div class="related-link-title"><%= @title %></div>
  <ul>
    <%= for topic <- @body do %>
      <li><%= topic %></li>
    <% end %>
  </ul>
<% end %>
