<div class="c-recently-visited">
  <%= content_tag(:h2, [fa("star"), " ", "Recently Visited"], class: Map.get(assigns, :header_class, "h2")) %>
  <%= render SiteWeb.ModeView, "_grid_buttons.html",
        conn: @conn,
        routes: @routes,
        all_alerts: @all_alerts,
        date_time: @date_time,
        show_icons?: true
  %>
</div>
