<span data-html="true" data-toggle="tooltip" data-placement="right" class="vehicle-bubble <%= if @green_line? do %>vehicle-bubble__green<% end %>" title="<%= VehicleHelpers.tooltip(@vehicle_tooltip) %>">
  <%= bw_circle_icon(@route_type, :default) %>
</span>
