<div class="<%= @class %>">
  <%= link to: @href, "aria-hidden": "true" do %>
    <div class="getting-around-card">
      <%= @text %>
    </div>
  <% end %>
  <%= link to: @href do %>
    <%= @text %> <%= fa "arrow-right" %>
  <% end %>
</div>
