<%= tab_selector %Site.Components.Tabs.TabSelector{links: mode_links(args.links),
                              id: args.id,
                              class: "tab-select-btn-group-stacked #{args.class}",
                              selected: args.selected_mode,
                              icon_map: build_mode_icon_map(args.links)}
%>
