<%= Site.AlertView.modal alerts: @stop_alerts, hide_t_alerts: true, time: @date, route: %{id: @stop.id |> String.replace(" ", "-"), name: @stop.name} %>
<%= for {mode, routes} <- @grouped_routes do %>
  <%= render schedule_template(mode), forward_assigns(@conn |> Plug.Conn.assign(:mode, mode) |> Plug.Conn.assign(:routes, routes)) %>
<% end %>
<p aria-hidden="true">
  <%= fa "rss station-schedule-icon" %> Real-time information
</p>
