<%= for %HubStop{detailed_stop: detailed_stop, image_path: path} <- @hubs do %>
  <div class="col-md-4 col-xxl-3">
    <img src=<%= static_url(@conn, path)%> class="img-fluid"/>
    <div class="hub-stop-link">
      <%= link detailed_stop.stop.name, to: stop_path(@conn, :show, detailed_stop.stop.id) %>
      <span class="stop-features-list"><%= feature_icons(detailed_stop)%></span>
    </div>
  </div>
<% end %>
